@import "/page.css";
@import "/table.css";

.app-devices {
    display: block;
}

/*.content-header-extra {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    z-index: 900;
    top: 0;
}
*/

.content-filter {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 10px 16px 10px 20px;
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    z-index: 1;
    height: 50px;
}

.content-main {
    padding-top: 1em;
}

dt {
    clear: left;
    float: left;
    width: 6em;
    min-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #888;
    font-weight: normal;
    text-align: left;
}

dd {
    margin-left: 6.5em;
    min-height: 26px;
    max-width: 30em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.device-props {
    padding-bottom: 0.5em;
}

.device-props + .device-props {
    border-top: 1px solid #ccc;
    padding-top: 0.5em;
}

.device-props-code {
    color: #888;
    white-space: nowrap;
    padding-left: 0.5em;
}

.device-props-driver-button {
    margin-left: 0.5em;
    min-height: 10px;
}

.device-props-driver-combo {
    display: inherit;
    position: absolute;
    max-width: 10em;
}

.device-groupby-selected {
    font-weight: bold;
}

.usb-device-name-with-children {
    font-weight: bold;
}
.usb-device-name-level-0 {
}
.usb-device-name-level-1 {
    margin-left: 0.5em;
    padding-left: 0.4em;
    border-left: 1px solid #d1d1d1;
}
.usb-device-name-level-2 {
    margin-left: 1em;
    padding-left: 0.4em;
    border-left: 1px solid #d1d1d1;
}
.usb-device-name-level-3 {
    margin-left: 1.5em;
    padding-left: 0.4em;
    border-left: 1px solid #d1d1d1;
}
.usb-device-name-level-4 {
    margin-left: 2em;
    padding-left: 0.4em;
    border-left: 1px solid #d1d1d1;
}
.usb-device-name-level-5 {
    margin-left: 2.5em;
    padding-left: 0.4em;
    border-left: 1px solid #d1d1d1;
}
.usb-device-name-level-6 {
    margin-left: 3em;
    padding-left: 0.4em;
    border-left: 1px solid #d1d1d1;
}
.usb-device-name-level-7 {
    margin-left: 3.5em;
    padding-left: 0.4em;
    border-left: 1px solid #d1d1d1;
}
.usb-device-name-level-8 {
    margin-left: 4em;
    padding-left: 0.4em;
    border-left: 1px solid #d1d1d1;
}
