// PF4 issue https://github.com/patternfly/patternfly-react/issues/4612
@import "~@patternfly/patternfly/components/Table/table.scss";
@import "~@patternfly/patternfly/components/Table/table-grid.scss";
@import "~@patternfly/patternfly/components/Toolbar/toolbar.scss";

// Mimic .pf-c-table__action
#virtual-machines-listing td:last-child {
    --pf-c-table--cell--Width: 1%;
}

#virtual-machines-page-main-nav {
    padding: 0;
}

// Expand the link to the container, for easier clickability
#virtual-machines-listing th a {
    display: block;
    text-align: left;
}

/* Add  the missing space when the list's toolbar wraps
 * patternfly/patternfly#3348
 */
.pf-c-toolbar__content-section {
    gap: var(--pf-global--spacer--sm) 0;
}
