/* SPDX-License-Identifier: LGPL-2.1-or-later */
#badge {
    inline-size: 73px;
    block-size: 69px;
    background-image: url("logo.png");
    background-repeat: no-repeat;
}

#brand::before {
    min-inline-size: 121px;
    min-block-size: 18px;
    background-image: url("brand-large.png");
    background-repeat: no-repeat;
}
