
.login-note {
    color: transparent;
    position: relative;
}

body.login-pf {
    background: url("bg-login.jpg") no-repeat 50% 0;
    background-size: auto;
    background-color: #101010;
}

#badge {
    width: 73px;
    height: 69px;
    background-image: url("logo.png");
    background-repeat: no-repeat;
}

#brand {
    width: 486px;
    height: 18px;
    background-image: url("brand-large.png");
    background-repeat: no-repeat;
}

#index-brand {
    content: "Cockpit";
    font-weight: bold;
}
