@import "../variables-bootstrap.less";
@import "../variables-patternfly.less";

@sidebar-width: 100;
@sidebar-pf-bg: #f2f2f2;
@listing-hover: @list-group-hover-bg;
@metadata-color: #888;
@command-bg-color: #eee;

@import "sidebar.less";
@import "filter.less";
@import "dropdown.less";


@import "dashboard.less";
@import "images.less";
@import "layers.less";
@import "projects.less";

#content {
    margin-left: unit(@sidebar-width + 10, px);
    margin-right: 0px;
    min-height: 100%;
}

.listing-body dl {
    margin-bottom: 13px;
}
