.table tbody tr:last-child td {
    border-bottom: 1px solid #d1d1d1;
}

table.delete-dialog-disks.table tbody tr td:nth-child(1) {
    padding-left: 5px;
    padding-right: 5px;
    width: 20px;
}

table.delete-dialog-disks.table tbody tr td:nth-child(3) {
    text-align: right;
}
