.dialog-field {
    display: inline-flex;
    padding: 0px;
}

.dialog-field > label {
    white-space: nowrap;
    color: #888888;
    float: right;
    width: 100%;
    text-align: right;
}

.dialog-field .form-control {
    margin-left: 5px !important;
}

.modal-body .add-disk-dialog {
    height: 16em;
    padding-bottom: 0px !important;
}

.add-disk-body .row,
.add-disk-dialog .row {
    padding-bottom: 0.5em;
}

.add-disk-body .row:first-child {
    padding-bottom: 2em;
    padding-top: 1em;
}

.add-disk-body .row:last-child {
    padding-top: 1em;
}

.add-disk-size {
    width: 5em;
    margin-right: 5px;
    text-align: right;
}

.add-disk-target > label {
    width: auto;
    padding-left: 2em;
}

.add-disk-file-format > label {
    width: auto;
    padding-left: 2em;
}

.add-disk-attach-perm {
    padding-left: 5px;
}

.add-disk-attach-perm > label {
    margin-left: 5px;
    text-align: left;
    color: #363636;
}

.add-disk-attach-perm > input[type=checkbox] { }

.add-disk-source {
    padding-left: 5px;
}

.add-disk-select-source {
    padding: 0px;
    width: auto;
    padding-right: 20px;
}

.add-disk-select-source > label {
    margin-left: 5px;
    text-align: left;
    color: #363636;
}

.add-disk-select-source > input[type=radio] { }
