/* Standard dialog is too narrow and wide dialog is too wide */
.nic-edit > .modal-dialog {
    width: 70rem;
}

/* Form has double padding; remove it, except for the last in row */
.nic-edit .form-group > :not(:last-child) {
    padding-right: 0;
}

.machines-network-list .pficon-pending {
    margin-left: 0.5rem;
}
