.vcpu-modal-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-row-gap: 1em;
}

input#machines-vcpu-count-field {
    width: 70px;
}

input#machines-vcpu-max-field {
    width: 70px;
}

#machines-vcpu-modal-dialog div.ct-form-layout .btn-group.bootstrap-select.dropdown {
    width: 110px;
}

#machines-vcpu-modal-dialog div.ct-form-layout .fa-info-circle {
    line-height: inherit;
}
