[WebService]

{{if .is_registry }}
LoginTitle = Atomic Registry
Shell = /shell/simple.html
{{else}}
Shell = /shell/stub.html
{{if .is_openshift }}
LoginTitle = Openshift Cockpit
{{else}}
LoginTitle = Kubernetes Cockpit

[Negotiate]
Action = spawn-login-with-decoded
Command = {{.login_command}}
{{end}}
{{end}}

[Basic]
Action = spawn-login-with-decoded
Command = {{.login_command}}

{{if .oauth_url }}
[Bearer]
Action = spawn-login-with-header
Command = {{.login_command}}

[OAuth]
Url = {{.oauth_url}}
{{end}}
