[Unit]
Description=Dynamic user for /run/cockpit/session socket
Documentation=man:cockpit-ws(8)
BindsTo=cockpit-session.socket

[Service]
DynamicUser=yes
User=cockpit-session-socket
Group=cockpit-session-socket
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes
