[Unit]
Description=Initiator socket for Cockpit sessions

[Socket]
ListenStream=/run/cockpit/session
SocketUser=root
SocketGroup=cockpit-wsinstance
SocketMode=0660
Accept=yes
