[Unit]
Description=Socket for Cockpit Web Service http instance
BindsTo=cockpit.service
Documentation=man:cockpit-ws(8)
Requires=cockpit-wsinstance-socket-owner.service
After=cockpit-wsinstance-socket-owner.service

[Socket]
ListenStream=/run/cockpit/wsinstance/http.sock
SocketUser=root
SocketGroup=cockpit-wsinstance-socket
SocketMode=0660
