@import "../machines/machines.less";

.ovirt-provider-listing-top-column {
  width: 33%;
  vertical-align: top;
}

.content-extra-header {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  z-index: 900;
  top: 0;
}

.top-menu-selected {
  font-weight: bold;
}

.top-menu-link {
  padding-right: 2em;
  padding-left: 2em;
}

.top-menu-link + .top-menu-link {
  border-left: 1px solid #d1d1d1;
}

.main-app-div {
  padding-top: 2em;
}

.ovirt-login-in-progress {
  float: right;
  margin-bottom: 0px;
  color: darkred;
}
