@import "../lib/page.scss";
@import "../lib/table.css";
@import "@patternfly/patternfly/components/Alert/alert.scss";
@import "@patternfly/patternfly/components/Button/button.scss";
@import "@patternfly/patternfly/components/Page/page.scss";
@import "@patternfly/patternfly/components/EmptyState/empty-state.scss";

/* The following are needed for the Modal */
@import "@patternfly/patternfly/components/Backdrop/backdrop.scss";
@import "@patternfly/patternfly/layouts/Bullseye/bullseye.scss";
@import "@patternfly/patternfly/components/ModalBox/modal-box.scss";

#sos-error-extra {
    width:      100%;
    max-width:  100%;
    min-width:  100%;
    min-height: 200px;
}

#sos-progress > div:first-child,
#sos-download > div:first-child
{
    margin-bottom: 5px;
}

#sos-progress .progress-bar {
    width: 0%;
}
