[flake8]
ignore=
    # line break after binary operator
    W504
builtins =
    # inotify.py get pasted together with other files
    Inotify,
    IN_CREATE, IN_MOVED_TO,
    IN_MOVED_FROM, IN_MOVE_SELF,
    IN_DELETE, IN_DELETE_SELF,
    IN_CLOSE_WRITE,
    IN_IGNORED,

max-line-length = 200
