[flake8]
# Use flake8 only to cover rules not yet supported (or enabled by
# default) with ruff.  See https://github.com/astral-sh/ruff/issues/2402
# and https://github.com/astral-sh/ruff/releases/tag/v0.0.269
select=
  E1
  E2
  E3
