*.o
*~
vgcore.*
*.pyc
__pycache__
*.log
*.trs

/AUTHORS
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/libvirt-dbus.spec
/src/.deps/
/src/Makefile
/src/Makefile.in
/stamp-h1

/src/libvirt-dbus
/src/org.libvirt.service
