*.lo
*.a
*.o
*.cache
*.la
*.pc
*.gcda
*.gcno
*.gir
*.pyc
*.typelib
*.so
*~
*.dirstamp
.deps/
.libs/
Makefile
Makefile.in
/stamp-h1
missing
/libtool
cockpit-polkit
ltmain.sh
install-sh
/mkinstalldirs
/config.h
/config.h.in
/aclocal.m4
config.guess
/config.log
/config.status
config.sub
/configure
depcomp
/.sass-cache
/lang/da.json
/lang/de.json
/com.redhat.Cockpit.service
/cockpit-generated.c
/cockpit-generated.h
/cockpit-generated-doc-com.redhat.*.xml
/cockpit
/cockpit.8
/cockpit.service
/cockpit.conf.5
/cockpit.js
/spawn.js
/cockpit.service
/cockpitd
/cockpitd.8
/src/daemon/data/lang/da.json
/src/daemon/data/lang/de.json
/test-server
/test-server-generated.c
/test-server-generated.h
/test/mock
/test/test-machine
/test/testlib.pyc
/test/*.rpm
/test/run
/cockpit-session
/test-session
/cockpit-agent
/test-agent
/tools/*.m4
/tools/coverage
/tools/coverage.info
/tools/coverage.base
/tools/coverage.all
/tools/coverage.test
/tools/test-driver
/test-*
/frob-*
/mock-*
/cockpit-testing.service
/com.redhat.lvm2.c
/com.redhat.lvm2.h
/liblvmdbus.a
/dbus-test.html
/dbus-test.js
/dbus.js
/qunit.css
/testing.js
/channel.js
/cockpit-journal-renderer.js
/index.html
/rest.js
/cockpit-util.js
/cockpit-ws
/cockpit-ws.8
/po/cockpit.pot
/polyfills.js
