[submodule "modules/systemd_ctypes"]
	path = modules/systemd_ctypes
	url = https://github.com/allisonkarlitskaya/systemd_ctypes.git
[submodule "node_modules"]
	path = node_modules
	url = https://github.com/cockpit-project/node-cache.git
[submodule "test/reference"]
	path = test/reference
	url = https://github.com/cockpit-project/pixel-test-reference
	branch = empty
[submodule "modules/ferny"]
	path = modules/ferny
	url = https://github.com/allisonkarlitskaya/ferny
