*.lo
*.a
*.o
*.cache
*.la
*.pc
*.gcda
*.gcno
*.gir
*.pyc
*.typelib
*.so
*~
*.dirstamp
.deps/
.libs/
Makefile
Makefile.in
/stamp-h1
missing
/libtool
cockpit-polkit
ltmain.sh
install-sh
/mkinstalldirs
/config.h
/config.h.in
/aclocal.m4
config.guess
/config.log
/config.status
config.sub
/configure
depcomp
/.sass-cache
/.zanata-cache
/lang/da.json
/lang/de.json
/com.redhat.Cockpit.service
/cockpit-generated.c
/cockpit-generated.h
/cockpit-generated-doc-com.redhat.*.xml
/cockpit
/cockpit.8
/cockpit.service
/cockpit.conf.5
/*.js
/cockpit.service
/cockpit-wrapper
/node_modules
/test-server
/test-server-generated.c
/test-server-generated.h
/test/mock
/test/test-machine
/test/testlib.pyc
/test/*.rpm
/test/files/cockpit_test_bridge*
/test/run
/test/kdc
/test/*.journal
/test/*.journal.tar.gz
/test/*.log
/test/*.png
/test/build-results
/cockpit-session
/test-session
/cockpit-bridge
/remotectl
/tools/*.m4
/tools/ar-lib
/tools/coverage
/tools/coverage.info
/tools/coverage.base
/tools/coverage.all
/tools/coverage.test
/tools/test-driver
/tools/compile
/tools/node_modules
/tools/bower_components
/test-*
/frob-*
/mock-*
/cockpit-testing.service
/com.redhat.lvm2.c
/com.redhat.lvm2.h
/liblvmdbus.a
/cockpit-ws
/cockpit-ws.8
/po/cockpit.pot
/src/selinux/tmp
/src/selinux/cockpit.pp
/pkg/*/test-*.log
/pkg/*/test-*.trs
/test/images/*.*
/test/images/*-checksum
/test/container-probe*
/mock/
*.min.html
/src/ws/cockpit.appdata.xml
/src/ws/cockpit.desktop
/po/.intltool-merge-cache
!/test-avocado
/test-avocado/lib/var.env
/test-avocado/lib/var.envc
/test-avocado/cockpit-wip.tar
/test-avocado/out*.xml
cockpit-pcp
cockpitd
/doc/man/cockpit-bridge.1
/doc/man/cockpit-ws.8
/doc/man/cockpit.conf.5
/doc/man/cockpitd.8
/doc/man/remotectl.8
/doc/version
/guide/
org.freedesktop.UDisks2.c
org.freedesktop.UDisks2.h
/pkg/*/*.min.js.gz
/pkg/*/*.min.css.gz
/pkg/*/*.min.html.gz
/pkg/base1/fonts/*.gz
/po/po.*.js
/po/po.*.js.gz
/pkg/storaged/index.min.html.gz
/.vagrant
