# 'git shortlog --help' and look for mailmap for the format of each line

# Email consolidation:
# <Preferred address in AUTHORS> <other alias used by same author>
<martin@piware.de> <martinpitt@users.noreply.github.com>

# Name consolidation:
# Preferred author spelling <preferred email>
Daniel P. Berrangé <berrange@redhat.com>
