#badge {
    inline-size: 225px;
    block-size: 80px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#brand::before {
    content: "${NAME} <b>${VARIANT}</b>";
}

.anaconda {
    /* Brand palette */
    --brand-default-light: #51a2da;
    --brand-default: #3c6eb4;
    --brand-default-dark: #294172;
}

:not(.pf-v6-theme-dark) .anaconda {
    /* Default (light theme) token mapping */
    --pf-t--global--color--brand--default: var(--brand-default);
    --pf-t--global--color--brand--hover: var(--brand-default-dark);
}

.pf-v6-theme-dark .anaconda {
    /* Dark theme token mapping */
    --pf-t--global--color--brand--default: var(--brand-default-light);
    --pf-t--global--color--brand--hover: var(--brand-default);
}
