
/* Page global stuff */

.container-fluid {
    margin-top: 0px;
    padding-left: 0px;
}

.kube-sidebar {
    float: left;
    width: 100px;
}

.kube-sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 98px;
    border-right: 1px solid #dadada;
    height: 100%;
}

.kube-sidebar ul li {
    border-bottom: 1px solid #dadada;
    display: block;
    font-size: 15px;
}

.kube-sidebar ul li a {
    border-bottom: 0;
    background-color: #fff;
    padding: 20px 15px;
    text-align: center;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
}

.kube-sidebar ul li a .fa {
    display: inline;
    font-size: 20px;
    color: #b3b3b3;
}

.kube-sidebar ul li.active a .fa {
    color: #0099d3;
}

.kube-sidebar ul li.active a:after {
    content: '';
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    background-color: #0099d3;
}

/* Dashboard */

#content {
    margin-left: 120px;
    margin-right: 0px;
}

#graphs {
    margin: 15px 0;
    height: 280px;
    background-color: #e6e6e6;
    font-size: 80px;
    color: #c3c3c3;
    font-family: Open Sans;
    text-align: center;
    padding: 60px;
}

/* When panel is editable, then buttons are visible */
.dashboard-list td button {
    display: none;
}

.dashboard-list.editable td button {
    display: block;
}

.dashboard-list.editable td.status > span {
    display: none;
}

.dashboard-list.editable tr:hover td {
    background-color: #FFF;
    cursor: auto;
}

.dashboard-list td.status {
    padding: 4px 10px 4px !important;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
    width: 1%;
    min-width: 50px;
}

.dashboard-list span.fa {
  font-size: 24px;
  color: black;
  display: inline-block;
}

.dashboard-list span.spinner {
  display: inline-block;
}

.dashboard-list span.fa-failed {
  color: #af151a;
}


/* App deploy dialog */

#deploy-app-deploying > span {
    margin-left: 7px;
}

#deploy-app-manifest-file {
    opacity: 0.0001;
    height: 1px;
}

#deploy-app-manifest-file-button {
    width: 100%;
    padding-right: 25px;
}

.manifest_file {
    font-style: normal;
    text-align: left;
    font-size: 11px;
}

.manifest_file_default {
    text-align: left;
    font-style: italic;
    font-size: 11px;
}

.combobox_option {
    width: 100%;
}

.deploy-dialog-aids {
    margin-bottom: 0px;
}

/* Replicas dialog */

input.adjust-replica {
    width: 70px;
}

#adjust-dialog .modal-dialog {
    width: 400px;
}
