#graphs {
    margin: 15px 0 30px 0;
    height: 300px;
    background-color: #e6e6e6;
    font-size: 60px;
    color: #b3b3b3;
    font-family: Overpass;
    text-align: center;
    padding: 60px;
}

/* TODO: Need to reconcile Cockpit tables with latest patternfly */
.table > thead {
    background-color: white;
    background-image: none;
}

.table > thead > tr > th {
    border-bottom-width: 1px;
}

.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child {
    padding-left: 15px;
}

.table th,
.table td {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.table td.icons {
    padding: 5px !important;
    text-align: center;
}

.table span.fa {
    font-size: 24px;
    color: black;
    display: inline-block;
}

.table span.fa.failed {
    color: #af151a;
}

.table td {
    cursor: pointer;
}

button.fa {
    min-height: 25px;
}


#deploy-app-deploying > span {
    margin-left: 7px;
}

#deploy-app-manifest-file {
    opacity: 0.0001;
    height: 1px;
}

#deploy-app-manifest-file-button {
    width: 100%;
    padding-right: 25px;
}

.manifest_file {
    font-style: normal;
    text-align: left;
    font-size: 11px;
}

.manifest_file_default {
    text-align: left;
    font-style: italic;
    font-size: 11px;
}

.combobox_option {
    width: 100%;
}

.deploy_buttons {
    margin: 0px;
}

.deploy-dialog-aids {
    margin-bottom: 0px;
}
