@import url('container-terminal.css');
@import url('containers.css');
@import url('details.css');
@import url('topology-graph.css');
@import url('topology.css');
@import url('revealable.css');
@import url('images.css');

#graphs {
    display: block;
}

#graphs svg {
    font-size: 10px;
}

#graphs ul {
    padding-top: 15px;
    margin-right: 10px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .domain,
.axis .tick line {
    stroke: lightgrey;
    opacity: 0.5;
}

.tick text {
    fill: #545454;
    font-size: 12px;
}

path.line {
    stroke: steelblue;
    fill: none;
    stroke-width: 2;
}

path.line.highlight {
    stroke-width: 4;
}

/* Page global stuff */

.container-fluid {
    margin-top: 0px;
    padding-left: 0px;
}

.kube-sidebar {
    width: 100px;
}

.kube-sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 90px;
    border-right: 1px solid #dadada;
    height: 100%;
    position: fixed;
    background-color: #eeeeec;
    top: 0px;
    z-index: 1;
}

.kube-sidebar ul li {
    border-bottom: 1px solid #dadada;
    display: block;
    font-size: 13px;
}

.kube-sidebar ul li a {
    border-bottom: 0;
    background-color: #fff;
    padding: 15px 10px;
    text-align: center;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
}

.kube-sidebar ul li a:hover {
    background-color: #f6f6f6;
}

.kube-sidebar ul li.active a:hover {
    background-color: #fff;
}

.kube-sidebar ul li a i {
    display: inline;
    font-size: 20px;
    line-height: 20px;
    color: #b3b3b3;
}

.kube-sidebar ul li.active a i {
    color: #0099d3;
}

.kube-sidebar ul a i.pficon-topology {
    font-size: 25px;
}

.kube-sidebar ul li.active a:after {
    content: '';
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    background-color: #0099d3;
}

#content-filter {
    background-color: #fafafa;
    padding: 10px 16px 10px 10px;
    border-bottom: 1px #d4d4d3 solid;
    position: fixed;
    top: 0px;
    left: 90px;
    right: 0px;
    z-index: 1;
}

.namespace-filter .btn,
.namespace-filter .dropdown-menu {
    font-size: 13px;
}

.namespace-filter .btn-group.open .dropdown-toggle {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.namespace-filter .namespace-value {
    font-weight: bold;
}

.filter-menu {
    display: block;
}

.filter-menu > .btn + .dropdown-toggle {
    padding: 3px 1px;
    min-width: 0;
    border-left: none;
    height: 26px;
}

.filter-menu > .btn:first-child {
    border-right: none;
    height: 26px;
    font-size: 15px;
}

/* Dashboard */

#content {
    margin-left: 110px;
    margin-right: 0px;
    min-height: 100%;
    margin-top: 47px;
}

#content > .row {
    margin-right: 0px;
}

/* When panel is editable, then buttons are visible */
.dashboard-list td button {
    display: none;
}

.dashboard-list.editable td button {
    display: block;
}

.dashboard-list.editable td.status > span {
    display: none;
}

.dashboard-list.editable tr:hover td {
    background-color: #FFF;
    cursor: auto;
}

.dashboard-list td.status {
    padding: 4px 10px 4px !important;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
    width: 1%;
    min-width: 50px;
}

.dashboard-list span.fa {
  font-size: 24px;
  color: black;
  display: inline-block;
}

.dashboard-list span.spinner {
  display: inline-block;
}

.dashboard-list span.fa-failed {
  color: #af151a;
}


/* App deploy dialog */

#deploy-app-deploying > span {
    margin-left: 7px;
}

#deploy-app-manifest-file {
    opacity: 0.0001;
    height: 1px;
}

#deploy-app-manifest-file-button {
    width: 100%;
    padding-right: 25px;
}

.deploy-app-type-text {
    font-style: normal;
    text-align: left;
}

.manifest_file {
    font-style: normal;
    text-align: left;
    font-size: 11px;
}

.manifest_file_default {
    text-align: left;
    font-style: italic;
    font-size: 11px;
}

.combobox_option {
    width: 100%;
}

.deploy-dialog-aids {
    margin-bottom: 0px;
}

/* Replicas dialog */

input.adjust-replica {
    width: 70px;
}

#adjust-dialog .modal-dialog {
    width: 400px;
}

#deploy-app-type-field > .bootstrap-select {
    margin-bottom: 3px;
}

.app-name {
    color: #333333;
    margin-top: 10px;
    text-align: left;
}

/* Used to hide angular elements until they are ready */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.adjust-entity {
    float: right;
    margin: 10px 5px 0px 10px;
}

.delete-entity {
    float: right;
    margin: 10px 10px 0px 0px;
}

input.adjust-replica {
    width: 200px;
}
