@import url('containers.css');
@import url('topology-graph.css');
@import url('topology.css');
@import url('listing.css');
@import url('revealable.css');
@import url('images.css');

#graphs {
    display: block;
}

#graphs svg {
    font-size: 10px;
}

#graphs ul {
    padding-top: 15px;
    margin-right: 10px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .domain,
.axis .tick line {
    stroke: lightgrey;
    opacity: 0.5;
}

.tick text {
    fill: #545454;
    font-size: 12px;
}

path.line {
    stroke: steelblue;
    fill: none;
    stroke-width: 2;
}

path.line.highlight {
    stroke-width: 4;
}

/* Page global stuff */

.container-fluid {
    margin-top: 0px;
    padding-left: 0px;
}

.kube-sidebar {
    width: 100px;
}

.kube-sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 90px;
    border-right: 1px solid #dadada;
    height: 100%;
    position: fixed;
    background-color: #fafafa;
    top: 0px;
    z-index: 1;
}

.kube-sidebar ul li {
    border-bottom: 1px solid #dadada;
    display: block;
    font-size: 13px;
}

.kube-sidebar ul li a {
    border-bottom: 0;
    background-color: #fff;
    padding: 15px 10px;
    text-align: center;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
}

.kube-sidebar ul li a:hover {
    background-color: #f6f6f6;
}

.kube-sidebar ul li.active a:hover {
    background-color: #fff;
}

.kube-sidebar ul li a i {
    display: inline;
    font-size: 20px;
    color: #b3b3b3;
}

.kube-sidebar ul li.active a i {
    color: #0099d3;
}

.kube-sidebar ul li.active a:after {
    content: '';
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    background-color: #0099d3;
}

#content-filter {
    background-color: #eeeeec;
    padding: 10px 16px 10px 10px;
    border-bottom: 1px #d4d4d3 solid;
    position: fixed;
    width: 100%;
    top: 0;
    margin-left: 90px;
    z-index: 1;
}

/* HACK: Bold the selected label value
   and add a prefix that doesn't appear
   in the dropdown text.

   Can't use title attr because tags
   aren't stripped properly when used
   for the title/tooltip on the select
   button.

   When we update patternfly we may
   be able to rework this.

   TODO: Needs translations
   Could be done with CSSStyleSheet.insertRule
   or a style-sheet per language.
*/

.namespace-filter span.filter-option {
    width: auto;
    font-size: 13px;
    font-weight: bold;
}

.kube-namespace-filter span.filter-option:not(:empty):before {
    content: "Namespace: ";
}

.kube-namespace-filter span.filter-option:empty:before,
.kube-namespace-filter div.dropdown-menu li a span.text:empty:before {
    content: "All Namespaces";
}

.openshift-namespace-filter span.filter-option:not(:empty):before {
    content: "Project: ";
}

.openshift-namespace-filter span.filter-option:empty:before,
.openshift-namespace-filter div.dropdown-menu li a span.text:empty:before {
    content: "All Projects";
}

.namespace-filter span.filter-option:empty:before,
.namespace-filter div.dropdown-menu li a span.text:empty:before {
    font-weight: normal;
}

.namespace-filter span.filter-option:not(:empty):before {
    font-weight: normal;
}


/* Dashboard */

#content {
    margin-left: 110px;
    margin-right: 0px;
    min-height: 100%;
    margin-top: 47px;
}

#content > .row {
    margin-right: 0px;
}

/* When panel is editable, then buttons are visible */
.dashboard-list td button {
    display: none;
}

.dashboard-list.editable td button {
    display: block;
}

.dashboard-list.editable td.status > span {
    display: none;
}

.dashboard-list.editable tr:hover td {
    background-color: #FFF;
    cursor: auto;
}

.dashboard-list td.status {
    padding: 4px 10px 4px !important;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
    width: 1%;
    min-width: 50px;
}

.dashboard-list span.fa {
  font-size: 24px;
  color: black;
  display: inline-block;
}

.dashboard-list span.spinner {
  display: inline-block;
}

.dashboard-list span.fa-failed {
  color: #af151a;
}


/* App deploy dialog */

#deploy-app-deploying > span {
    margin-left: 7px;
}

#deploy-app-manifest-file {
    opacity: 0.0001;
    height: 1px;
}

#deploy-app-manifest-file-button {
    width: 100%;
    padding-right: 25px;
}

.deploy-app-type-text {
    font-style: normal;
    text-align: left;
}

.manifest_file {
    font-style: normal;
    text-align: left;
    font-size: 11px;
}

.manifest_file_default {
    text-align: left;
    font-style: italic;
    font-size: 11px;
}

.combobox_option {
    width: 100%;
}

.deploy-dialog-aids {
    margin-bottom: 0px;
}

/* Replicas dialog */

input.adjust-replica {
    width: 70px;
}

#adjust-dialog .modal-dialog {
    width: 400px;
}

#deploy-app-type-field > .bootstrap-select {
    margin-bottom: 3px;
}

.app-name {
    color: #333333;
    margin-top: 10px;
    text-align: left;
}

/* Used to hide angular elements until they are ready */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* listing pattern -- once solid, move to cockpit.css */

table.listing {
    margin-top: 15px;
    min-width: 55%;
}

table.listing > tbody {
    cursor: pointer;
}

table.listing thead th {
    font-weight: normal;
    color: #888;
}

table.listing thead.selected {
    cursor: pointer;
}

table.listing thead.selected tr:hover {
    background-color: #d4edfa;
}

table.listing tbody > th {
    font-weight: bold;
}

table.listing th,
table.listing td {
    padding: 10px;
}

table.listing th:first-child,
table.listing td:first-child {
    padding-left: 20px;
}

table.listing th + th:last-child,
table.listing td + td:last-child {
    text-align: right;
    padding-right: 20px;
}

table.listing tbody tr,
table.listing tfoot {
    border-top: 1px solid #EEE;
}

table.listing tbody {
    border-bottom: 1px solid #EEE;
}

table.listing > tbody > tr:hover {
    background-color: #d4edfa;
}

table.listing > tbody > tr.selected {
    display: none;
}

table.listing .listing-empty {
    color: #888;
    text-align: center;
}

table.listing tbody tr + tr.listing-empty {
    display: none;
}

table.listing tr.listing-panel {
    border-top: none;
    border-bottom: none;
    cursor: auto;
}

table.listing tr.listing-panel + tr {
    border-top: none;
}

table.listing tr.listing-panel > td {
    padding: 0;
}

table.listing tr.listing-panel + tr.listing-panel > td {
    padding-top: 5px;
}

table.listing tr.listing-panel td > * {
    margin: 0;
}

tr.listing-panel div.panel {
    background-color: #F0F0F0;
    border-color: #CCC;
    border-top: 3px solid #0099D3;
    -webkit-box-shadow: 1px 1px 1px 1px #F0F0F0;
    box-shadow: 1px 1px 1px 1px #F0F0F0;
}

tr.listing-panel div.panel-heading {
    background: none;
    border-color: #CCC;
    padding: 10px;
    height: auto;
}

tr.listing-panel div.panel-heading h3 {
    font-size: 15px;
    margin-left: 25px;
}

tr.listing-panel div.panel-heading p {
    margin-left: 25px;
    margin-bottom: 0px;
}

tr.listing-panel button.listing-star {
    font-size: 18px;
    line-height: 1;
    opacity: 0.4;
    float: left;
    border: 0px none;
    background: transparent;
    padding: 0px;
    margin-bottom: 15px;
}

tr.listing-panel button.listing-star:hover,
tr.listing-panel button.listing-star:focus {
    opacity: 0.9;
}

tr.listing-panel button.listing-star.active {
    opacity: 1;
    color: #0099D3;
}

button.listing-star.fa:before {
    content: "\f006";
}

button.listing-star.active.fa:before {
    content: "\f005";
}

tr.listing-panel .listing-actions {
    float: right;
}

tr.listing-panel .panel-heading dl {
    display: inline;
    height: 1.6em;
    margin-bottom: none;
    white-space: nowrap;
    margin-right: 55px;
    margin-left: 9px;
}

tr.listing-panel .panel-heading dt {
    font-weight: normal;
    display: inline;
    margin-right: 0.5em;
    color: #888;
}

tr.listing-panel .panel-heading dd {
    display: inline;
    color: black;
}

table.listing div.panel table tbody tr {
    border-top: 1px solid #CCC;
    border-bottom: none;
}

/* HACK: https://bugzilla.mozilla.org/show_bug.cgi?id=409254 */
tbody:empty {
    display: none;
}
