.details-listing {
    min-width: 70% !important;
}

.details-listing i.pficon-service {
    position: relative;
    font-size: 30px;
    top: -5px;
}

.listing-icons i.fa-server {
    position: relative;
    font-size: 25px;
    top: -3px;
}

.details-listing i.pficon-replicator {
    position: relative;
    font-size: 28px;
    top: -6px;
}

.details-listing i.fa-cubes {
    position: relative;
    top: -5px;
}

.listing-icons i.fa-gear {
    position: relative;
    font-size: 22px;
    top: -3px;
}
