.details-listing {
    min-width: 70% !important;
}

.details-listing i.pficon-service {
    position: relative;
    font-size: 30px;
    top: -5px;
}

.details-listing i.fa-recycle {
    position: relative;
    font-size: 25px;
}
