/* All of the !important can go once listing CSS moves into base1 */

.images-listing .pficon-image {
    font-size: 25px;
}

.images-listing {
    min-width: 60em !important;
}

.images-listing .listing-body table {
    width: 100%;
}

.images-listing .listing-panel tr th {
    border-top: none !important;
}

.images-listing .listing-panel thead tr {
    border-bottom: 1px solid #ccc;
}

.images-listing .listing-panel tr th:first-child,
.images-listing .listing-panel tr td:first-child {
    padding-left: 30px;
}

tr.images-docker-reference td {
    font-family: Monospace;
    padding: 10px 5px 0 5px !important;
}

tr.images-docker-reference + tr td {
    padding-top: 0 !important;
    padding-bottom: 5px;
}

.images-listing .listing-body {
    padding: 3px 15px 10px 15px !important;
}
