kube-topology {
    display: block;
}

kube-topology .node {
    font-family: FontAwesome;
    font-size: 18px;
    text-anchor: middle;
    cursor: pointer;
}

kube-topology .node circle {
    stroke: #bbb;
    fill: #fff;
}

kube-topology .link {
    stroke: #999;
    stroke-opacity: .6;
}
