kubernetes-topology-graph {
    margin-right: 25%;
}

.kube-pane {
    float: right;
    width: 25%;
}

.kube-pane .sidebar-pf {
    position: fixed;
    width: 25%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
}

.kube-pane .dl-horizontal {
}

.kube-pane .dl-horizontal dt {
    text-align: left;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kube-pane .dl-horizontal dd {
    margin-left: 100px;
    margin-right: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kube-pane .sidebar-help p {
    margin-right: 30px;
    margin-bottom: 30px;
}

.kube-pane .sidebar-help h3 {
    padding-top: 7px;
    padding-bottom: 10px;
}

.kube-pane .sidebar-help svg {
    float: left;
    margin-right: 10px;
}

.kube-pane .kube-topology text {
    opacity: 0.2;
}

.kube-pane .kube-topology.active text {
    opacity: 1;
}

.kube-pane .kube-topology:hover text {
    opacity: 0.7;
}
