kubernetes-topology-graph {
    display: block;
    user-select: none;
}

.kube-topology g {
    font-family: PatternFlyIcons-webfont;
    font-size: 18px;
    text-anchor: middle;
    cursor: pointer;
}

.kube-topology g text {
    stroke: none;
    stroke-width: 0px;
}

.kube-topology g.weak use {
    opacity: .6;
}

.kube-topology g.Pod text {
    font-family: FontAwesome;
    fill: #1186C1;
}

.kube-topology g.Node text {
    fill: #636363;
    font-size: 22px;
}

.kube-topology g.Service text {
    fill: #ff7f0e;
    font-size: 24px;
}

.kube-topology g.ReplicationController text {
    fill: #9467bd;
    font-size: 24px;
}

.kube-topology g circle {
    stroke: #bbb;
    fill: #fff;
}

.kube-topology g.fixed use {
    stroke-width: 2px;
}

.kube-topology g.selected use {
    stroke-width: 4px;
}

.kube-topology line {
    stroke: #bbb;
    stroke-width: 1;
}

.kube-topology line.ReplicationControllerPod {
    stroke-linecap: round;
    stroke-dasharray: 1, 2;
}

kubernetes-topology-icon {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px;
    user-select: none;
}

kubernetes-topology-icon svg {
    width: 32px;
    height: 32px;
    display: block;
}

kubernetes-topology-icon use {
    opacity: 0.4;
}

kubernetes-topology-icon.active use {
    opacity: 1;
}

kubernetes-topology-icon:hover use {
    opacity: 0.7;
}
