body.login-pf {
    font-family: sans-serif !important;
    background: url("backdrop.jpg") no-repeat 50% 0;
    background-size: cover;
}

#brand {
    font-size: 18pt;
    text-transform: uppercase;
}

#brand:before {
    content: "${PRETTY_NAME}";
}

#index-brand {
    content: "${NAME}";
    font-weight: bold;
}

#index-brand:before {
    content: "${NAME}";
}
