/*
 * This file is part of Cockpit.
 *
 * Copyright (C) 2013 Red Hat, Inc.
 *
 * Cockpit is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation; either version 2.1 of the License, or
 * (at your option) any later version.
 *
 * Cockpit is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Cockpit; If not, see <http://www.gnu.org/licenses/>.
 */

/* TODO: This file has not yet been updated to match the new Patternfly */
@import url("patternfly.css");
@import url("patternfly-additions.css");
@import url("angular-csp.css");

a {
    cursor: pointer;
}

.disabled {
    pointer-events: auto;
}

.btn.disabled {
    pointer-events: auto;
}

.btn.disabled:hover {
  z-index: auto;
}

.dropdown-menu > li > a.disabled,
.dropdown-menu > li > a.disabled:hover,
.dropdown-menu > li > a.disabled:focus {
  color: #999999;
}

.dropdown-menu > li > a.disabled:hover,
.dropdown-menu > li > a.disabled:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: default;
}

/* Panels don't draw borders between them */
.panel > .table > tbody:first-child td {
    border-top: 1px solid rgb(221, 221, 221);
}

/* Table headers should not generate a double border */
.panel .table thead tr th {
    border-bottom: none;
}

.panel-heading-tr {
    background: #F5F5F5;
}

/* Container is glued to the navigation and sides */

.container-fluid {
    margin-top: 20px;
}

/* Break up sidebar in columns in smaller sizes*/

@media (min-width: 992px) {
    .cockpit-info-table-container .cockpit-info-table {
        table-layout: fixed;
        width: 100%;
    }
}

.cockpit-info-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0.75em;
    padding-top: 0.25em;
    vertical-align: top;
}

.cockpit-info-table td:first-child {
    text-align: right;
    color: #888888;
}

.cockpit-info-table td:not(:first-child) {
    color: black;
}

.cockpit-info-table td button {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* For table rows containing interactive controls like bars */
.cockpit-info-table tr.interactive td {
    line-height: 26px;
    padding-top: 0px;
    vertical-align: center;
}

.cockpit-form-table {
    width: 100%;
}

.cockpit-form-table td {
    padding-left: 0.75em;
    padding-top: 0.25em;
    vertical-align: middle;
}

.cockpit-form-table td.top {
    vertical-align: top;
    padding-top: 6px;
}

.cockpit-form-table td:first-child {
    text-align: right;
    white-space: nowrap;
    color: #888888;
    width: 5px; /* will be expanded by nowrap */
}

.cockpit-form-table td[colspan] {
    text-align: inherit;
}

.cockpit-form-table td {
    height: 26px;
}

.cockpit-info-table .shrink,
.cockpit-form-table .shrink {
    white-space: nowrap;
    width: 5px;
}

.cockpit-form-table td.header {
    font-weight: bold;
    text-align: left;
    color: #4D5258;
    padding: 20px 0 10px 0;
}

.cockpit-form-table label input[type='checkbox'] {
    margin-right: 4px;
}

.cockpit-form-table label {
    margin-bottom: 0px;
}

.cockpit-form-table td.top label {
    margin-top: 4px;
}

.cockpit-form-table label span {
    vertical-align: super;
}

.cockpit-graph {
    position: relative;
    height: 70px;
    margin-top: 20px;
}

.cockpit-graph-label {
    position: absolute;
    left: 0px;
    top: -20px;
    text-align: left;
}

.cockpit-graph-text {
    position: absolute;
    right: 0px;
    top: -20px;
    text-align: right;
}

/*
 * For showing and filtering disabled unimportant rows in a table
 *
 * Set .unimportant on things, and then .filter-unimportant on
 * ancestor when you want to filter them.
 */
.filter-unimportant .unimportant {
    display: none;
}

/*
 * Control buttons such as play and stop
 * Used with .btn .btn-default
 */

.btn-control,
.btn-control:hover {
    background-position: center center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-image: none;
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    height: 28px;
    width: 28px;
    box-shadow: none;
}

.btn-control {
    background-color: #eeeeee;
}

.btn-control:hover {
   background-color: #e0e0e0;
}

/* TODO: Use spinner, highlight as red until then */
.waiting {
    color: red;
    background-color: red;
    height: 28px;
    width: 28px;
}

.highlight {
    background-color: #d4edfa;
}

/*
 * Fix up table row hovering.
 *
 * When you hover over table rows it's because they're clickable.
 * Make the table row hover color match the list-group-item.
 */
.table-hover > tbody > tr > td,
.table-hover > tbody > tr > th {
    cursor: pointer;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #d4edfa;
}

/*
 * Used to make a table cell that containts buttons have less padding
 * HACK: Because CSS has no parant selector.
 */
.cell-buttons,
.table > tbody > tr > .cell-buttons {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 30px;
    padding-right: 15px;
}

/* Override patternfly to fit buttons and such */
.table > thead > tr > th,
.table > tbody > tr > td {
    padding: 8px;
}

/* Override the heavy patternfly headers */
.table > thead {
    background-image: none;
    background-color: #fff;
}

/* Make things line up */
.table tbody tr td:first-child,
.table thead tr th:first-child {
    padding-left: 15px;
}

.table tbody tr td:last-child,
.table thead tr th:last-child {
    padding-right: 15px;
}

.panel-heading {
   height: 44px;
}

/* Vertically center dropdown buttons in panel headers */
.panel-heading .btn {
    margin-top: -3px;
}

/* Ensure that btn-default is at least as wide as tall
 * Avoids the problem with short labels */

.btn {
    min-height: 26px;
    min-width: 26px;
}

/* Well and Blankslate */

.curtains {
    height: 100%;
    width: 100%;
    position: fixed;
}

.panel .well {
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
    background-color: #FAFAFA;
}

.well.blank-slate-pf {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05) inset;
    padding-top: 40px;
}

.blank-slate-pf .spinner-lg {
    height: 58px;
    width: 58px;
}

.spinner-white {
  border-bottom: 4px solid rgba(255, 255, 255, 0.25);
  border-left: 4px solid rgba(255, 255, 255, 0.25);
  border-right: 4px solid rgba(255, 255, 255, 0.25);
  border-top: 4px solid rgba(255, 255, 255, 0.75);
}

/* Alert fixups */

.alert {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.alert .fa {
    position: absolute;
    left: 10px;
    top: 6px;
    font-size: 20px;
}

.alert .pficon {
    top: 5px;
}

.alert.alert-danger .fa {
    color: #af151a;
}

/* Dialog patterns */

.dialog-wait {
    margin-top: 3px;
}

.dialog-wait .spinner {
    display: inline-block;
}

.dialog-wait span {
    vertical-align: 4px;
    padding-left: 10px;
}

/* Our terminal or logs */
.console-container {
    display: table;
    margin: 1em auto;
}

.console {
    font-family: Menlo, Monaco, Consolas, monospace;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10px;
    text-align: center;
    line-height: 1;
}

@media (min-width: 568px) {
    .console {
        font-size: 12px;
    }
}

.console > .logs {
    padding: 10px;
    text-align: left;
    display: block;
    font-family: inherit;
    font-size: inherit;
    width: 48em;
    height: 310px;
    overflow-y: scroll;
    white-space: pre-wrap;
    margin: 0 auto;
}

.console > .terminal {
    color: #F0F0F0;
    text-align: left;
    outline: medium none;
    background-color: black;
    border: 1px solid black;
    padding: 10px;
    display: inline-block; /* size DIV to contents */
}

.console .terminal-cursor {
    color: #000;
    background: #f0f0f0;
}

/* Extra content header */

.content-header-extra {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    z-index: 900;
    top: 0;
}

.content-header-extra .btn-group:not(:first-child) {
    padding-left: 20px;
}

/* Server stuff, not enough for own CSS yet */

/* HACK: Need to update patternfly to work with latest bootstrap-select */
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
  display: none;
}

@media (min-width: 500px) {
  .cockpit-modal-md {
    width: 400px;
  }
}

/* Scrollable modal body, needs max-height set elsewhere */
.modal-scrollable {
    overflow-y: auto;
    margin-right: 7px;
    padding-right: 8px;
    margin-top: 15px;
    padding-top: 0px;
}

/* Password strength meter */

.password-strength-meter {
    height: 5px;
    margin-top: 5px;
    margin-bottom: 0;
}

.password-strength-meter div {
    width: 25%;
    border-right: 3px solid #fff;
    background-color: transparent;
}

.password-strength-meter div:last-child {
    border-right: none;
}

.password-strength-meter.weak div:first-child {
    background-color: #C00;
}

.password-strength-meter.okay div:nth-child(-n+2) {
    background-color: #EC7A08;
}

.password-strength-meter.good div:nth-child(-n+3) {
    background-color: #3F9C35;
}

.password-strength-meter.excellent div:nth-child(-n+4) {
    background-color: #3F9C35;
}

/* allow text only branding */
.navbar-pf .navbar-brand {
    text-transform: uppercase;
    margin: 0 8px;
    height: 25px;
    padding: 2px 0;
}

.navbar-pf .navbar-brand:hover {
    color: #F1F1F1;
}

/* On/off switch */

.btn-onoff {
    margin: 1px 0px;
}

.btn-onoff .btn {
    border-color: #B7B7B7;
    padding: 2px 6px 1px 6px;
    background-color: white;
}

.btn-onoff .btn:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-right: #00435F;
}

.btn-onoff .btn:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-left: #00435F;
    padding-left: 5px;
}

.btn-onoff .btn.active {
    background-color: #0086CF;
    color: white;
}

.btn-onoff .btn.disabled {
    pointer-events: none;
}

.btn-onoff .btn.active.disabled {
    background-color: #888 !important;
    color: white !important;
}

/* Listing pattern */

table.listing {
    margin-top: 15px;
    min-width: 65%;
}

table.listing > thead h3 {
    font-size: 22px;
    padding: 10px 0px 10px;
    font-weight: 300;
}

table.listing > thead:first-child h3 {
    margin-top: 0px;
}

table.listing thead th {
    border-top: 1px solid #eee;
    font-weight: normal;
    padding: 10px;
    color: #888;
}

table.listing thead th:first-child {
    padding-left: 20px;
}

table.listing thead th:last-child {
    text-align: right;
}

/* A listing item is a row in the table */
tbody tr.listing-item {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

table.listing tbody:last-child {
    border-bottom: 1px solid #eee;
}
table.listing tbody + thead {
    border-top: 1px solid #eee;
}
table.listing tbody.open:last-child {
    border-bottom: none;
}
table.listing tbody.open + thead {
    border-top: none;
}

tr.listing-item:hover {
    background-color: #d4edfa;
}

tr.listing-item + tr.listing-panel .listing-head:hover {
    cursor: pointer;
    background-color: #d4edfa;
}

/* Listing items have decent padding ... */
tr.listing-item td {
    padding: 10px;
}

tr.listing-item th {
    padding: 10px 10px 10px 15px;
}

/* Listing actions can be used directly as a cell */
tr.listing-item td.listing-actions,
td.listing-actions {
    padding: 5px 10px;
    text-align: right;
    float: none;
}

tr.listing-item td:first-child {
    padding-left: 20px;
}

/* The last column of a listing is always right aligned */
tr.listing-item td:last-child {
    text-align: right;
}

div.listing-panel {
    box-shadow: 1px 1px 1px 1px #f5f5f5;
    margin-bottom: 15px;
}

div.listing-maybe {
    border: 1px dashed #ddd;
    box-shadow: none;
}

div.listing-head {
    padding: 10px 10px 0px 10px;
    background-color: #f6f6f6;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    overflow: hidden;
}

div.listing-head:last-child {
    padding-bottom: 10px;
}

div.listing-maybe div.listing-head,
div.listing-maybe div.listing-body {
    background-color: white;
    border: none;
}

/* When panel is a row of a table: head is white */
tr.listing-item + tr.listing-panel div.listing-head {
    background-color: white;
    border-top: 3px solid #0099d3;
}
tr.listing-item + tr.listing-panel div.listing-body {
    background-color: #f6f6f6;
}

tbody.active .listing-head {
    border-top: 3px solid #0099d3;
}

.listing-head h3 {
    font-weight: normal;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.listing-head h3 i {
    float: left;
    padding-right: 7px;
}

.listing-head .nav li a {
    padding-top: 0px;
    font-size: 13px;
}

.listing-head .nav-tabs {
    border-bottom: none;
}

.listing-head .nav-tabs-pf {
    margin-left: -10px;
}

/* To display info instead of tabs */
.listing-head dl {
    display: inline-block;
    height: 1.6em;
    margin-bottom: 5px;
    white-space: nowrap;
    margin-right: 45px;
    margin-left: 5px;
}

.listing-head dt {
    font-weight: normal;
    display: inline;
    margin-right: 0.5em;
    color: #888;
}

.listing-head dd {
    display: inline;
    color: black;
}

.listing-body {
    padding: 20px 25px;
    font-size: 13px;
    border: 1px solid #ccc;
}

.listing-actions {
    float: right;
    min-height: 26px;
}

.listing-status {
    float: right;
    clear: right;
}

.listing-error {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.listing-error.alert {
    margin-bottom: 0;
}

.listing-body tt {
    font-size: 12px
}

.listing-body dl {
    margin: 0;
}

.listing-body dl + dl {
    margin-top: 26px;
}

.listing-body dt {
    clear: left;
    float: left;
    width: 35%;
    min-width: 100px;
    max-width: 250px;
    min-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    padding-right: 10px;
    color: #888;
    font-weight: normal;
}

.listing-body dl.full dt {
    text-align: left;
    min-width: none;
    max-width: none;
    float: none;
    width: auto;
}

.listing-body dd {
    min-height: 26px;
    max-width: 1000px;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.listing tbody.open {
    box-shadow: 1px 1px 1px 1px #f5f5f5;
}

/* By default these thincgs are hidden */
tbody.open tr.listing-item,
tbody tr.listing-head,
tbody tr.listing-panel,
tbody tr.listing-body,
tbody .listing-open {
    display: none;
}

/* ... unless they are in the right state */
tbody tr.listing-item.listing-head,
tbody.open tr.listing-head,
tbody.open tr.listing-panel,
tbody.open tr.listing-body {
    display: table-row;
}

tbody.open .listing-open {
    display: block;
}

tbody.open tr.listing-head {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-top: 3px solid #0099d3;
}

tr.listing-head + tr.listing-head {
    border-top: none;
}

tr.listing-head + tr.listing-head td {
    padding: 0px 10px 0px 10px;
}

tr.listing-body td {
    padding: 20px 25px;
    font-size: 13px;
    background-color: #f6f6f6;
}

.listing-body .alert {
    border: none;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    background-color: transparent;
}

.listing-body .alert .fa {
    position: relative;
    left: 0px;
    top: 3px;
    padding-right: 5px;
}

.listing-empty {
    color: #888;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

/* Used at the end of a group of tbody to show an 'empty' message */
thead.listing-empty td {
    padding: 10px;
}

tbody + thead.listing-empty {
    display: none;
}

/* Timelines */

div.timeline {
    border-left: 6px solid #ccc;
    position: relative;
    margin-left: 25px;
    padding-left: 30px;
    min-height: 1px;
    padding-bottom: 15px;
}

div.timeline .timeline-point {
    position: absolute;
    left: -13.5px;
    font-size: 21px;
    text-align: center;
    width: 20px;
    height: 27px;
    display: block;
    line-height: 21px;
    background-color: white;
    padding: 3px 0px;
    color: #ccc;
}

div.timeline .timeline-point.active {
    color: #3f9c35;
}

div.timeline .timeline-md {
    font-size: 24px;
    width: 24px;
    height: 32px;
    line-height: 24px;
    padding: 4px 0px;
    left: -16px;
}

div.timeline .timeline-lg {
    font-size: 40px;
    width: 40px;
    height: 44px;
    line-height: 40px;
    left: -23.5px;
    padding: 2px 0px;
}

div.timeline .fa-caret-up {
    font-size: 30px;
    line-height: 20px;
    height: 24px;
}

div.timeline div.listing-panel {
    margin-bottom: 0px;
}

div.timeline.timeline-end {
    min-height: 30px;
    padding-left: 36px;
    background-repeat: repeat-y;
    background-position: 0% 100%;
    background-size: 6px 5px;
    background-image: linear-gradient(#ccc 33%, #fff 0%);
    border-left: none;
}

div.timeline.timeline-end .timeline-md {
    left: -10px;
}

/* Fix up nav-tabs-pf to work properly */

.nav-tabs-pf > li:first-child a {
    margin-left: 0px !important;
    padding-left: 15px !important;
}

.nav-tabs-pf > li a:before {
    right: 0px !important;
}

.nav-tabs-pf > li > a:active:before,
.nav-tabs-pf > li > a:focus:before,
.nav-tabs-pf > li > a:hover:before,
.nav-tabs-pf > li.active a:before {
    height: 3px;
    left: 0px;
}
