<modal-dialog>
    <div class="modal-header">
        <h4 class="modal-title">Example Dialog</h4>
    </div>
    <div class="modal-body">
        <p>Some input data: {{ exampleData | json }}</p>
        <table class="cockpit-form-table">
            <tr>
                <td class="top">
                    <label class="control-label" for="control-1">
                        Label
                    </label>
                </td>
                <td>
                    <input id="control-1" class="form-control" type="text">
                </td>
            </tr>
            <tr>
                <td class="top">
                    <label class="control-label" for="control-2">
                        Another
                    </label>
                </td>
                <td>
                    <input id="control-2" class="form-control" type="text">
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-cancel">Cancel</button>
        <button class="btn btn-primary" ng-click="failure(null)">Clear</button>
        <button class="btn btn-primary" ng-click="failure(inputErrors)">Invalid</button>
        <button class="btn btn-primary" ng-click="failure(bigError)">Error</button>
        <button class="btn btn-primary" ng-click="complete(waitOperation())">Wait</button>
    </div>
</modal-dialog>
