<div class="btn-group filter-menu pull-right" dropdown>
    <button class="btn btn-default fa fa-th-list"></button>
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li ng-class="{ checked: listing.expandable }">
            <a ng-click="listing.expandable = !listing.expandable" translatable="yes">Expand items inline</a>
        </li>
        <li ng-class="{ checked: listing.only, disabled: !listing.expanded() }">
            <a ng-click="listing.only = !listing.only" translatable="yes">Only expanded items</a>
        </li>
        <li>
            <a ng-click="listing.collapse()" translatable="yes">Collapse all</a>
        </li>
    </ul>
</div>

<div class="btn-group bootstrap-select namespace-filter" dropdown>
    <button class="btn btn-default dropdown-toggle" type="button" dropdown-toggle>
        <span class="pull-left">
            <span ng-if="!filter.namespace()" translatable="yes">All Projects</span>
            <span ng-if="filter.namespace()"><span class="namespace-meta" translatable="yes">Project:</span>
                {{filter.namespace()}}</span>
        </span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li ng-class="{ checked: !filter.namespace() }">
            <a ng-click="filter.namespace(null)" value="">All Projects</a>
        </li>
        <li ng-repeat="name in filter.namespaces() track by name"
            ng-class="{ checked: name == filter.namespace() }">
            <a ng-click="filter.namespace(name)" value="{{name}}">{{name}}</a>
        </li>
    </ul>
</div>
