<div>
    <div class="listing-head" ng-click="listing.collapse(id, $event)">
        <div class="listing-actions">
            <button class="btn btn-danger btn-delete pficon pficon-delete"></button>
            <button class="btn btn-default fa fa-tags image-tags"></button>
        </div>
        <h3><i class="pficon pficon-image"></i>{{ object.name }}</h3>
        <ul class="nav nav-tabs nav-tabs-pf">
            <li ng-class="{active: tab('main')}"><a ng-click="tab('main', $event)">Image</a></li>
            <li ng-class="{active: tab('config')}"><a ng-click="tab('config', $event)">Configuration</a></li>
            <li ng-class="{active: tab('meta')}"><a ng-click="tab('meta', $event)">Metadata</a></li>
        </ul>
    </div>

    <div image-body class="listing-body" ng-show="tab('main')">
    </div>

    <div image-config class="listing-body" ng-show="tab('config')">
    </div>

    <div image-meta class="listing-body" ng-show="tab('meta')">
    </div>
</div>
