<modal-dialog>
    <div class="modal-header">
        <h3 class="modal-title" translatable="yes">Remove image tag</h3>
    </div>
    <div class="modal-body" translatable="yes">Do you want to remove the image tagged as '{{stream.metadata.namespace}}/{{stream.metadata.name}}:{{tag.tag}}'?</div>
    <div class="modal-footer">
        <button class="btn btn-default btn-cancel" translatable="yes">Cancel</button>
        <button class="btn btn-danger" translatable="yes" ng-click="complete(performDelete())">Delete</button>
    </div>
</modal-dialog>
