<div class="row">
    <dl class="image-tags col-xs-12 col-sm-12 col-md-4">
        <dt>Tags</dt>
        <dd>
            <span class="image-tag" ng-repeat="name in names">{{name}}</span>
            <!-- TODO: Implement the change tags dialog -->
            <a translatable="yes">Change tags</a>
        </dd>
    </dl>
    <dl class="col-xs-12 col-sm-12 col-md-8">
        <dt>Author</dt>
        <dd ng-if="config.author">{{config.author}}</dd>
        <dd ng-if="!config.author && image.dockerImageMetadata.Author">{{image.dockerImageMetadata.Author}}</dd>
        <dd ng-if="!config.author && !image.dockerImageMetadata.Author"><em translatable="yes">Unknown</em></dd>
        <dt>Created</dt>
        <dd ng-if="layers[0].v1Compatibility.created" title="{{layer.v1Compatibility.created}}">{{ layer.v1Compatibility.created | dateRelative}}</dd>
        <dd ng-if="!layers[0].v1Compatibility.created" title="{{image.dockerImageMetadata.Created}}">{{image.dockerImageMetadata.Created | dateRelative}}</dd>
        <dt>Pushed</dt>
        <dd title="{{ image.metadata.creationTimestamp }}">{{image.metadata.creationTimestamp | dateRelative}}</dd>
        <dt>Architecture</dt>
        <dd ng-if="config.architecture">{{config.architecture}}</dd>
        <dd ng-if="!config.architecture">{{image.dockerImageMetadata.Architecture}}</dd>
    </dl>
</div>

<dl>
    <dt>Digest</dt>
    <dd><tt>{{ image.metadata.name }}</tt></dd>
    <dt>Identifier</dt>
    <dd><tt>{{ config.Image }}</tt></dd>
</dl>

<p>
    <i class="fa fa-info-circle"></i>
    <span translatable="yes">To pull this image:</span>
</p>
<pre>$ sudo docker pull {{stream.status.dockerImageRepository}}:{{tag.tag}}</pre>
