<div class="content-filter">
    <div class="listing-actions">
        <button class="btn btn-danger btn-delete pficon pficon-delete"
            ng-click="deleteImageStream(stream)"></button>
        <button class="btn btn-default pficon pficon-edit"
            ng-click="modifyImageStream(stream)"></button>
    </div>
    <h3>
        <i class="fa fa-folder"></i>
        {{ stream.metadata.namespace }}/{{ stream.metadata.name}}
    </h3>
    <a ng-href="#{{ viewUrl('images') }}" translatable="yes">Show all image streams</a>
</div>

<div class="listing-inline">
    <h3 translatable="yes">Image Stream</h3>
    <div class="listing-body" imagestream-body></div>
    <h3 translatable="yes">Images</h3>
</div>
<div image-listing>
</div>
<div class="listing-inline">
    <h3 translatable="yes" ng-if="stream.metadata.annotations">Metadata</h3>
    <div class="listing-body" imagestream-meta></div>
</div>
