<div>
    <table listing-table class="listing projects-listing">
        <thead ng-if="!quiet">
            <tr>
                <td colspan="4">
                    <h3 translatable="yes">Projects</h3>
                </td>
            </tr>
            <tr>
                <th translatable="yes">Name</th>
                <th translatable="yes">Description</th>
                <th translatable="yes">Members</th>
            </tr>
        </thead>
        <tbody ng-repeat="item in projects() " class="active"   >
            <tr class="listing-item">
                <th>{{item.metadata.name}}</th>
                <td>{{item.metadata.annotations["openshift.io/description"]}}</td>
                <td></td>
            </tr>
            <tr class="listing-panel" ng-if="selected(id)">
                
            </tr>
        </tbody>

        <thead ng-if="!quiet">
            <tr>
                <td colspan="4">
                    <h3 translatable="yes">Groups</h3>
                </td>
            </tr>
            <tr>
                <th translatable="yes">Name</th>
                <th translatable="yes">Description</th>
                <th translatable="yes">Members</th>
            </tr>
        </thead>
        <tbody ng-repeat="item in groups() " class="active" >
            <tr class="listing-item">
                <th>{{item.metadata.name}}</th>
                <td></td>
                <td>{{formatMembers(item.users, 'Users')}}</td>
            </tr>
            <tr class="listing-panel" ng-if="selected(id)">
                
            </tr>
        </tbody>

        <thead ng-if="!quiet">
            <tr>
                <td colspan="4">
                    <h3 translatable="yes">Users</h3>
                </td>
            </tr>
            <tr>
                <th translatable="yes">Name</th>
                <th translatable="yes">Identity</th>
                <th translatable="yes">Member of</th>
            </tr>
        </thead>
        <tbody ng-repeat="item in users() " class="active" >
            <tr class="listing-item">
                <th>{{item.metadata.name}}</th>
                <td>{{formatMembers(item.identities, 'Identities')}}</td>
                <td>{{formatMembers(item.groups, 'Groups')}}</td>
            </tr>
            <tr class="listing-panel" ng-if="selected(id)">
                
            </tr>
        </tbody>
    </table>
</div>
