.input-group {
    width: 100%;
}

#network-select {
    min-width: 100%;
}

#vendor-select {
    width: 100%;
}

#vendor-select .dropdown-header,
#vendor-select .divider {
    margin-top: 2ex;
}

/* Make the max-height based on the screen hight - offset from the top */
#vendor-select .dropdown-menu {
    max-height: ~"calc(90vh - 50px - 8em)";
}

#system-select .dropdown-menu {
    max-height: ~"calc(90vh - 50px - 10em)";
}

/* We use form-group in divs for inline validaton of dialog values
 * and we don't need extra margins there.
 */
#create-vm-dialog form.ct-form-layout div.form-group {
    margin-bottom: 0;
}
