body.login-pf {
    background: url("bg-plain.jpg") no-repeat 50% 0;
    background-size: cover;
    background-color: #101010;
}

#badge {
    width: 220px;
    height: 80px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#brand {
    font-size: 18pt;
    text-transform: uppercase;
}

#brand:before {
    content: "${PRETTY_NAME}";
}

#index-brand {
    content: "${NAME}";
}

#index-brand:before {
    content: "${NAME}";
}
