/* SPDX-License-Identifier: LGPL-2.1-or-later */
#badge {
    inline-size: 220px;
    block-size: 80px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.pf-v6-theme-dark #badge {
    background-image: url("logo-dark.png");
}

#brand::before {
    content: "${PRETTY_NAME}";
}
