<div ng-init="endpoint = serviceEndpoint(item)">
    <div class="listing-head" ng-click="select(id, $event)">
        <div class="listing-actions">
            <button title="Delete" class="btn btn-danger btn-delete pficon pficon-delete delete-entity"
                data-toggle="modal" data-target="#delete-entity-dialog" data-key="{{item.key}}"></button>
        </div>
        <h3><i class="fa pficon-service"></i>{{ item.metadata.name }}</h3>
        <div class="listing-status">
            <span ng-if="endpoint.subsets.length !== 0" translatable="yes">Ready</span>
            <span ng-if="endpoint.subsets.length === 0" translatable="yes">Not Ready</span>
        </div>
        <ul class="nav nav-tabs nav-tabs-pf">
            <li ng-class="{active: tab('main')}"><a ng-click="tab('main', $event)">Service</a></li>
            <li ng-class="{active: tab('endpoints')}"><a ng-click="tab('endpoints', $event)">Endpoints</a></li>
        </ul>
    </div>
    <div class="listing-body" ng-show="tab('main')">
        <div class="row">
            <div class="col-sm-6">
                <dl>
                    <dt ng-if="client.flavor == 'openshift'" translatable="yes">Project</dt>
                    <dt ng-if="client.flavor != 'openshift'" translatable="yes">Namespace</dt>
                    <dd>{{ item.metadata.namespace }}</dd>
                    <dt translatable="yes">Created</dt>
                    <dd title="{{ item.metadata.creationTimestamp }}">{{ item.metadata.creationTimestamp | timeAgo }}</dd>
                    <dt translatable="yes">IP</dt>
                    <dd>{{ item.spec.clusterIP }}</dd>
                    <dt translatable="yes">Type</dt>
                    <dd>{{ item.spec.type }}</dd>
                    <dt translatable="yes">Ports</dt>
                    <dd>
                        <div ng-if="!item.spec.ports.length" translatable="yes">None</div>
                        <div ng-repeat="portMapping in item.spec.ports | orderBy:'port'">
                            {{portMapping.port}} &#8594; {{portMapping.targetPort}}
                            ({{portMapping.protocol}})</div>
                    </dd>
                    <dt translatable="yes">Session Affinity</dt>
                    <dd>{{ item.spec.sessionAffinity }}</dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <dl class="full">
                    <dt translatable="yes">Labels</dt>
                    <dd class="full" ng-repeat="(key, value) in item.metadata.labels">{{key}}={{value}}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="listing-body" ng-show="tab('endpoints')">
        <div class="row">
            <div class="col-sm-6">
                <dl class="full" ng-repeat="subset in endpoint.subsets">
                    <dt translatable="yes">Pod Endpoints</dt>
                    <dd ng-repeat="address in subset.addresses">
                        {{ address.ip }} &#8594; {{ address.targetRef.name }}</dd>
                </dl>
                <dl ng-if="!endpoint.subsets.length">
                    <dt class="header full" translatable="yes">Pod Endpoints</dt>
                    <dd class="full" translatable="yes">No pods selected</dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <dl class="full">
                    <dt translatable="yes">Pod Selector</dt>
                    <dd ng-repeat="(key, value) in item.spec.selector">{{key}}={{value}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
