.slider-input-group {
    align-items: center;
    display: flex;
    flex-flow: wrap;
}

/* Sadly, the PF3 slider is wrapped in an empty <div> */
.slider-input-group > :first-child:not([class]) {
    flex: auto;
    min-width: 8rem;
    max-width: 15rem;
}

/* The PF3 slider also uses Bootstrap layout; (mostly) nullify this */
.slider-input-group .col-xs-12 {
    padding: 0;
    margin: 0 0.25rem 0 0;
}

/* Custom grouping of number input & dropdown elements */
.slider-input-group > [role=group] {
    display: grid;
    grid-gap: 0.25rem;
    grid-template-columns: repeat(2, max-content);
}

/* Constrain number width */
.slider-input-group input[inputmode=numeric],
.slider-input-group input[type=number] {
    max-width: 5rem;
}

/* WebKit does funky things with spinners; hide so Epiphany can show the input */
.slider-input-group input[type=number]::-webkit-inner-spin-button, 
.slider-input-group input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.slider-input-group.disabled {
    pointer-events: none;
}
