.card-pf-aggregate-status-alt .card-pf-body {
  padding-bottom: 20px;
}

.card-pf-aggregate-status-alt .card-pf-title {
  line-height: 22px;
  margin: 20px 0 10px 0;
  font-weight: 300;
}

.card-pf-aggregate-status-alt .card-pf-aggregate-status-count {
  font-size: 24px;
}

.card-pf-aggregate-status-alt .card-pf-aggregate-status-title {
  display: block;
  font-size: 12px;
}

.card-pf-aggregate-status-alt .card-pf-aggregate-status-notifications .card-pf-aggregate-status-notification {
  border-left: none;
}

.card-pf-aggregate-status-alt .card-pf-aggregate-status-notifications .fa, .card-pf-aggregate-status-alt .card-pf-aggregate-status-notifications .pficon {
  position: relative;
  top: -1px;
}

.donut-chart-pf {
  width: 100%;
  float: left;
  padding-top: 15px;
}

.donut-tooltip-pf {
  background: #434343;
  color: #fff;
  opacity: 0.9;
  filter: alpha(opacity=90);
  padding: 2px 6px;
}

.donut-title-big-pf {
  font-size: 30px;
  font-weight: 300;
  color: #333;
}

.donut-title-small-pf {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}

.utilization-chart-pf h3 {
  font-weight: 400;
}

.utilization-chart-pf .current-values {
  border-bottom: 1px solid #d1d1d1;
  float: left;
  padding: 0 5px 10px 0;
  width: 100%;
}

.utilization-chart-pf .available-count {
  margin: 3px 0;
  padding-left: 0;
  padding-right: 5px;
}

.utilization-chart-pf .available-text {
  color: #333;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin: 2px 0;
  padding: 0 5px;
}

.utilization-chart-pf .radial-chart {
  float: left;
  padding-top: 10px;
  width: 100%;
}

.utilization-chart-pf .sparkline-chart {
  float: left;
  margin-left: -5px;
  margin-right: -5px;
  width: 100%;
}

.utilization-chart-pf .legend-text {
  color: inherit;
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-left: 0;
}

.data-list-pf {
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 1px;
}
.data-list-pf .list-row {
  margin-right: 0px;
  position: relative;
  padding-right: 0px;
  width: 100%;
}
.data-list-pf .list-content {
  left: 15px;
  position: relative;
}
.data-list-pf .list-content.with-check-box {
  border-left: solid 2px #d2d2d2;
  left: 30px;
  margin-left: 10px;
}
.data-list-pf .list-content.with-menu {
  margin-right: 30px;
  right: 15px;
}
.data-list-pf .list-check-box {
  bottom: 0px;
  left: 20px;
  position: absolute;
  top: 0px;
  width: 20px;
}
.data-list-pf .data-list-loading {
  background: rgba(0, 0, 0, 0.05);
}
.data-list-pf .list-group-item:first-of-type {
  margin-top: 0;
}
.data-list-pf .list-group-item .list-column {
  float: left;
  padding: 5px 0px;
}
.data-list-pf .list-group-item .pficon {
  -webkit-align-items: center;
  align-items: center;
  color: #1186C1;
  font-size: 26px;
  width: 26px;
}

.data-list-pf .list-group-item.active,
.data-list-pf .list-group-item.active:hover,
.data-list-pf .list-group-item.active:focus {
  background-color: #def3ff;
  border-color: #def3ff;
  color: #000000;
}

.data-list-pf .list-group-item:hover,
.data-list-pf .list-group-item:focus {
  background-color: #ededed;
  border-color: #ededed;
}

.data-list-pf .list-group-item.active .pficon,
.data-list-pf .list-group-item.active:hover .pficon,
.data-list-pf .list-group-item.active:focus .pficon {
  color: #ffffff;
}
.data-list-pf .row-column {
  padding-right: 5px;
}

.tiles-view-pf {
  overflow: auto;
  padding-top: 20px;
  padding-left: 2px;
}

.tiles-view-pf .tile {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .175);
  background: #fff;
  border-top: 2px solid transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175);
  display: block;
  float: left;
  height: 290px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 260px;
}

.tiles-view-pf .tile-check-box {
  left: 10px;
  position: absolute;
  top: 8px;
  width: 20px;
  z-index: 3;
}

.tiles-view-pf .tile-content {
  height: 100%;
  margin: 2px 0 10px 0;
  overflow: auto;
  width: 100%;
}

.tiles-view-pf .tile-title {
  color: #1186C1;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  margin-top: 0px;
}

.tiles-view-pf .tile.active,
.tiles-view-pf .tile.active:hover,
.tiles-view-pf .tile.active:focus {
  border: solid 3px #39a5dc;
}

.tiles-view-pf .tile:hover,
.tiles-view-pf .tile:focus {
  -webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.24);
  border: 1px solid #d1d1d1
}

.tiles-view-pf .tile.active .pficon,
.tiles-view-pf .tile.active:hover .pficon,
.tiles-view-pf .tile.active:focus .pficon {
  color: #ffffff;
}

.tiles-view-pf .tile.disabled, .tile.disabled:hover, .tile.disabled:focus {
  border: 1px solid #eee;
  color: #999999;
  cursor: not-allowed;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.trend-title-big-pf {
  font-size: 24px;
  font-weight: 300;
  color: #333;
  margin-left: 10px;
}

.trend-title-small-pf {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}

.trend-header-pf {
  display: block;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  margin-left: 10px;
}

.trend-footer-pf {
  font-size: 12px;
  font-weight: 400;
  color: #333;
  margin-left: 10px;
}

.simple-filter a {
  cursor: pointer;
}

.filter-select .btn-default {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  background-color: #ffffff;
  background-image: none;
  color: #999999;
}
