.pficon-warning-triangle-o {
    color: #ec7a08; /* pf-orange-400 */
    font-size: 16px;
}

.modal-footer .pficon-warning-triangle-o {
    line-height: inherit;
    margin-right: 0.5rem;
}

.storage-volumes-actions {
    float: right;
}
