/* SPDX-License-Identifier: LGPL-2.1-or-later */
/* Red Hat Branding */

:root {
    --ct-color-host-accent: #c00 !important;
}

#badge {
    inline-size: 225px;
    block-size: 80px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#brand::before {
    content: "${NAME}";
}
