<!DOCTYPE html>
<!--
This file is part of Cockpit.

Copyright (C) 2015 Red Hat, Inc.

Cockpit is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation; either version 2.1 of the License, or
(at your option) any later version.

Cockpit is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with Cockpit; If not, see <http://www.gnu.org/licenses/>.
-->
<html lang="en" ng-csp class="no-js">
<head>
<meta charset="utf-8">
<title translatable="yes">Image Registry</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../base1/cockpit.css">
<link rel="stylesheet" href="bundle.css">

<script src="../base1/angular.js"></script>
<script src="../base1/cockpit.js"></script>
<script src="bundle.js"></script>

<!-- debug:start -->
<link rel="stylesheet/less" type="text/css" href="styles/main.less" />
<script src="less.js" type="text/javascript"></script>
<script src="scripts/kube-client.js"></script>
<script src="scripts/kube-client-cockpit.js"></script>
<script src="scripts/dashboard.js"></script>
<script src="scripts/exceptions.js"></script>
<script src="scripts/images.js"></script>
<script src="scripts/projects.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/dialog.js"></script>
<script src="scripts/listing.js"></script>
<!-- debug:end -->

</head>

<body ng-app='registry' ng-controller="MainCtrl" hidden>
    <div ng-cloak ng-if="!curtains">
        <div class="icon-sidebar">
            <div>
                <ul>
                    <li ng-class="{ active: viewActive(null)}">
                        <a ng-href="{{ viewUrl(null) }}">
                            <i class="fa fa-dashboard fa-fw"></i><br>Overview
                        </a>
                    </li>
                    <li ng-class="{ active: viewActive('images')}">
                        <a ng-href="{{ viewUrl('images') }}">
                            <i class="pficon pficon-image fa-fw"></i><br>Images
                        </a>
                    </li>
                    <li ng-class="{ active: viewActive('projects')}">
                        <a ng-href="{{ viewUrl('projects') }}">
                            <i class="pficon pficon-project fa-fw"></i><br>Projects
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="content" ng-view ng-if="!curtains">
    </div>

    <div class="curtains blank-slate-pf" ng-if="curtains">
        <div class="blank-slate-pf-icon">
            <div class="spinner spinner-lg" ng-show="!curtains.status"></div>
            <i class="fa fa-exclamation-circle" ng-if="curtains.status && curtains.status != 403"></i>
            <i class="fa fa-lock" ng-if="curtains.status == 403"></i>
        </div>
        <h1 ng-if="!curtains.status" translatable="yes">Connecting...</h1>
        <h1 ng-if="curtains.status" translatable="yes">Couldn't connect to server</h1>
        <p ng-if="curtains.message">{{curtains.message}}</p>
        <div class="blank-slate-pf-main-action" ng-if="curtains.status">
            <button class="btn btn-primary btn-lg" translatable="yes" ng-click="reconnect()">
                Reconnect
            </button>
        </div>
    </div>

</body>
</html>
