# We only commit the files that we symlink to from other directories
# or otherwise require to be present. Files that are touched during
# 'make update-lib' are not commited.

.*
*.min.*

*.eot
*.gzip
*.map
*.nuspec
*.otf
*.svg
*.ttf
*.woff2
*.zip

AUTHORS*
bower.json
CHANGES*
CHANGELOG*
composer.json
CONTRIBUTING*
Gruntfile.js
History*
index.js
package.js
package.json
npm-shrinkwrap.json
QUICKSTART*
Rakefile
README*
!/README

build/
test/
tests-src/

/angular-animate/
/angular-bootstrap/*.css
/angular-patternfly/

/bootstrap-combobox/css/
/bootstrap-combobox/js/tests/
/bootstrap-combobox/less/

/bootstrap-datepicker/dist/css/
/bootstrap-datepicker/docs/
/bootstrap-datepicker/js/
/bootstrap-datepicker/less/
/bootstrap-datepicker/tests/

/bootstrap-select/

/bootstrap/dist/css/
/bootstrap/dist/fonts/
/bootstrap/dist/js/npm.js
/bootstrap/fonts/
/bootstrap/grunt/
/bootstrap/js/
/bootstrap/less/
!/bootstrap/less/variables.less
/bootstrap/nuget/

/d3/xxx

/eonasdan-bootstrap-datetimepicker/

/font-awesome/

/jquery/
/jquery-amend/
/jquery-flot/

/kubernetes-object-describer/

/less-cockpit/dist/*.min.js
/less-cockpit/*.js

/momentjs/locale/
/momentjs/min/*locales*
/momentjs/min/tests.js
/momentjs/src/
/momentjs/templates/

/moment/
/moment-timezone/

/mustache/wrappers/

/patternfly/PFICONS.md
/patternfly/components/bootstrap/dist/
/patternfly/components/bootstrap/fonts/
/patternfly/components/bootstrap/grunt/
/patternfly/components/bootstrap/js/
/patternfly/components/bootstrap/less/*.less
/patternfly/components/bootstrap/less/mixins
/patternfly/components/bootstrap-combobox/
/patternfly/components/bootstrap-datepicker/
/patternfly/components/bootstrap-select/*ss/
/patternfly/components/bootstrap-select/js/
/patternfly/components/bootstrap-select/dist/css/
/patternfly/components/bootstrap-select/dist/js/i18n/
/patternfly/components/bootstrap-switch/
/patternfly/components/bootstrap-touchspin/
/patternfly/components/bootstrap-treeview/
/patternfly/components/c3/
/patternfly/components/d3/
/patternfly/components/datatables*/
/patternfly/components/font-awesome/*ss/
/patternfly/components/google-code-prettify/
/patternfly/components/jquery/
/patternfly/components/matchHeight/

/patternfly/dist/css/
/patternfly/dist/img/
/patternfly/dist/js/
/patternfly/less/*.less
!/patternfly/less/color-variables.less
!/patternfly/less/variables.less

/qunit/qunit/qunit.js
/qunit/src/
/qunit-tap/

/react/react-dom-server.js
/react/react-with-addons.js
/react-lite-cockpit/dist/react-lite.common.js
/react-lite-cockpit/webpack.config.js

/requirejs/

/term.js-cockpit/index.js
