# We only commit the files that we symlink to from other directories
# or otherwise require to be present. Files that are touched during
# 'make update-lib' are not commited.

.*
*.min.*

*.eot
*.gzip
*.map
*.nuspec
*.otf
*.svg
*.ttf
*.woff2
*.zip

AUTHORS*
bower.json
CHANGES*
CHANGELOG*
CONTRIBUTING*
Gruntfile.js
History*
package.js
package.json
npm-shrinkwrap.json
QUICKSTART*
Rakefile
README*
!/README

build/
test/
tests-src/

/angular/*.js
/angular-animate/
/angular-bootstrap/
/angular-patternfly/
/angular-route/

/d3/xxx

/font-awesome/

/jquery/
/jquery-amend/
/jquery-flot/

/kubernetes-object-describer/

/less/dist/*.min.js
/less/*.js

/momentjs/locale/
/momentjs/min/*locales*
/momentjs/min/tests.js
/momentjs/src/
/momentjs/templates/

/mustache/wrappers/

/patternfly/components/bootstrap/dist/
/patternfly/components/bootstrap/fonts/
/patternfly/components/bootstrap/grunt/
/patternfly/components/bootstrap/js/
/patternfly/components/bootstrap/less/*.less
!/patternfly/components/bootstrap/less/variables.less
/patternfly/components/bootstrap/less/mixins
/patternfly/components/bootstrap-combobox/
/patternfly/components/bootstrap-datepicker/
/patternfly/components/bootstrap-select/*ss/
/patternfly/components/bootstrap-select/js/
/patternfly/components/bootstrap-select/dist/css/
/patternfly/components/bootstrap-select/dist/js/i18n/
/patternfly/components/bootstrap-switch/
/patternfly/components/bootstrap-touchspin/
/patternfly/components/bootstrap-treeview/
/patternfly/components/c3/
/patternfly/components/d3/
/patternfly/components/datatables*/
/patternfly/components/font-awesome/*ss/
/patternfly/components/google-code-prettify/
/patternfly/components/jquery/
/patternfly/components/matchHeight/

/patternfly/dist/css/
/patternfly/dist/img/
/patternfly/dist/js/
/patternfly/less/*.less
!/patternfly/less/variables.less

/qunit/qunit/qunit.js
/qunit/src/
/qunit-tap/

/requirejs/

/term.js-cockpit/index.js
