@import (less) "/page.css";
@import "/listing.less";
@import (less) "/table.css";

@import (less) "../../bower_components/c3/c3.css";

.icon-2x-vms {
    font-size: 2em;
}
.icon-3x-vms {
    font-size: 3em;
}

.machines-width-max {
    width: 100%;
}

.btn + .dropdown-menu.dropdown-menu-right  {
    right: -4px;
    left: auto;
}

.usage-donut-caption {
    text-align: center;
    width: 200px;
}

.machines-disks-total {
    float: right;
    white-space: nowrap;
}

.machines-disks-source {
    float: right;
}

.machines-disks-source-descr {
    color: #888888;
    text-align: right;
}

.machines-disks-source-value {
    text-align: left !important;
}

.machines-disks-alias {
    white-space: nowrap;
}

.machines-disks-total-value {
    font-weight: bold;
}
