.vnc-custom-body {
    margin: 0px;
    overflow-y: hidden;
}

.vnc-custom-container {
    height: inherit !important;
}

.vnc-custom-status-bar {
    margin-top: 0px;
    margin-bottom: 2px;
}

.vnc-custom-status-bar {
    position: relative;
    height: auto;
}