.vnc-main-menu {
    background-color: white;
    padding-bottom: 5px;
    font-size: 13px;
}

.vnc-button {
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.vnc-custom-body {
    margin: 0px;
    overflow-y: hidden;
}

.vnc-custom-container {
    height: inherit !important;
}

.vnc-custom-status-bar {
    margin-top: 0px;
    margin-bottom: 2px;
}

.vnc-custom-status-bar {
    position: relative;
    height: auto;
}


