module cockpit_test_bridge 1.0;

require {
        type urandom_device_t;
        type virt_bridgehelper_t;
        type svirt_t;
        class unix_stream_socket { read write };
        class chr_file { read getattr open };
}

#============= virt_bridgehelper_t ==============

#!!!! This avc has a dontaudit rule in the current policy
allow virt_bridgehelper_t svirt_t:unix_stream_socket { read write };

#!!!! This avc can be allowed using the boolean 'global_ssp'
allow virt_bridgehelper_t urandom_device_t:chr_file { read getattr open };
