#system_information_ssh_keys .list-group-item {
    cursor: auto;
}

#system_information_hostname_text + span {
    font: inherit;
    margin-left: 0.5em;
}

#systime-date-input {
    display: inline;
    width: 10em;
}

#systime-time-hours,
#systime-time-minutes {
    display: inline;
    width: 3em;
}
