#system_information_hostname_text + span {
  font: inherit;
  margin-left: 0.5em;
}

#systime-time-hours,
#systime-time-minutes {
  display: inline;
  width: 3em;
}

.system-configuration .pf-c-button.pf-m-link:disabled {
  color: inherit;
}
