/* The following are needed for the Modal */
@import "../../../node_modules/@patternfly/patternfly/components/Backdrop/backdrop.css";
@import "../../../node_modules/@patternfly/patternfly/layouts/Bullseye/bullseye.css";
@import "../../../node_modules/@patternfly/patternfly/components/ModalBox/modal-box.css";

#system_information_ssh_keys .list-group-item {
    cursor: auto;
}

#system_information_hostname_text + span {
    font: inherit;
    margin-left: 0.5em;
}

#systime-date-input {
    width: 10em;
    margin-right: 0.5em;
}

#systime-time-hours,
#systime-time-minutes {
    display: inline;
    width: 3em;
}

.system-configuration .pf-c-button.pf-m-link:disabled {
    color: inherit;
}
