.system-health {
  &-events {
    > li {
      // Better align system health icons
      display: flex;
      // Align icons vertically to text
      align-items: center;
      justify-content: flex-start;

      + li {
        margin-block-start: var(--pf-global--spacer--md);
      }

      .spinner {
        margin-inline-start: 0;
      }

      .pf-c-spinner {
        // PF's spinner is 18px while the icons are 16px,
        // so redefine it here to make text to the right line up
        --pf-c-spinner--m-md--diameter: 16px;
      }

      > :not(a):last-child {
        flex: auto;
      }
    }
  }
}
