.system-health {
  &-events {
    > li {
      // Better align system health icons
      display: flex;
      // Align icons vertically to text
      align-items: center;
      justify-content: start;

      + li {
        margin-top: 0.5rem;
      }

      .spinner {
          margin-right: 0.5rem
      }

      .fa,
      .pficon {
        // Bump up icon size
        font-size: 1.25rem;
        text-decoration: none;
      }

      > .fa,
      > .pficon {
        // Some icons are not the same width; give them a suggested width
        flex-basis: 1.25rem;
        display: flex;
        // Align icons to the center of the basic width
        justify-content: center;
      }

      > :not(a):last-child {
        flex: auto;
      }
    }
  }
}
