.system-health {
  &-events {
    > li {
      // Better align system health icons
      display: flex;
      // Align icons vertically to text
      align-items: center;
      justify-content: flex-start;

      + li {
        margin-top: var(--pf-global--spacer--sm);
      }

      .spinner {
          margin-left: 0;
      }

      > :not(a):last-child {
        flex: auto;
      }
    }
  }
}
