@use "global-variables" as *;
@use "@patternfly/patternfly/utilities/Text/text.scss";

.system-information-failed-login-warning-icon {
  color: var(--pf-t--chart--global--warning--color--100);
}

.system-information-failed-login-warning {
  color: var(--pf-t--chart--global--warning--color--200);
  font-weight: var(--pf-t--global--font--weight--body--bold);
}

.system-information-failed-login-danger-icon {
  color: var(--pf-t--global--color--status--danger--100);
}

.system-information-failed-login-danger {
  color: var(--pf-t--global--color--status--danger--200);
  font-weight: var(--pf-t--global--font--weight--body--bold);
}

.system-information-last-login-icon {
  color: var(--pf-t--global--icon--color--subtle);
}

.ct-grey-text {
  color: var(--pf-t--global--icon--color--subtle);
}
