#motd {
  --motd--font-size: var(--pf-global--FontSize--sm);
  background-color: transparent;
  border: none;
  font-size: var(--motd--font-size);
  // Account for the difference in font sizes, so the text lines up
  margin: 0;
  margin-block-start: calc(var(--pf-c-alert__title--FontSize) - var(--motd--font-size));
  padding: 0;
  white-space: pre-wrap;
}

#motd-box {
  margin-block-end: 0;
}
