.realms-op-diagnostics {
  max-height: 200px;
}

.realms-op-wait-message {
  margin-left: 10px;
  float: right;
  margin-top: 3px;
}

#realms-leave-dialog .pf-c-expandable-section {
  margin-top: var(--pf-global--spacer--md);
}
