#system_machine_id {
  overflow: visible;
  white-space: normal;
  // Some browsers don't support anywhere yet, so we provide break-word as a fallback
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
  // WebKit & Blink browsers don't support overflow-wrap for non-words (yet?),
  // so use a nonstandard break-all in this special case
  word-break: break-all;
}

.system-information {
  &-machine-id {
    white-space: nowrap;
  }
}
