.comma-list {
  display: inline;
  list-style: none;
  padding-inline-start: 0;
}

.comma-list li {
  display: inline-block;
}

.comma-list li:not(:last-child)::after {
  content: ",";
  margin-inline-end: 0.5em;
}

.system-information-unclean-shutdown-status-icon {
  color: var(--pf-t--global--color--status--danger--100);
}

.system-information-unclean-shutdown-status {
  color: var(--pf-t--global--color--status--danger--200);
  font-weight: var(--pf-t--global--font--weight--body--bold);
}
