@use "ct-card";
@use "page";

@import "@patternfly/patternfly/utilities/Spacing/spacing.css";

/* Style the list cards as ct-cards */
.pf-c-page__main-section .pf-c-card {
  @extend .ct-card;
}

.pf-c-table tr:nth-child(1) {
  > td, th {
    --pf-c-table--cell--PaddingTop: 0.5rem;
    --pf-c-table--cell--PaddingBottom: 0.5rem;

    padding-block: var(--pf-c-table--cell--PaddingTop) var(--pf-c-table--cell--PaddingBottom);

    padding-inline: var(--pf-c-table--cell--PaddingLeft) var(--pf-c-table--cell--PaddingRight);
  }
}

.kpatches-labelgroup ul.pf-c-label-group__list,
.kpatches-labelgroup li.pf-c-label-group__list-item:last-child, {
  margin-block-end: 0;
}

.pk-updates--header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem 1rem;
  padding-inline: 0;

  &--actions {
    > .pf-c-button,
    > .btn-group {
      margin-block: 5px 0;
      margin-inline: 0 5px;

      &:last-child {
        margin-inline-end: 0;
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .pk-updates--header--auto {
    justify-content: flex-start;
  }
}

// Make header's content bold
.pf-c-table tr:nth-child(1) td:nth-child(2) {
  font-weight: var(--pf-global--FontWeight--bold);
}

.ct-table tr {
  .severity-icon {
    margin-inline-end: var(--pf-global--spacer--xs);
  }

  td.changelog {
    vertical-align: top;

    * {
      display: inline;
      font: inherit;
      background: inherit;
      color: inherit;
    }

    &, p {
      max-inline-size: 60vw;
      margin-block-end: 0;  // counter-act <Markdown>
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  th:last-child,
  td.changelog:last-child {
    text-align: start;
  }
}

.severity-critical {
  color: #a30000;
}

.severity-important {
  color: #ec7a08;
}

.severity-low {
  color: var(--ct-color-subtle-copy);
}

div.changelog {
  max-block-size: 20em;
  overflow: auto;
  white-space: pre-wrap;
}

/* Hide changelog summaries in narrow widths */
@media screen and (max-width: 80ch) {
  table.ct-table {
    /* Hide changelog header (there's no class) & data */
    thead th:last-child,
    td.changelog {
      display: none;
    }
  }
}

/* don't let the install progress bar get too wide */
.progress-main-view {
  max-inline-size: 60rem;
  margin-block: 10ex 0;
  margin-inline: auto;

  .pf-l-grid {
    align-items: end;
  }
}

/* workaround font not supporting tabular numbers yet https://github.com/cockpit-project/cockpit/issues/15090 */
.pf-c-progress__status {
  min-inline-size: 3ch;
}

/* Add some space between the spinner and the text */
.progress-description > svg {
  margin-inline-end: var(--pf-global--spacer--sm);
}

.flow-list-blank-slate {
  margin-block: 0;
  margin-inline: auto;
  max-inline-size: 69rem;
  text-align: center;
}

.flow-list {
  padding: 0;
  text-align: start;
  box-sizing: border-box;

  li {
    text-align: start;
    box-sizing: border-box;
    inline-size: 22rem;
    padding-block: 0;
    padding-inline: 0 1ex;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// prevent overflowo on small screens
.error-log {
  max-inline-size: 100%;
}

.update-log {
  text-align: center;

  th {
    text-align: start;
    padding-inline-end: 3ex;
  }

  td {
    text-align: start;
  }
}

.update-log-content {
  margin-block: 0;
  margin-inline: 10ex;
  block-size: 13em;
  overflow-y: auto;
}

table.header-buttons {
  margin-block-end: 20px; /* replacement for h2's margin-bottom */
  td {
    vertical-align: middle;
  }

  h2 {
    margin-block: 0;
    margin-inline: 0 4rem; /* vertical default ones break vertical alignment */
  }
}

#auto-update-day {
  max-inline-size: 10rem;
}

#auto-update-time {
  max-inline-size: 7rem;
}

.auto-update-group {
  // Add spacing between rows for when the flex items wrap
  row-gap: var(--pf-global--spacer--sm);
}

.pk-updates .pf-c-description-list + div {
  padding-block-start: var(--pf-global--spacer--md);
}

.restart-services-modal-body {
  padding-block: 1em;
  padding-inline: 0;
}

.pf-c-content ul {
  list-style-type: none;
}

.updates-history {
  // Constrain  time's width
  .history-time {
    inline-size: 0;
    white-space: nowrap;
  }

  // Fix alignment of the package count's icon
  .list-view-pf-additional-info-item {
    align-items: baseline;

    > svg {
      margin-inline-end: 1ex;
    }
  }
}

.updates-success-table {
  margin-block-end: 1em;
}

.update-success-actions > button {
  margin-block: 0.25rem;
  margin-inline: 0.5rem 0;
}

.update-success-table-title {
  padding-inline-start: 0.5em;
}

.cockpit-update-warning {
  margin-inline-end: 1rem;
}

.cockpit-update-warning-icon {
  margin-inline-end: 0.5rem;
}

.cockpit-update-warning-text {
  color: var(--pf-global--warning-color--200);
}

.autoupdates-card-error {
  margin-block-end: var(--pf-global--spacer--md);
}

.ct-info-circle {
  color: var(--pf-global--info-color--100);
}
