// -*- javascript -*-

/* The Cockpit session is a non-local, active session as far as polkit
   is concerned.  Unfortunately, some default policies of system
   services do not allow non-local sessions to do all that one would
   expect.

   Bugs have been filed and in the mean time we fix things up with
   some rules.
*/

polkit.addRule(function(action, subject) {
    if (!subject.local &&
        polkit.spawn(["loginctl", "show-session", "--property=Service", subject.session]) == "Service=cockpit\n") {

        // HACK - Admins should be able to change the active network configuration
        // https://bugzilla.redhat.com/show_bug.cgi?id=1145646
        if (action.id == "org.freedesktop.NetworkManager.network-control")
            return polkit.Result.AUTH_ADMIN;

    }

});
