@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_progress-bars.scss";

.password-strength-meter {
    height: 5px;
    margin-top: 5px;
    margin-bottom: 0;
}

.password-strength-meter div {
    width: 25%;
    border-right: 3px solid var(--color-bg);
    background-color: transparent;
    box-shadow: none;
}

.password-strength-meter div:last-child {
    border-right: none;
}

.password-strength-meter.weak div:first-child {
    background-color: #C00;
}

.password-strength-meter.okay div:nth-child(-n+2) {
    background-color: #EC7A08;
}

.password-strength-meter.good div:nth-child(-n+3) {
    background-color: var(--color-alert-success-text);
}

.password-strength-meter.excellent div:nth-child(-n+4) {
    background-color: var(--color-alert-success-text);
}
