@use "ct-card";
@use "page";

// Import utilities for `pf-u...` classes
@import "@patternfly/patternfly/utilities/Spacing/spacing.css";
@import "global-variables.scss";
@import "@patternfly/patternfly/components/DataList/data-list.scss";
@import "@patternfly/patternfly/components/Toolbar/toolbar.scss";
@import "@patternfly/patternfly/layouts/Flex/flex.scss";

#account .pf-c-card {
  @extend .ct-card;
}

.account-details .pf-c-card__header {
  margin-bottom: var(--pf-global--spacer--lg);
}

#account {
  --pf-c-page__main-breadcrumb--PaddingBottom: var(--pf-c-page__main-breadcrumb--PaddingTop);
}

#account .pf-l-gallery {
  --pf-l-gallery--GridTemplateColumns: 1fr;
}

#account .pf-c-page__main-section,
#account .pf-c-page__main-nav {
  padding: var(--pf-global--gutter);
}

.delete-resource-red {
  color: var(--pf-global--danger-color--200);
}

#account-details div.checkbox:first-child {
  margin-top: 0;
}

#account-details div.checkbox:last-child {
  margin-bottom: 0;
}

.size-text-ct {
  display: inline;
  width: 8em;
  text-align: left;
  margin: 2px;
}

@media (min-width: 500px) {
  .modal-sm-ct {
    width: 32rem;
  }
}

.account-column-one {
  min-width: 270px;
  display: inline-block;
}

.expiration-modal .pf-c-form__group-control {
  .pf-c-radio:first-child {
    padding-bottom: var(--pf-global--spacer--sm);
  }
  // Work around for https://github.com/patternfly/patternfly/issues/4061
  .pf-c-radio:nth-child(2) input {
    align-self: center;
  }
}

.help-block {
  white-space: pre-wrap;
}

.outline-question-circle-icon {
  margin-left: var(--pf-global--spacer--sm);
}

.accounts-toolbar-header > .pf-c-toolbar__content-section {
  row-gap: var(--pf-global--spacer--sm);
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

// Iterate through supported PF color names for light and dark modes
@each $color in cyan gold {
  .group-#{$color} {
    background-color: var(--pf-global--palette--#{$color}-100);

    .pf-theme-dark & {
      background-color: var(--pf-global--palette--#{$color}-300);
    }
  }
}
// PF adapts this color properly across light and dark
.group-grey {
  background-color: var(--pf-global--BorderColor--100);
}

.group-more-btn {
  font-size: var(--pf-global--FontSize--sm);
}

#groups-list td:first-child {
  vertical-align: middle;
}
