@import "/page.css";
@import "/table.css";

.cockpit-account {
    width: 250px;
    height: 70px;
    background: #FFF;
    margin-top: 15px;
    margin-right: 15px;
    border: 1px solid #ddd;
    display: inline-block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.cockpit-account:hover {
    background-color: #edf8ff;
    cursor: pointer;
}

.cockpit-account > .cockpit-account-pic {
    width: 48px;
    height: 48px;
    font-size: 48px;
    color: #bebebe;
    margin: 10px;
    float: left;
}

.cockpit-account > .cockpit-account-real-name {
    padding-top: 10px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-height: 30px;
}

.cockpit-account > .cockpit-account-user-name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.account-details .info-table-ct th,
.account-details .info-table-ct td {
    overflow: visible;
    vertical-align: top;
}

#account-details div.checkbox:first-child {
	margin-top: 0px;
}

#account-details div.checkbox:last-child {
	margin-bottom: 0px;
}

#dashboard_setup_address_discovered li:hover {
    background-color: #edf8ff;
}

#account-pic {
    background: #d3d7cf;
    border-radius: 5px;
    cursor: pointer;
}

#account-authorized-keys-list div.comment {
    width: 250px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

#account-authorized-keys-list div.fingerprint {
    width: -moz-calc(100% - 30px - 260px);
    width: -webkit-calc(100% - 30px - 260px);
    width: calc(100% - 30px - 260px);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

#account-authorized-keys-list div.action {
    float: right;
    width: 28px;
}

#authorized-key-add {
    min-width: 28px;
    min-height: 28px;
}

#authorized-keys-text {
    height: 200px;
    resize: none;
    margin-bottom: 10px;
}

.align-top {
    vertical-align: top;
}

.password-strength-meter {
    height: 5px;
    margin-top: 5px;
    margin-bottom: 0;
}

.password-strength-meter div {
    width: 25%;
    border-right: 3px solid #fff;
    background-color: transparent;
}

.password-strength-meter div:last-child {
    border-right: none;
}

.password-strength-meter.weak div:first-child {
    background-color: #C00;
}

.password-strength-meter.okay div:nth-child(-n+2) {
    background-color: #EC7A08;
}

.password-strength-meter.good div:nth-child(-n+3) {
    background-color: #3F9C35;
}

.password-strength-meter.excellent div:nth-child(-n+4) {
    background-color: #3F9C35;
}

.size-text-ct {
    display: inline;
    width: 8em;
    text-align: left;
    margin: 2px;
}

@media (min-width: 500px) {
    .modal-sm-ct {
        width: 400px;
    }
}

.account-column-one {
    min-width: 270px;
    display: inline-block;
}

.expiration-modal .form-table-ct td:first-child {
    text-align: left;
}

.expiration-modal label input[type=text] {
    position: relative;
    top: -5px;
}
