Source: cockpit
Section: admin
Priority: optional
Maintainer: Cockpit <cockpit@cockpit-project.org>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               autoconf,
               automake,
               intltool,
               libssh-dev,
               libssl-dev,
               zlib1g-dev,
               libkrb5-dev,
               libxslt1-dev,
               libkeyutils-dev,
               libglib2.0-dev,
               libsystemd-dev,
               libpolkit-agent-1-dev,
               libpcp3-dev,
               libjson-glib-dev,
               libpam0g-dev,
               libpcp-import1-dev,
               libpcp-pmda3-dev,
               systemd,
               xsltproc,
               xmlto,
               docbook-xsl,
               glib-networking,
               nodejs-legacy,
               npm,
               openssh-client
Standards-Version: 3.9.6
Homepage: http://cockpit-project.org/
#Vcs-Git: git://anonscm.debian.org/collab-maint/cockpit.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-main/cockpit.git

Package: cockpit
Architecture: any
Depends: ${misc:Depends},
         cockpit-bridge,
         cockpit-ws,
         cockpit-shell,
         xdg-utils
Recommends: cockpit-docker,
            cockpit-storaged,
            cockpit-networkmanager
Suggests: cockpit-doc,
          cockpit-pcp
Description: User interface for Linux servers
 Cockpit runs in a browser and can manage your network of GNU/Linux
 machines.

Package: cockpit-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Cockpit deployment and developer guide
 The Cockpit Deployment and Developer Guide shows sysadmins how to deploy
 Cockpit on their machines as well as helps developers who want to embed
 or extend Cockpit.

Package: cockpit-bridge
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         policykit-1
Description: Cockpit bridge server-side component
 The Cockpit bridge component installed server side and runs commands on
 the system on behalf of the web based user interface.

Package: cockpit-networkmanager
Architecture: any
# Lock bridge dependency due to --with-networkmanager-needs-root
# which uses new less stable /manifests.js request path.
depends: ${misc:Depends},
         cockpit-bridge (= ${binary:Version}),
         network-manager
Description: Cockpit user interface for networking
 The Cockpit components for interacting with networking configuration.

Package: cockpit-pcp
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         cockpit-bridge (= ${binary:Version}),
         pcp
Description: Cockpit PCP integration
 Cockpit support for reading PCP metrics and loading PCP archives.

Package: cockpit-storaged
Architecture: any
Depends: ${misc:Depends},
         udisks2 | storaged
Description: Cockpit user interface for storage
 The Cockpit components for interacting with storage.

Package: cockpit-ws
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         glib-networking
Description: Cockpit Web Service
 The Cockpit Web Service listens on the network, and authenticates
 users.

Package: cockpit-shell
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         cockpit-bridge (= ${binary:Version}),
         libpwquality-tools
Description: Cockpit Shell user interface package
 This package contains the Cockpit shell UI assets.

Package: cockpit-docker
Architecture: amd64 armel armhf i386
Depends: ${misc:Depends},
         docker.io (>= 1.3.0) | docker-engine (>= 1.3.0),
         python
Description: Cockpit user interface for Docker containers
 The Cockpit components for interacting with Docker and user interface.

Package: cockpit-machines
Architecture: any
Depends: ${misc:Depends},
         libvirt-daemon-system
Description: Cockpit user interface for virtual machines
 The Cockpit components for managing virtual machines.

Package: cockpit-test-assets
Architecture: any
Depends: ${misc:Depends},
         openssh-client
Description: Addition files for the Cockpit integration tests
