#credentials-modal {
    // SSH keys don't have spaces, allow these two wrap
    .pf-c-clipboard-copy__expandable-content {
        word-wrap: anywhere;
    }

    th[data-label=Name] {
        font-weight: var(--pf-global--FontWeight--bold);
    }

    td[data-label=Toggle] {
        width: 1%;
    }

    // Remove excess padding from compact tables toggles
    // And adjust the padding to left align the toggles with the card header
    .pf-c-table  {
        .pf-c-table__toggle {
            padding-left: 0;
        }
    }
}
