:root {
    --primary-main: #222221;
    --primary-variant1: #ff0046;
    --primary-variant2: #ffffff;
    --primary-button-hover: #bb001f;
    --primary-text-disabled: #00000040;

    --secondary-main: #464f55;
    --secondary-variant1: #7d8488;
    --secondary-variant2: #a2a7aa;
    --secondary-variant3: #c7cacc;
    --secondary-variant4: #dadcdd;
    --secondary-variant5: #ecedee;
    --secondary-variant6: #f6f6f7;
    --secondary-accent: #2c6879;
    --secondary-accent1: #49a5aa;
    --secondary-accent2: #6cefea;
    --secondary-accent3: #b9fcf9;
    --secondary-button-hover: #205261;

    --alert-success: #00f000;
    --alert-info: #428124;
    --alert-warning: #ffc300;
    --alert-error: #b31e37;

    --chart-primary-main: #ff0046;
    --chart-primary-accent1: #2c6879;
    --chart-primary-accent2: #49a5aa;
    --chart-primary-accent3: #6cefea;
    --chart-primary-accent4: #464f55;

    --chart-secondary-main: #00aeff;
    --chart-secondary-accent: #3366ff;
    --chart-secondary-accent1: #6600cc;
    --chart-secondary-accent2: #9966ff;
    --chart-secondary-accent3: #cc33cc;
    --chart-secondary-accent4: #8c1d82;
    --chart-secondary-accent5: #ff8700;
    --chart-secondary-accent6: #ffc300;
}