/* Application list */

@import "/table.css";

.app-list caption h2 {
    margin: 0px;
}

.app-list caption table td:nth-child(2) {
    width: 100%;
    padding-left: 6em;
    color: #363636;
}

.app-list caption table td:nth-child(3) {
    text-align: right;
    padding-right: 10px;
    padding-left: 2em;
}

.table > tbody > tr:last-child > td {
    border-bottom: 1px solid #d1d1d1;
}

.app-list-empty {
    color: #888;
    text-align: center;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

.app-list-empty .spinner {
    margin-top: 5px;
    margin-bottom: 5px;
}

.app-list img {
    width: 32px;
    height: 32px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.app-list td {
    vertical-align: middle !important;
}

.app-list td:nth-child(2) {
    margin-right: 10px;
}

.app-list td:nth-child(3) {
    width: 70%;
}

.app-list td:nth-child(4) {
    /* shrink to fit */
    width: 1%;
    white-space: nowrap;
}

.app-list td:nth-child(4) button {
    width: 100%;
}

.app-list .progress-title {
    float: left;
    margin-right: 10px;
}

.app-list .progress {
    margin-bottom: 0px;
}

/* Application */

.app td img {
    width: 32px;
    height: 32px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.app td {
    vertical-align: middle !important;
}

.app td:nth-child(1) {
    width: 50px;
}

.app td {
    border-top: 0px !important;
    border-bottom: 1px solid #d1d1d1;
}

.app td:nth-child(3) {
    text-align: right;
}

.app td:nth-child(4) {
    /* shrink to fit */
    width: 1%;
    white-space: nowrap;
}

.app .progress-title {
    float: left;
    margin-right: 10px;
}

.app .progress {
    margin-bottom: 0px;
}

.breadcrumb {
    margin-bottom: 0px;
}

.app-screenshot {
    margin: 10px;
}
