@use "page";
@use "../../node_modules/@patternfly/patternfly/utilities/Text/text.css";

/* Application list */

.app-list img {
  inline-size: 32px;
  block-size: 32px;
  max-inline-size: unset;
}

.app-list .progress-title {
  margin-inline-end: 10px;
}

.app-list .pf-v5-c-data-list__item-action button {
  min-inline-size: 6rem;
}

.app-list .pf-v5-c-data-list__item-content {
  /* Vertically align application info to the center */
  align-items: center;
}

.progress-bar {
  display: inline-block;
  inline-size: 20%;
  overflow: hidden;
}

/* Application */

.application-details img {
  inline-size: 32px;
  block-size: 32px;
}

.application-details .progress-title {
  float: inline-start;
  margin-inline-end: 10px;
}

.app-screenshot {
  margin: 10px;
}
