/* Application list */

@import "../lib/table.css";
@import "../lib/cockpit-components-table.scss";

.app-list-empty {
    color: var(--ct-color-subtle-copy);
    text-align: center;
    border-top: 1px solid var(--ct-color-border);
    border-bottom: 1px solid var(--ct-color-border);
}

.app-list-empty .spinner {
    margin-top: 5px;
    margin-bottom: 5px;
}

.app-list img {
    width: 32px;
    height: 32px;
    max-width: unset;
}

.app-list .progress-title {
    margin-right: 10px;
}

.app-list .progress {
    margin-bottom: 0px;
}

.app-list .pf-c-data-list__item-action button {
    min-width: 6rem;
}

.app-list .pf-c-data-list__item-content {
    /* Vertically align application info to the center */
    align-items: center;
}

/* Application */

.app td img {
    width: 32px;
    height: 32px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.app td {
    vertical-align: middle !important;
}

.app td:nth-child(1) {
    width: 50px;
}

.app td {
    border-top: 0px !important;
    border-bottom: 1px solid var(--ct-color-border);
}

.app td:nth-child(3) {
    text-align: right;
}

.app td:nth-child(4) {
    /* shrink to fit */
    width: 1%;
    white-space: nowrap;
}

.app .progress-title {
    float: left;
    margin-right: 10px;
}

.app .progress {
    margin-bottom: 0px;
}

section.pf-c-page__main-breadcrumb {
    padding-bottom: var(--pf-global--spacer--xl);
}

.app-screenshot {
    margin: 10px;
}

.caption-with-actions {
    width: 100%;
}

.caption-with-actions span {
    display: flex;
    justify-content: space-between;
}

.right-menu * {
    display: inline-block;
}
