/* Application list */

.app-list-empty {
    color: var(--ct-color-subtle-copy);
    text-align: center;
    border-top: 1px solid var(--ct-color-border);
    border-bottom: 1px solid var(--ct-color-border);
}

.app-list-empty .spinner {
    margin-top: 5px;
    margin-bottom: 5px;
}

.app-list img {
    width: 32px;
    height: 32px;
    max-width: unset;
}

.app-list .progress-title {
    margin-right: 10px;
}

.app-list .progress {
    margin-bottom: 0px;
}

.app-list .pf-c-data-list__item-action button {
    min-width: 6rem;
}

.app-list .pf-c-data-list__item-content {
    /* Vertically align application info to the center */
    align-items: center;
}

/* Application */

.application-details img {
    width: 32px;
    height: 32px;
}

.application-details .progress-title {
    float: left;
    margin-right: 10px;
}

.application-details .progress {
    margin-bottom: 0px;
}

.app-screenshot {
    margin: 10px;
}

.caption-with-actions {
    width: 100%;
}

.caption-with-actions span {
    display: flex;
    justify-content: space-between;
}
