@use "page";
@use "../../node_modules/@patternfly/patternfly/utilities/Text/text.css";

/* Application list */

.app-list img {
  width: 32px;
  height: 32px;
  max-width: unset;
}

.app-list .progress-title {
  margin-right: 10px;
}

.app-list .pf-c-data-list__item-action button {
  min-width: 6rem;
}

.app-list .pf-c-data-list__item-content {
  /* Vertically align application info to the center */
  align-items: center;
}

.progress-bar {
  display: inline-block;
  width: 20%;
  overflow: hidden;
}

/* Application */

.application-details img {
  width: 32px;
  height: 32px;
}

.application-details .progress-title {
  float: left;
  margin-right: 10px;
}

.app-screenshot {
  margin: 10px;
}
