.ovirt-host-status-wrapper {
    width: 100%;
    text-align: right;
}

.ovirt-host-status {
    /*float: right;*/
    display: inline-flex;
}

.ovirt-host-status-label {
    text-align: right;
    color: #888888;
    font-weight: 600;
}
