.ovirt-provider-vdsm {
    padding: 1em;
}

.ovirt-provider-vdsm-menu {
    float:right;
}

.ovirt-provider-vdsm-inline-block {
    display: inline-block;
}

.ovirt-provider-vdsm-menu-buttons {
    display: inline-block;
    padding: 2px;
}

.ovirt-provider-vdsm-editor {
    width:100%;
    min-height: 300px;
}
