.ovirt-provider-overview-vm-icon {
    height: 100px;
}
.ovirt-provider-columns-container { }

.ovirt-provider-columns-one {
    float: left;
    width: 70%;
}

.ovirt-provider-columns-two {
    float: left;
    width: 30%;
}

.ovirt-provider-overview-icon {
    max-width: 100%;
    max-height: 100%;
}
