.ipv4-address {
  display: inline;
}

.ipv4-address input {
  width: 2em;
  background: none;
  border: none;
  text-align: center;
}

.network-number-field {
    width: 4em;
}

.network-ip-settings-row {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.network-ip-settings-row:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

.network-ip-settings-row table {
    margin-top: 10px;
}

.network-ip-settings-row tr {
  background: #F4F4F4;
    border: 1px solid #BABABA;
}

.network-ip-settings-row tr td {
    padding: 4px;
}

.network-ip-settings-row .btn-default {
    margin-right: 5px;
}

.network-ip-settings-row tr td .btn-default {
    margin-right: 4px;
}

/* Fix padding for network graph controls */

#networking-graph-toolbar,
#network-interface-graph-toolbar {
    margin-right: 20px;
}

#networking-rx-graph,
#networking-tx-graph,
#network-interface-tx-graph,
#network-interface-rx-graph {
    height: 120px;
}

#network-interface-graph-toolbar .ct-select,
#networking-graph-toolbar .ct-select,
#network-interface-graph-toolbar .dropdown,
#networking-graph-toolbar .dropdown {
    display: inline-block;
}

#network-interface-graph-toolbar .dropdown button span,
#networking-graph-toolbar .dropdown button span {
    width: 6em;
    text-align: left;
    padding-left: 5px;
    display: inline-block;
}

th.networking-speed {
    width: 20%;
}

th.networking-spacer {
    width: 10em;
}

th.networking-action {
    width: 28px;
}

td.networking-row-configure {
    text-align: right;
}

#network-interface-hw {
    margin-left: 20px;
    margin-right: 20px;
}

#network-interface-delete {
    margin-right: 20px;
}

td.networking-controls label {
    font-weight: inherit;
}

td.networking-controls input {
    margin-left: 0px;
}

ul.add-button {
    right: 0px;
    left: auto;
    min-width: 0;
    text-align: left;
}

span.inverted-switchbox {
    margin-right: 10px;
}

.network-ip-settings-row button {
    width: 2em;
}

.network-ip-settings-row td {
    text-align: right;
    padding-right: 0;
}
.network-ip-settings-row td:last-child {
    width: 28px;
}

.bootstrap-select {
    min-width: 150px;
}

#network-mtu-settings-dialog label {
    font-weight: normal;
}

#network-mtu-settings-dialog label input[type=radio] {
    position: relative;
    top: 3px;
    margin-right: 0.5em;
}

#network-mtu-settings-input {
    margin-left: 0.5em;
    width: 5em;
    display: inline;
}

#network-mac-settings-dialog label {
    font-weight: normal;
}

#testing-connection-curtain {
    z-index: 2000;
}

#confirm-breaking-change-popup .pficon-warning-triangle-o {
    float: left;
    font-size: 36px;
    margin-top: 6px;
    margin-right: 20px;
}

h1 .btn-onoff-ct {
    margin-left: 1.5em;
    vertical-align: text-bottom;
}

#networking-firewall-summary:hover {
    cursor: pointer;
    background-color: #def3ff;
}

/* set min-height to the same as max-height, so that the list doesn't shrink
 * when filtering */
#add-services-dialog .dialog-list-ct {
    height: 100vh;
    /* Constrain the list to a maximum size of the viewport height - UI chrome */
    max-height: calc(100vh - 30rem);
    min-height: 13em;
}

@media screen and (min-width: 640px) {
    /* Add a bit more padding in desktop mode */
    #add-services-dialog .dialog-list-ct {
        max-height: calc(100vh - 40rem);
    }
}

#add-services-dialog .list-group-item {
    cursor: default;
}

#add-services-dialog .list-view-pf-main-info {
    padding: 1rem 0;
}

#add-services-dialog .list-view-pf-checkbox {
    margin: 1rem 1rem 1rem 0;
}

#add-services-dialog .list-view-pf-view {
    margin: 0;
}

#add-services-dialog .list-view-pf-description {
    flex: auto;
}

#add-services-dialog .list-group-item-heading {
    font-size: 1.2em;
    margin: 0;
}

#add-services-dialog .list-group-item-text {
    display: flex;
    flex-wrap: wrap;
}

#add-services-dialog .service-ports {
    opacity: 0.75;
}

#add-services-dialog .service-ports:first-of-type {
    margin-right: 1em;
}

#add-services-dialog .spinner-lg {
    /* (Max-height of dialog-list-ct (above) - spinner size + grid gap) / 2 */
    margin: calc(((100vh - 40rem) - 30px + 0.5rem) / 2) auto;
}

#add-services-dialog .toggle-body > .ct-form-layout {
    margin-left: 1rem;
}

#add-services-dialog .toggle-body > .ct-form-layout + label {
    margin-top: 1rem;
}

#add-services-dialog .toggle-body > .ct-form-layout > .control-label {
    padding-left: 0;
}

.form-control.error {
    border-color: #cc0000;
}

.form-control.error:hover {
    border-color: #990000;
}

.form-control.error:focus {
    border-color: #990000;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ff3333;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ff3333;
}

#add-services-dialog .has-error {
    animation: 300ms error-slide-down ease-in-out;
    color: #c00;
    padding: 0;
}

#add-services-dialog .has-error:empty {
    display: none;
}

@keyframes error-slide-down {
    0% {
        line-height: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
    100% {
        line-height: inherit;
        height: auto;
        opacity: 1;
    }
}
