.ipv4-address {
  display: inline;
}

.ipv4-address input {
  width: 2em;
  background: none;
  border: none;
  text-align: center;
}

.network-number-field {
    width: 4em;
}

.network-ip-settings-row {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.network-ip-settings-row:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

.network-ip-settings-row table {
    margin-top: 10px;
}

.network-ip-settings-row tr {
  background: #F4F4F4;
    border: 1px solid #BABABA;
}

.network-ip-settings-row tr td {
    padding: 4px;
}

.network-ip-settings-row .btn-default {
    margin-right: 5px;
}

.network-ip-settings-row tr td .btn-default {
    margin-right: 4px;
}

/* Make the whole row a hit target */
.available-interfaces-group .list-group-item {
    padding: 0;
}

.available-interfaces-group .list-group-item label {
    padding: 3px 10px;
}

.available-interfaces-group .checkbox label {
    width: 100%;
}

.available-interfaces-group .checkbox label input[type="checkbox"] {
    margin-left: auto;
    position: relative;
}

.available-interfaces-group input[type='checkbox'] {
    margin: 4px 4px 4px -20px;
}

.available-interfaces-group > .list-group-item {
    padding: 0px;
}

ul.available-interfaces-group {
    margin-bottom: 0px;
}

/* Fix padding for network graph controls */

#networking-graph-toolbar,
#network-interface-graph-toolbar {
    margin-right: 20px;
}

#networking-rx-graph,
#networking-tx-graph,
#network-interface-tx-graph,
#network-interface-rx-graph {
    height: 120px;
}

#network-interface-graph-toolbar .dropdown,
#networking-graph-toolbar .dropdown {
    display: inline-block;
}

#network-interface-graph-toolbar .dropdown button span,
#networking-graph-toolbar .dropdown button span {
    width: 6em;
    text-align: left;
    padding-left: 5px;
    display: inline-block;
}

th.networking-speed {
    width: 20%;
}

th.networking-spacer {
    width: 10em;
}

th.networking-action {
    width: 28px;
}

td.networking-row-configure {
    text-align: right;
}

#network-interface-hw {
    margin-left: 20px;
    margin-right: 20px;
}

#network-interface-delete {
    margin-right: 20px;
}

td.networking-controls label {
    font-weight: inherit;
}

td.networking-controls input {
    margin-left: 0px;
}

ul.add-button {
    right: 0px;
    left: auto;
    min-width: 0;
    text-align: left;
}

span.inverted-switchbox {
    margin-right: 10px;
}

.network-ip-settings-row button {
    width: 2em;
}

.network-ip-settings-row td {
    text-align: right;
    padding-right: 0;
}
.network-ip-settings-row td:last-child {
    width: 28px;
}

.bootstrap-select {
    min-width: 150px;
}

#network-ethernet-settings-dialog label {
    font-weight: normal;
}

#network-ethernet-settings-dialog label input[type=radio] {
    position: relative;
    top: 3px;
    margin-right: 0.5em;
}

#network-ethernet-settings-mtu-input {
    margin-left: 0.5em;
    width: 5em;
    display: inline;
}

#testing-connection-curtain {
    z-index: 2000;
}

#confirm-breaking-change-popup .pficon-warning-triangle-o {
    float: left;
    font-size: 36px;
    margin-top: 6px;
    margin-right: 20px;
}
