/* workaround: make text red for select if contained in has-error, not in patternfly */
.has-error > .bootstrap-select > button > span {
    color: #A94442;
}

.ipv4-address {
  display: inline;
}

.ipv4-address input {
  width: 2em;
  background: none;
  border: none;
  text-align: center;
}

.network-number-field {
    width: 4em;
}

.network-ip-settings-row {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.network-ip-settings-row:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

.network-ip-settings-row table {
    margin-top: 10px;
}

.network-ip-settings-row tr {
  background: #F4F4F4;
    border: 1px solid #BABABA;
}

.network-ip-settings-row tr td {
    padding: 4px;
}

.network-ip-settings-row .btn-default {
    margin-right: 5px;
}

.network-ip-settings-row tr td .btn-default {
    margin-right: 4px;
}

.available-interfaces-group input[type='checkbox'] {
    margin: 4px 4px 4px -20px;
}

.available-interfaces-group > .list-group-item {
    border: none;
    padding: 0px;
}

ul.available-interfaces-group {
    margin-bottom: 0px;
}

/* Fix padding for network graph controls */

#networking-graph-toolbar,
#network-interface-graph-toolbar {
    margin-right: 20px;
}
