@import '../../../../../node_modules/@patternfly/react-styles/css/components/Consoles/AccessConsoles.css';
@import '../../../../../node_modules/@patternfly/react-styles/css/components/Consoles/SerialConsole.css';
@import '../../../../../node_modules/@patternfly/react-styles/css/components/Consoles/DesktopViewer.css';

.terminal-control ~ .vm-terminal {
    margin: 0.5rem auto 0;
    width: 100%;
}

/* Make the VNC canvas scale down to available width */
.pf-c-console__vnc canvas {
    max-width: 100%;
    height: auto !important;
}

.terminal-control {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    gap: var(--pf-global--spacer--sm);
}

.terminal-control > .btn {
    min-height: 2.25rem;
}

.terminal-control > :not(:last-child) {
    margin-right: 0.5rem;
}

.terminal-control > :last-child {
    margin-left: auto;
}

/* Hide send key button - there is not way to do that from the JS
 * https://github.com/patternfly/patternfly-react/issues/3689
 */
#pf-c-console__send-shortcut {
    display: none;
}

/* Add spacing between action buttons */
.pf-c-console__actions-vnc {
    gap: var(--pf-global--spacer--sm);
}
