
.containers-listing {
    width: 100%;
}

.containers-listing i.fa-cube,
.content-filter i.fa-cube {
    position: relative;
    font-size: 22px;
}

.containers-listing .console-ct {
    min-height: 310px;
}

kubernetes-container-terminal .terminal-actions {
    position: relative;
    z-index: auto;
}
