.container-cards-pf {
    display: flex;
    margin-top: 10px;
}

.card-pf {
    flex-grow: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.card-pf-aggregate-status .card-pf-body {
    margin-bottom: 0px;
}

.card-pf-wide {
    flex-basis: ~"calc(75% + 20px)";
}

.card-pf-double {
    flex-basis: ~"calc(66% - 76px)";
}

.dashboard-cards {
    width: 100%;
    max-width: 1024px;
    padding-right: 7px;
}

.card-pf-aggregate-status-notification .spinner {
    display: inline-block;
    margin-right: 7px;
}

.card-pf-aggregate-status-text {
    font-size: 13px;
    vertical-align: 3px;
}

.card-pf-heading {
    margin-bottom: 0px;

    button {
        margin: 15px 0px;
    }

    i {
        font-size: 24px;
        line-height: 16px;
        vertical-align: top;
        padding-right: 5px;
    }
}

.card-pf-footer {
    min-height: 5em;
}

.card-pf-body {
    margin-top: 10px;
    margin-bottom: auto;
}

.card-pf-body.blank-slate-pf {
    background: transparent;
    padding-top: 20px;
}

.card-pf-body table.listing-ct {
    margin-top: 0px;
    width: 100%;
}

.card-pf-body table.listing-ct thead th {
    border-top: none;
}

.card-pf-body table.listing-ct tbody:last-child {
    border-bottom: none;
}

.card-pf-body table.listing-ct tbody:last-child tr:last-child {
    border-bottom: none;
}

.pvc-notice {
    border-top: 1px solid #d1d1d1;
    padding-top: 5px;
}

.pvc-notice .pficon {
    font-size: 18px;
    margin-right: 5px;
    color: #72767b;
}

code {
    display: block;
    white-space: pre;
    font-size: 13px;
    margin-bottom: 1em;
}
