.details-listing {
    min-width: 70% !important;
}

.details-listing i.pficon-service {
    font-size: 30px;
    line-height: 20px;
    position: relative;
    padding-right: 5px;
    left: -5px;
}

.details-listing i.pficon-route {
    position: relative;
    font-size: 25px;
    line-height: 20px;
    left: -2px;
    padding-right: 8px;
}

.details-listing i.fa-server {
    position: relative;
    top: 3px;
}

.content-filter i.pficon-service {
    margin-right: 5px;
}

.details-listing i.pficon-replicator {
    position: relative;
    font-size: 28px;
    top: -6px;
}

.content-filter i.pficon-replicator {
    margin-right: 5px;
}

.content-filter i.pficon-container-node {
    top: 3px;
    margin-right: 5px;
}

.details-listing i.fa-cubes {

}

.details-listing i.fa-gear {
    position: relative;
    font-size: 25px;
    top: -3px;
}

.details-listing dl dd dl.inline-dl {
    padding-left: 15px;
}

.details-listing  dl dd dl.inline-dl dt {
    text-align: left;
}

.listing-ct-inline .console-ct > pre {
    text-align: left;
    margin: 0;
}

.type-filter .btn,
.type-filter .dropdown-menu {
    font-size: 13px;
}

.type-filter .btn-group.open .dropdown-toggle {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset;
}
