
@tag-border: @link-color;

table.project-body {
    margin-top: 0px;

    thead.th {
        border-top:0px;
        font-size: 12px;
    }

    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }

    tr.listing-ct-item {
        border-top: 1px solid color("#eee");
        border-bottom: 1px solid color("#eee");
        cursor: pointer;
    }
}

.close-icon {
    color: #000000;
}
.user-membership-body {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;

    h4 {
        color: #888;
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 14px;
    }

    span {
        display: block;
        margin-left: 20px;
    }
}

.user-body {
    border: 0px;

    table.listing-ct thead th {
        border-bottom: 0px;
        border-bottom: 1px solid color("#eee");
    }
}

table.listing-ct > thead td {
    padding-top: 0px;
}

.listing-ct-head .pficon-project {
    margin-bottom: 10px;
}

span.project-description {
    font-size: 13px;
    font-weight: normal;
}

p.project-description {
    margin-top: 1em;
}

a.input-icon {
    position: absolute;
    right: 18px;
}

.project-panel {
    padding-right: 25px;
    padding-top: 5px;
}

.project-panel-actions {
    padding-right: 5px;
    padding-top: 5px;
}

table.projects-listing {
    max-width: 2000px;
    min-width: 85%;

    thead {
        th {
            border-top: 0px;
        }
    }

    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }

    .details-listing {
        min-width: 70% !important;
    }

    tr.listing-ct-item {
        border-top: 1px solid color("#eee");
        border-bottom: 1px solid color("#eee");
        cursor: pointer;
    }

    tr.inner-project-listing {
        display: table-row;
    }

    tbody.first {
        tr.tag-item td {
            padding-top: 20px;
        }
    }

    tbody.last {
        tr.listing-ct-item.tag-item td:first-child {
            background-size: 100% 20px;
            background-repeat: no-repeat;
        }
    }

    tr.tag-item td {
        padding-bottom: 0px;
    }

    tr.listing-ct-item tt {
        color: @metadata-color;
    }
}
