
@tag-border: @link-color;

table.project-body {
    margin-top: 0px;

    thead.th {
        border-top:0px;
        font-size: 12px;
    }

    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }

    tr.listing-item {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        cursor: pointer;
    }
}

table.listing > thead td {
    padding-top: 0px;
}

.listing-head .pficon-project {
    margin-bottom: 10px;
}

span.project-description {
    font-size: 13px;
    font-weight: normal;
}

p.project-description {
    margin-top: 1em;
}

.project-panel {
    padding-right: 25px;
    padding-top: 0px;
}

table.projects-listing {
    max-width: 2000px;
    min-width: 85%;

    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }

    .details-listing {
        min-width: 70% !important;
    }

    tr.listing-item {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        cursor: pointer;
    }

    tr.inner-project-listing {
        display: table-row;
    }

    tbody.first {
        tr.tag-item td {
            padding-top: 20px;
        }
    }

    tbody.last {
        tr.listing-item.tag-item td:first-child {
            background-size: 100% 20px;
            background-repeat: no-repeat;
        }
    }

    tr.tag-item td {
        padding-bottom: 0px;
    }

    tr.listing-item tt {
        color: @metadata-color;
    }
}
