@import "variables-bootstrap.less";
@import "variables-patternfly.less";

@sidebar-width: 100;
@sidebar-pf-bg: #f2f2f2;
@listing-hover: @list-group-hover-bg;
@metadata-color: #888;
@command-bg-color: #eee;

@import "sidebar.less";
@import "filter.less";
@import "dropdown.less";


@import "images.less";
@import "layers.less";
@import "projects.less";

#content {
    margin-left: unit(@sidebar-width + 10, px);
    margin-right: 0px;
    min-height: 100%;
}

.listing-body dl {
    margin-bottom: 13px;
}

/* Registry dashboard */

.container-cards-pf {
    display: flex;
    margin-top: 10px;
}

.card-pf {
    flex-grow: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.card-pf-wide {
    flex-basis: ~"calc(75% + 20px)";
}

.card-pf-heading {
    margin-bottom: 0px;

    i {
        font-size: 24px;
        line-height: 16px;
        vertical-align: top;
        padding-right: 5px;
    }
}

.card-pf-utilization .card-pf-title {
    line-height: 1.1;
}

.card-pf-footer {
    min-height: 5em;
}

.dashboard-cards {
    width: 100%;
    max-width: 1024px;

}

.dashboard-storage {
    img {
        display: block;
        margin: 20px auto 0px auto;
    }
}

.dashboard-images {
    .card-pf-body {
        margin-top: 10px;
        padding-bottom: 0px;
        margin-bottom: auto;
        min-height: 220px;

        div {
            padding: 7px 10px 10px 10px;
            cursor: pointer;
        }

        div:hover {
            background-color: @table-bg-hover;
        }

        ul {
            background: linear-gradient(90deg, transparent 20px, @tag-border 20px, @tag-border 22px, transparent 22px);
            background-size: 100% 20px;
            background-repeat: no-repeat;
            padding: 10px 0px 0px 20px;
            margin-bottom: 0px;

            li {
                background: linear-gradient(180deg, transparent 8px, @tag-border 8px, @tag-border 10px, transparent 10px);
                background-repeat: no-repeat;
                padding-left: 7px;
                display: inline;
                list-style: none;
            }

            li:first-child {
                padding-left: 15px;
            }

            li.image-tag-truncated {
                padding-left: 15px;
                opacity: 0.5;
            }
        }
    }

    .namespace-filter {
        margin-top: -3px;
    }

    .all-images {
        display: block;
        float: right;
        margin-bottom: 10px;
    }

    .table > tbody > tr > td {
        border-top: none;
        font-weight: bold;
        padding: 0px;
    }

    .table a {
        display: block;
        color: inherit;
        padding: 8px 15px;
    }

    dt {
        font-size: 13px;
    }

    dt a {
        text-decoration: none;
        color: inherit;
    }

    dd {
        float: right;
        margin-left: 20px;
    }

}

.dashboard-commands {
    p {
        font-size: 13px;
        font-weight: bold;
    }
}

.blank-slate-pf {
    border: none;
}

.card-pf-body.blank-slate-pf {
    background: transparent;
    padding-top: 20px;
}
