label.inline {
    margin-right: 16px;
}

div.modal-body ul.dialog-list-ct {
    padding-top: 10px;
}

div.modal-body ul.dialog-list-ct li {
    padding-bottom: 10px;
}

.pvc-listing button.btn-danger {
    visibility: hidden;
}

.pvc-listing tr.listing-ct-item:hover button.btn-danger {
    visibility: visible;
}
