@import url('plot.css');
@import url("term.css");

.popover {
    max-width: none;
    white-space: nowrap;
}

.systime-inline form .pficon-close,
.systime-inline form .fa-plus {
    height: 26px;
    width: 26px;
    padding: 4px;
    float: right;
    margin-left: 5px;
}

.systime-inline .form-inline {
    background: #f4f4f4;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #bababa;
    padding: 4px;
}

.systime-inline .form-inline:first-of-type {
    border-top: 1px solid #bababa;
}

.systime-inline .form-control {
    margin: 0 4px;
}

.systime-inline .form-group:first-of-type .form-control {
    margin: 0 4px 0 0;
}

.systime-inline .form-group .form-control {
    width: 214px;
}

/* Make sure error message don't overflow the dialog */

.realms-op-diagnostics {
    max-width: 550px;
    text-align: left;
    max-height: 200px;
}

.realms-op-wait-message {
    margin-left: 10px;
    float: left;
    margin-top: 3px;
}

.realms-op-address-spinner {
    margin-left: -30px;
    margin-top:    2px;
}

.realms-op-address-error {
    margin-left: -30px;
    margin-top:    2px;
    color:         red;
}

.realms-op-zero-width {
    width: 0px;
}

.realms-op-error {
    text-align: left;
    font-weight: bold;
    overflow: auto;
    max-width: 550px;
    max-height: 200px;
}

/* Other styles */

.fa-red {
    color: red;
}

.small-messages {
    font-size: smaller;
}

#server-graph-toolbar .dropdown {
    display: inline-block;
}

#server-graph-toolbar .dropdown-toggle span {
    width: 6em;
    text-align: left;
    padding-left: 5px;
    display: inline-block;
}

.server-graph {
    height: 120px;
}

.server-graph-legend {
    list-style-type: none;
    padding: 30px 40px;
    float: right;
}

.server-graph-legend i {
    padding-right: 3px;
    font-size: 14px;
}

.server-graph-legend .cpu-io-wait i {
    color: #e41a1c;
}

.server-graph-legend .cpu-kernel i {
    color: #ff7f00;
}

.server-graph-legend .cpu-user i {
    color: #377eb8;
}

.server-graph-legend .cpu-nice i {
    color: #4daf4a;
}

.server-graph-legend .memory-swap i {
    color: #e41a1c;
}

.server-graph-legend .memory-cached i {
    color: #ff7f00;
}

.server-graph-legend .memory-used i {
    color: #377eb8;
}

.server-graph-legend .memory-free i {
    color: #4daf4a;
}

#cpu_status_graph,
#memory_status_graph {
    height: 400px;
    padding: 20px;
}

#sich-note-1,
#sich-note-2 {
    margin: 0;
}

#shutdown-message {
    resize: none;
    margin-bottom: 10px;
}

#shutdown-time input {
    width: 3em;
    display: inline;
}

#shutdown-time span {
    font-weight: bold;
}

@media (min-width: 500px) {
  .cockpit-modal-md {
    width: 400px;
  }
}
