@import "../lib/table.css";
@import "../lib/cockpit-components-empty-state.css";

body {
  /* Work around a pesky scrollbar on the page, due to 100% height */
  height: auto;
}

.server-overview {
    display: grid;
    grid-gap: 0 2rem;
    /* By default, horizontally stack the grid elements */
    grid-template-areas: "motd" "info";
    grid-template-columns: 1fr;
}

@media screen and (min-width: 640px) {
    /* Lay out overview in a grid, if there's enough width */
    .server-overview {
        grid-template-areas: "motd motd";
        grid-template-columns: auto 1fr;
    }
}

.server-overview > .info-table-ct-container {
    grid-area: info;
}

.server-overview > .motd-box {
    grid-area: motd;
}

.systime-inline form .pficon-close,
.systime-inline form .fa-plus {
    height: 26px;
    width: 26px;
    padding: 4px;
    float: right;
    margin-left: 5px;
}

.systime-inline .form-inline {
    background: #f4f4f4;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #bababa;
    padding: 4px;
}

.systime-inline .form-inline:first-of-type {
    border-top: 1px solid #bababa;
}

.systime-inline .form-control {
    margin: 0 4px;
}

.systime-inline .form-group:first-of-type .form-control {
    margin: 0 4px 0 0;
}

.systime-inline .form-group .form-control {
    width: 214px;
}

/* Make sure error message don't overflow the dialog */

.realms-op-diagnostics {
    max-width: 550px;
    text-align: left;
    max-height: 200px;
}

.realms-op-wait-message {
    margin-left: 10px;
    float: left;
    margin-top: 3px;
}

.realms-op-error .realms-op-more-diagnostics {
  font-weight: normal;
}

/* leave some space between form and leave toggle */
#realms-op-leave-toggle {
    font-weight: bold;
    line-height: 5rem;
}

/* standard PF alerts have a wide margin */
.realms-op-leave-only-row .pf-c-alert {
    padding-left: 2ex;
}

.realms-op-leave-only-row .pf-c-alert button {
    margin: 1ex 0;
}

/* Other styles */

.small-messages {
    font-size: smaller;
}

#sich-note-1,
#sich-note-2 {
    margin: 0;
}

#system_information_ssh_keys .list-group-item {
    cursor: auto;
}

#system_information_hardware_text,
#system_information_os_text,
#system-information-enable-pcp-link {
    overflow: visible;
    white-space: normal;
    word-wrap: break-word;
}

.system-information-updates > .fa {
    line-height: inherit;
}

#system_machine_id {
    display: inline-block;
    font-family: monospace;
    word-break: break-all;
}

@media (min-width: 500px) {
  .cockpit-modal-md {
    width: 400px;
  }
}

@media screen and (max-width: 960px) {
    .service-unit-data {
        white-space: normal;
    }
}

#accordion-markup {
    margin-bottom: 0px;
}

.nav-tabs-pf > li:first-child > a {
    padding-left: 20px;
}

.nav li a {
    font-size: 13px;
}

.detail_table > tbody > tr > td, .detail_table > thead > tr > th {
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#motd {
    background-color: transparent;
    border: none;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    white-space: pre-wrap;
}

.full-width {
    width: 100%;
}

table.reporting-table tr:first-child td {
    border-top: none;
}

table.reporting-table td:first-child {
    white-space: nowrap;
    width: 40%;
}

table.reporting-table td:nth-child(2) {
    text-align: start;
    width: 60%;
}

table.reporting-table td:nth-child(2) > .spinner {
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: middle;
}

td.report-column {
    flex-direction: row-reverse;
}
