@import "/page.css";

@import "/console.css";
@import "/journal.css";
@import "/plot.css";
@import "/table.css";
@import "/tooltip.css";

@import "./timer.css";

a.disabled {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    color: #000;
}

.popover {
    max-width: none;
    white-space: nowrap;
}

body {
  /* Work around a pesky scrollbar on the page, due to 100% height */
  height: auto;
}

.server-overview {
    display: grid;
    grid-gap: 0 2rem;
    /* By default, horizontally stack the grid elements */
    grid-template-areas: "motd" "info" "graphs";
    grid-template-columns: 1fr;
    margin: 2rem;
    padding: 0;
}

@media screen and (min-width: 640px) {
    /* Lay out overview in a grid, if there's enough width */
    .server-overview {
        grid-template-areas: "motd motd" "info graphs";
        grid-template-columns: auto 1fr;
    }
}

.server-overview > .info-table-ct-container {
    grid-area: info;
}

.server-overview > .server-graphs {
    grid-area: graphs;
}

.server-overview > .motd-box {
    grid-area: motd;
}

/* Flot needs a little coaxing to behave */
.server-graphs canvas,
.server-graphs .flot-text {
  max-width: 100%;
  overflow: hidden;
}

.systime-inline form .pficon-close,
.systime-inline form .fa-plus {
    height: 26px;
    width: 26px;
    padding: 4px;
    float: right;
    margin-left: 5px;
}

.systime-inline .form-inline {
    background: #f4f4f4;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #bababa;
    padding: 4px;
}

.systime-inline .form-inline:first-of-type {
    border-top: 1px solid #bababa;
}

.systime-inline .form-control {
    margin: 0 4px;
}

.systime-inline .form-group:first-of-type .form-control {
    margin: 0 4px 0 0;
}

.systime-inline .form-group .form-control {
    width: 214px;
}

/* Make sure error message don't overflow the dialog */

.realms-op-diagnostics {
    max-width: 550px;
    text-align: left;
    max-height: 200px;
}

.realms-op-wait-message {
    margin-left: 10px;
    float: left;
    margin-top: 3px;
}

/* leave some space towards the help block */
#realms-op-address {
    margin-bottom: 10px;
}

.realms-op-error .realms-op-more-diagnostics {
  font-weight: normal;
}

/* leave some space between form and leave toggle */
#realms-op-leave-toggle {
    font-weight: bold;
    line-height: 5rem;
}

/* standard PF alerts have a wide margin */
.realms-op-leave-only-row .alert {
    padding-left: 2ex;
}

.realms-op-leave-only-row .alert button {
    margin: 1ex 0;
}

/* Other styles */

.fa-red {
    color: red;
}

.small-messages {
    font-size: smaller;
}

#server-graph-toolbar .dropdown {
    display: inline-block;
}

#server-graph-toolbar .dropdown-toggle span {
    width: 6em;
    text-align: left;
    padding-left: 5px;
    display: inline-block;
}

.server-graph {
    height: 120px;
}

.server-graph-container {
    display: grid;
    grid-template: "title title" "graph legend";
    grid-template-columns: 1fr max-content;
}

.server-graph-title {
    grid-area: title;
}

.server-graph-graph {
    grid-area: graph;
}

.server-graph-legend {
    grid-area: legend;
    float: right;
    line-height: 24px;
    list-style-type: none;
    padding: 30px 40px 0 0;
}

.server-graph-legend li {
    align-items: center;
    display: flex;
}

.server-graph-legend i {
    font-size: 16px;
    margin-right: 0.5rem;
    padding: 0;
}

.server-graph-legend .cpu-io-wait i {
    color: #cc0000; /* pf-red-100 */
}

.server-graph-legend .cpu-kernel i {
    color: #f5c12e; /* pf-orange-300 */
}

.server-graph-legend .cpu-user i {
    color: #8461f2; /* pf-purple-300 */
}

.server-graph-legend .cpu-nice i {
    color: #6eb664; /* pf-green-300 */
}

.server-graph-legend .memory-swap i {
    color: #cc0000; /* pf-red-100 */
}

.server-graph-legend .memory-cached i {
    color: #c8eb79; /* pf-light-green-200 */
}

.server-graph-legend .memory-used i {
    color: #0088ce; /* pf-blue-400 */
}

.server-graph-legend .memory-free i {
    color: #3f9c35; /* pf-green-400 */
}

#cpu_status_title {
    padding: 20px 20px 0px 20px;
    margin-bottom: -10px;
    margin-left: 35px;
}

#cpu_status_graph,
#memory_status_graph {
    height: 400px;
    padding: 20px;
}

#sich-note-1,
#sich-note-2 {
    margin: 0;
}
#shutdown-dialog td {
  padding-right: 20px;
  vertical-align: top;
}

#shutdown-dialog .opt {
  padding: 1px 10px;
}

#shutdown-dialog .dropdown {
  min-width: 150px;
}

#shutdown-group {
  overflow: visible;
}

#shutdown-dialog textarea {
    resize: none;
    margin-bottom: 10px;
}

#shutdown-dialog input {
    display: inline;
    width: 10em;
}

#shutdown-dialog .shutdown-hours,
#shutdown-dialog .shutdown-minutes {
    width: 3em;
}

#system_information_ssh_keys .list-group-item {
    cursor: auto;
}

#system_information_hardware_text,
#system_information_os_text,
#system-information-enable-pcp-link {
    overflow: visible;
    white-space: normal;
    word-wrap: break-word;
}

.system-information-updates > .fa,
.system-information-updates > .spinner {
    line-height: inherit;
}
.system-information-updates > .spinner {
    /* Offset for alignment: 3px = 16px - 12px height - 1px border */
    margin: 3px 0 0;
}

#system_machine_id {
    display: inline-block;
    font-family: monospace;
    word-break: break-all;
}

@media (min-width: 500px) {
  .cockpit-modal-md {
    width: 400px;
  }
}

/* Make sure to not break log message lines in order to preserve information */
#journal-entry .info-table-ct td {
    white-space: normal;
    word-break: break-all;
}

#journal-entry .info-table-ct td:first-child {
    white-space: normal;
    word-break: keep-all;
}

.service-unit-description {
    font-weight: bold;
}

.service-unit-data {
    text-align: right;
    white-space: nowrap;
}

@media screen and (max-width: 960px) {
    .service-unit-data {
        white-space: normal;
    }
}

.service-unit-failed {
    color: red;
}

.service-action-btn {
    margin-left: 10px;
}

.service-action-btn ul {
    right: 0px;
    left: auto;
    min-width: 0;
    text-align: left;
}

.service-panel span {
    font-weight: bold;
}

.service-panel table {
    width: 100%;
}

.service-template input {
    width: 50em;
}

#journal-current-day-menu dropdown-toggle {
    padding-left: 10px;
}

.content-header-extra + #journal-box {
    margin-top: 0.5rem;
}

#journal-entry-message:not(:empty) {
    margin: 10px;
}

#journal-entry-fields {
    margin-bottom: 10px;
    width: 100%;
}

#journal-entry-fields th {
    font-weight: normal;
}

#accordion-markup {
    margin-bottom: 0px;
}

.problem-btn {
    float: right;
    padding: 0px 5px 0px 5px;
    margin-right: 10px;
    margin-top: 4px;
}

.nav-tabs-pf > li:first-child > a {
    padding-left: 20px;
}

.nav li a {
    font-size: 13px;
}

.panel-heading.problem-panel{
    cursor: pointer;
}

.detail_table > tbody > tr > td, .detail_table > thead > tr > th {
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.problem-panel {
    background: none !important;
    height: auto;
}

.problem-panel:hover {
    background: #EDEDED !important;
    height: auto;
}

.other-threads-btn {
    margin-top: 20px;
}

.other_threads {
    clear: both;
}

/* Extra content header */

.content-header-extra {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    width: 100%;
    position: sticky;
    z-index: 900;
    top: 0;
}

.content-header-extra .btn-group {
    padding-left: 5px;
    padding-right: 30px;
}

#motd {
    background-color: transparent;
    border: none;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    white-space: pre-wrap;
}
