@use "ct-card";
@use "page";

#hwinfo {
  /* Style the list cards as ct-cards */
  .pf-c-page__main-section .pf-c-card {
    @extend .ct-card;
  }

  .pf-l-gallery {
    --pf-l-gallery--GridTemplateColumns: 1fr;
  }
}

#hwinfo-system-info-list {
  /* When the flex wraps make have the same gap as description list items have between them */
  row-gap: 1rem;
}

.nosmt-read-more-link {
  display: block;
}

.nosmt-heading {
  font-weight: var(--pf-global--FontWeight--bold);
}

.cpu-mitigations-dialog-info {
  margin-block-end: var(--pf-global--spacer--md);
}
