@import "/table.css";

/* show tbodys side by side on wide screens */
@media screen and (min-width: 70rem) {
  table.wide-split-table-ct {
    width: 100%;
  }
  table.wide-split-table-ct tbody {
    float: left;
    width: 50%;
  }
}

/* disable right justified last column */
table.listing-ct thead th:last-child {
    text-align: left;
}

tr.listing-ct-item td:last-child {
    text-align: left;
}

.ct-empty-slot > td:not(:first-child) {
  color: #999;
  text-align: left;
}

 .ct-empty-slot {
  display: none;
}

 .show-all-slots .ct-empty-slot {
  display: table-row;
}

 .ct-hardware-memory-empty-count {
  font-size: 17px;
  margin-left: 2em;
  vertical-align: baseline;
}

.ct-hardware-memory-empty-count > a {
  font-size: inherit;
  margin-left: 0.5em;
}
