@import "../../node_modules/@patternfly/patternfly/components/Page/page.css";
@import "./system-global.scss";
@import "../lib/table.css";

/* show tbodys side by side on wide screens */
@media screen and (min-width: 70rem) {
  table.wide-split-table-ct {
    width: 100%;
  }
  table.wide-split-table-ct tbody {
    float: left;
    width: 50%;
  }
}

/* disable right justified last column */
table.listing-ct thead th:last-child {
    text-align: left;
}

tr.listing-ct-item td:last-child {
    text-align: left;
}

section.pf-c-page__main-breadcrumb {
    padding-bottom: var(--pf-global--spacer--xl);
}

.nosmt-read-more-link {
    display: block;
}
.nosmt-heading {
    font-weight: var(--pf-global--FontWeight--bold);
}
.cpu-mitigations-dialog-info {
    margin-bottom: var(--pf-global--spacer--md);
}
