@import "/table.css";

/* show tbodys side by side on wide screens */
@media screen and (min-width: 70rem) {
  table.wide-split-table-ct {
    width: 100%;
  }
  table.wide-split-table-ct tbody {
    float: left;
    width: 50%;
  }
}

/* disable right justified last column */
table.listing-ct thead th:last-child {
    text-align: left;
}

tr.listing-ct-item td:last-child {
    text-align: left;
}
