<div class="cockpit-logline">
  {{! placeholders for correct message alignment }}
  <div class="cockpit-log-warning"></div>
  <span class="cockpit-log-message cockpit-logmsg-reboot">{{message}}</span>
</div>
