@import "../../node_modules/@patternfly/react-styles/css/components/Table/table.css";
@import "./system-global.less";

/* System Time Modal dialog needs table.css */
@import "../lib/table.css";

#overview {
  height: 100%;
}

.ct-overview-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  &,
  &-hostname {
    flex-wrap: wrap;
  }

  &-actions,
  &-hostname {
    box-sizing: border-box;
    display: flex;
  }

  &-hostname {
    align-items: baseline;
    flex: auto;

    > h1 {
      padding-right: 1rem;
      font-size: var(--pf-global--FontSize--2xl);
    }
  }

  &-actions {
    align-items: center;
  }

  &-subheading {
    font-size: var(--pf-global--FontSize--xl);
  }
}

.ct-system-overview {
  --card-width: 24rem;
  --pf-l-gallery--GridTemplateColumns: repeat(auto-fill, minmax(var(--card-width), 1fr));

  .motd-box {
    grid-column: ~"1 / -1";
  }

  .pf-c-card {
    &__header {
      font-size: var(--pf-global--FontSize--2xl);
      font-weight: var(--pf-global--FontWeight--normal);
    }

    &__body {
      .fa,
      .pficon {
        + a, + span {
          /* Space out icons + links */
          margin-left: 0.5rem;
        }
      }

      a {
        > .fa,
        > .pficon {
          /* Space out icons inside of links */
          margin-right: 0.5rem;
        }
      }

      &:last-child .pf-c-table:last-child tr:last-child {
        /* Remove the border of tables when it's the last item in a card and there isn't a card footer */
        border-bottom: none;
      }

      p {
        + p,
        + button {
            margin-top: calc(var(--pf-global--LineHeight--md) * 1rem);
        }
      }

      td {
        vertical-align: middle;
      }

      th {
        font-size: var(--pf-global--FontSize--sm);
      }
    }

    &__footer {
      &:empty {
        display: none;
      }
    }
  }

  .pf-c-progress {
    &__status {
      display: flex;
      align-items: baseline;

      &-icon {
        display: flex;
        align-self: center;
      }
    }
  }

  .pf-m-compact {
    th, td {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

@media (max-width: 320px) {
  /* Make the overview fit on very narrow screens like an iPhone SE */

  .pf-c-page__main-section:not(.ct-overview-header) {
    /* Remove left and right padding for cards on narrow viewports */
    --pf-c-page__main-section--PaddingRight: 0;
    --pf-c-page__main-section--PaddingLeft: 0;
    --pf-c-page__main-section--PaddingTop: 0.5rem;
    --pf-c-page__main-section--PaddingBottom: 0.5rem;
  }

  .ct-system-overview {
    /* Reduce spacing between items */
    --pf-l-gallery--m-gutter--GridGap: 0.25rem;
  }
}

@media (max-width: 640px) {
  .ct-system-overview {
    /* Allow cards to be narrower on very narrow viewports */
    --card-width: 15rem;
  }
}

#machine_id {
  font-family: var(--pf-global--FontFamily--redhatfont--monospace);
  word-wrap: anywhere;
}

.pf-c-table tr > * {
  vertical-align: top;
}

.ct-inline-list .pf-c-list.pf-m-inline {
  display: inline-flex;
  margin-left: 1rem;
}

.realms-op-diagnostics {
  /* standard PF alerts have a wide margin */
  max-width: 550px;
  text-align: left;
  max-height: 200px;
}

.realms-op-error .realms-op-more-diagnostics {
  font-weight: normal;
}

.realms-op-leave-only-row .pf-c-alert {
  /* standard PF alerts have a wide margin */
  padding-left: 2ex;

  button {
    margin: 1ex 0;
  }
}

#realms-op-leave-toggle {
  font-weight: bold;
  /* leave some space between form and leave toggle */
  line-height: 5rem;
}

.realms-op-wait-message {
  margin-left: 10px;
  float: left;
  margin-top: 3px;
}

#sich-note-1,
#sich-note-2 {
  margin: 0;
}

.small-messages {
  font-size: smaller;
}

.systime-inline {
  .form-control {
    margin: 0 4px;
  }

  .form-group {
    &:first-of-type .form-control {
      margin: 0 4px 0 0;
    }

    .form-control {
      width: 214px;
    }
  }

  .form-inline {
    background: #f4f4f4;
    border: 1px solid #bababa;
    padding: 4px;

    &:not(:first-of-type) {
      border-top-width: 0;
    }
  }

  form {
    .pficon-close,
    .fa-plus {
      float: right;
      margin-left: 5px;
      padding: 4px;
      height: 26px;
      width: 26px;
    }
  }
}

.pf-c-button.no-left-padding {
    padding-left: 0;
}
