#services > .content-header-extra + .container-fluid {
    margin-top: 1rem;
}

#services-page {
    overflow-y: scroll;
}

.comma-list {
  display: inline;
  list-style: none;
  padding-left: 0;
}

.comma-list > li {
  display: inline;
}

.comma-list > li:not(:last-child):after {
  content: ",";
}

table.systemd-unit-relationship-table td:first-child {
  vertical-align: top;
  text-align: right;
}

#services .content-header-extra {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
    #services .content-header-extra {
        flex-direction: column-reverse;
    }

    #services-filter {
        padding-top: 10px;
    }

    .filter-group {
        display: flex;
        justify-content: flex-end;
    }

    .filter-group .dropdown {
         margin-left: 4px;
    }
}

#services-text-filter {
  width: 21rem;
  display: inline;
  vertical-align: middle;
  padding-right: 35px;
}

.blank-screen {
  background-color: initial;
  border: initial;
}

#services-dropdown {
  display: inline;
}

#service-type {
  min-width: 10rem;
}

#services-dropdown .dropdown-menu {
  margin-top: 4px;
  left: auto;
  right: 0;
}

.caret {
  margin-top: 6px;
}

#services-list .panel-default {
  border: none;
  box-shadow: none;
}

#services-list table {
  table-layout: fixed;
}

#services-list thead {
  color: #72767b; /* pf-black-600 */
  background-color: #fff;
  font-weight: normal;
}

#services-list th,
#services-list td {
  border: 1px solid #d1d1d1; /* pf-black-300 */
  border-width: 0 0 1px;
  overflow-wrap: anywhere;
}

#services-list tbody th {
  /* make tbody th padding the same as td */
  padding: 8px;
}

.content-header-extra.with-navtabs {
    padding-bottom: 0;
}


.service-unit-description {
  width: 40%;
}

#services .nav-tabs {
    border-bottom: none;
}
