#services-page {
    overflow-y: scroll;
}

.comma-list {
  display: inline;
  list-style: none;
  padding-left: 0;
}

.comma-list > li {
  display: inline;
}

.comma-list > li:not(:last-child):after {
  content: ",";
}

table.systemd-unit-relationship-table td:first-child {
  vertical-align: top;
  text-align: right;
}

#services .content-header-extra {
  display: flex;
  justify-content: space-between;
}

#services-text-filter {
  width: auto;
  display: inline;
  vertical-align: middle;
  padding-right: 35px;
}

.blank-screen {
  background-color: initial;
  border: initial;
}

#services-dropdown {
  display: inline;
}

#service-type {
  min-width: 10rem;
}

#services-dropdown .dropdown-menu {
  margin-top: 4px;
  left: auto;
  right: 0;
}

.caret {
  margin-top: 6px;
}

#services-list .panel-default {
  border: none;
  box-shadow: none;
}

#services-list table th,
#services-list table td {
  border: 1px solid #ddd;
  border-width: 0 0 1px;
}

#services-list table thead {
  color: grey;
  background-color: #fff;
  font-weight: normal;
}

#services-list table {
  table-layout: fixed;
}

.service-unit-description {
  width: 40%;
}
