#shutdown-dialog td {
  padding-right: 20px;
  vertical-align: top;
}

#shutdown-dialog .opt {
  padding: 1px 10px;
}

#shutdown-dialog .ct-select,
#shutdown-dialog .dropdown {
  min-width: 150px;
}

#shutdown-group {
  overflow: visible;
}

#shutdown-dialog textarea {
    resize: none;
    margin-bottom: 10px;
}

#shutdown-dialog input {
    display: inline;
    width: 10em;
}

#shutdown-dialog .shutdown-hours,
#shutdown-dialog .shutdown-minutes {
    width: 3em;
}
