/* SPDX-License-Identifier: LGPL-2.1-or-later */
@use "page";

.ct-check-circle {
  color: var(--pf-t--global--icon--color--status--success--default);
}

.ct-info-circle {
  color: var(--pf-t--global--icon--color--status--info--default);
}

.ct-exclamation-triangle {
  color: var(--pf-t--global--icon--color--status--warning--default);
}

.ct-exclamation-circle {
  color: var(--pf-t--global--icon--color--status--danger--default);
}
