@import "../lib/page.scss";
@import '../lib/form-layout.scss';

.ct-check-circle {
    color: var(--pf-global--success-color--100);
}

.ct-info-circle {
    color: var(--pf-global--info-color--100);
}

.ct-exclamation-triangle {
    color: var(--pf-global--warning-color--100);
}

.ct-exclamation-circle {
    color: var(--pf-global--danger-color--100);
}

.nav-tabs-pf > li:first-child > a {
    padding-left: 20px;
}

.nav li a {
    font-size: 13px;
}

/* Extra content header */

a.disabled {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    color: var(--ct-color-text);
}

.popover {
    max-width: none;
    white-space: nowrap;
}
