@use "page";

.ct-check-circle {
  color: var(--pf-global--success-color--100);
}

.ct-info-circle {
  color: var(--pf-global--info-color--100);
}

.ct-exclamation-triangle {
  color: var(--pf-global--warning-color--100);
}

.ct-exclamation-circle {
  color: var(--pf-global--danger-color--100);
}
