html, body {
        height: 100%;
}

.console-ct-container {
    height: 100%;
}

.console-ct-container .panel-body {
    padding: 0;
    position: fixed;
    top: 44px; /* panel-heading in cockpit.css */
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.black-theme {
    background-color: #000000;
}

.dark-theme {
    background-color: #002b36;
}

.light-theme {
    background-color: #fdf6e3;
}

.white-theme {
    background-color: #ffffff;
}

#terminal {
    height: 100%;
}

.terminal-group {
    display: flex;
    justify-content: space-between;
}

#theme-select {
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
    min-width: 10rem;
}
