html, body {
        height: 100%;
}

.console-ct-container {
    height: 100%;
}

.console-ct-container .panel-body {
    padding: 0;
    position: fixed;
    top: 44px; /* panel-heading in cockpit.css */
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#terminal {
    height: 100%;
}
