.timer-dialog {
  // Limit the width of the components so that they fit in a single row
  .pf-c-date-picker:not(.create-timer-time-picker), select {
    inline-size: 10rem;
    max-inline-size: 10rem;
  }

  .create-timer-time-picker, .delay-number {
    inline-size: 6rem;
  }

  .specific-repeat-group, .delay-group {
    row-gap: var(--pf-global--spacer--sm);
  }
}
