[Unit]
Description=Cockpit Web Service https instance factory
Documentation=man:cockpit-ws(8)

[Service]
ExecStart=/usr/libexec/cockpit-wsinstance-factory
User=root
