
interface(`cockpit_ws_domtrans',`
	gen_require(`
		type cockpit_ws_t, cockpit_ws_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, cockpit_ws_exec_t, cockpit_ws_t)
')

