[Unit]
Description=Cockpit Web Server Socket (Testing)
Documentation=man:cockpit-ws(8)
Conflicts=cockpit.socket

[Socket]
ListenStream=9090

[Install]
WantedBy=sockets.target
