[Unit]
Description=Cockpit Web Service http-redirect instance
BindsTo=cockpit.service
Documentation=man:cockpit-ws(8)

[Service]
ExecStart=/usr/libexec/cockpit-ws --proxy-tls-redirect --no-tls --port 0
User=root
Group=
