[Unit]
Description=Cockpit Web Service http instance
BindsTo=cockpit.service
Documentation=man:cockpit-ws(8)

[Service]
ExecStart=/usr/libexec/cockpit-ws --no-tls --port=0
User=root
Group=
