.dropdown-menu {
    li a:before {
        font-family: FontAwesome;
        content: "\f00c";
        margin-right: 5px;
        visibility: hidden;
    }

    li.checked a:before {
        visibility: visible;
    }
}
