@pf-path: "../bower_components/patternfly/less";
@import "@{pf-path}/variables.less";

@sidebar-width: 100;
@sidebar-pf-bg: #f2f2f2;
@listing-hover: @list-group-hover-bg;
@metadata-color: #888;

@import "sidebar.less";
@import "images.less";

#content {
    margin-left: unit(@sidebar-width, px);
    margin-right: 0px;
    min-height: 100%;
}
