[Desktop Entry]
Type=Application
Name=Cockpit Client
Comment=Connect via ssh to servers running Cockpit
Icon=cockpit-client
Exec=cockpit-client
Categories=Network;RemoteAccess
