body.login-pf {
    background: url("/cockpit/static/bg-login.jpg") no-repeat 50% 0;
    background-size: auto;
    background-color: #101010;
}

#badge {
}

#brand {
    font-size: 18pt;
    content: "${NAME}";
}

#index-brand {
    content: "${NAME}";
}
