body.login-pf {
    background: url("/cockpit/static/bg-login.jpg") no-repeat 50% 0;
    background-size: auto;
    background-color: #101010;
}

#badge {
    width: 230px;
    height: 70px;
    background-image: url("/cockpit/static/logo.png");
}

#brand {
    width: 486px;
    height: 18px;
    background-image: url("/cockpit/static/brand-large.png");
}

#index-brand {
    width: 270px;
    height: 10px;
    background-image: url("/cockpit/static/brand.png");
}
