/* SPDX-License-Identifier: LGPL-2.1-or-later */
#badge {
    inline-size: 80px;
    block-size: 80px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#brand::before {
    content: "${NAME}";
}
