<modal-dialog>
    <div class="modal-header">
        <h4 class="modal-title" translate>Add User</h4>
    </div>
    <div class="modal-body">
        <table class="form-table-ct">
            <tr>
                <td class="top">
                    <label class="control-label" for="user_name" translate>Name</label>
                </td>
                <td>
                    <input id="user_name" ng-model="fields.name" class="form-control" type="text" autofocus>
                </td>
            </tr>
            <tr>
                <td class="top">
                    <label class="control-label" for="identities" translate>Identity</label>
                </td>
                <td>
                    <input id="identities" ng-model="fields.identities" class="form-control" type="text">
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-cancel" translate>Cancel</button>
        <button class="btn btn-primary" translate ng-click="complete(performCreate())">Add</button>
    </div>
</modal-dialog>
