<div class="panel panel-default panel-tabbed"
    ng-class="{ pinned: pinned }">
    <div class="panel-heading">
        <div class="listing-icons">
            <i class="fa fa-cube"></i>
        </div>
        <div class="listing-status">
            {{item.status.phase}}
        </div>
    </div>
    <h3 class="listing-title" ng-click="select(id)">{{container.spec.name}}</h3>
    <tabset class="">
        <tab heading="Container">
            <div class="panel-body row">
                <div class="col-sm-6">
                    <dl>
                        <dt>Image</dt>
                        <dd>{{container.spec.image}}</dd>
                        <dt>Image ID</dt>
                        <dd><tt>{{container.status.imageID | kubeIdentifier }}</tt></dd>
                        <dt>Container ID</dt>
                        <dd><tt>{{container.status.containerID | kubeIdentifier }}</tt></dd>
                        <dt class="kube-ports">Ports</dt>
                        <dd class="kube-ports">
                        <span ng-repeat="port in container.spec.ports">{{port.containerPort}}/{{port.protocol}}</span>
                        </dd>
                        <dt ng-repeat-start="(state, args) in container.status.state">State</dt>
                        <dd>{{state}}</dd>
                        <dt>Since</dt>
                        <dd ng-repeat-end>{{args.startedAt}}</dd>
                        <dt>Restart Count</dt>
                        <dd>{{container.status.restartCount}}</dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl>
                        <dt class="header full" ng-if="container.spec.env.length">Environment</dt>
                        <dd class="full" revealable-text
                            ng-repeat="env in container.spec.env"><tt>{{env.name}}=<span
                            ng-class="{masked: should_mask(env.name)}">{{env.value}}</span></tt></dd>
                    </dl>
                </div>
            </div>
        </tab>
        <tab heading="Console" select="connect('console')">
            <div class="panel-body">
                <kube-console namespace="{{item.metadata.namespace}}"
                    pod="{{item.metadata.name}}"
                    container="{{container.spec.name}}">
                </kube-console>
            </div>
        </tab>
        <tab heading="Shell" select="connect('shell')">
            <div class="panel-body">
                <kube-shell namespace="{{item.metadata.namespace}}"
                    pod="{{item.metadata.name}}"
                    container="{{container.spec.name}}">
                </kube-console>
            </div>
        </tab>
    </tabset>
</div>
