<div class="row">
    <div class="col-sm-6">
        <dl>
            <dt ng-if="item !== container" translate>Container</dt>
            <dd ng-if="item !== container">{{container.spec.name}}</dd>
            <dt translate>Image</dt>
            <dd>{{container.spec.image}}</dd>
            <dt ng-if="container.status.imageID" translate>Image ID</dt>
            <dd ng-if="container.status.imageID"><tt>{{container.status.imageID | kubeIdentifier }}</tt></dd>
            <dt ng-if="container.status.containerID" translate>Container ID</dt>
            <dd ng-if="container.status.containerID" revealable-text><tt>{{container.status.containerID | kubeIdentifier }}</tt></dd>
            <dt translate>Ports</dt>
            <dd>
                <span ng-repeat="port in container.spec.ports">{{port.containerPort}}/{{port.protocol}}</span>
            </dd>
            <dt ng-repeat-start="(state, args) in container.status.state" translate>State</dt>
            <dd>{{state}}</dd>
            <dt translate>Since</dt>
            <dd ng-repeat-end>{{args.startedAt}}</dd>
            <dt ng-if="container.status" translate>Restart Count</dt>
            <dd ng-if="container.status">{{container.status.restartCount}}</dd>
        </dl>
    </div>
    <div class="col-sm-6">
        <dl class="full-width">
            <dt ng-if="container.spec.env.length" translate>Environment</dt>
            <dd revealable-text
                ng-repeat="env in container.spec.env"><tt>{{env.name}}=<span
                ng-class="{masked: should_mask(env.name)}">{{env.value}}</span></tt>
            </dd>
        </dl>
    </div>
</div>
