<div class="listing-ct-inline" ng-if="container">
    <h3 translate>Container</h3>
    <div class="listing-ct-body container-fluid">
        <kube-container-body>
        </kube-container-body>
    </div>

    <h3 translate>Logs</h3>
    <div class="container-fluid">
        <kube-console pod="pod" container="container.spec.name">
        </kube-console>
    </div>

    <h3 translate>Shell</h3>
    <div class="container-fluid">
        <kubernetes-container-terminal  pod="pod" container="container.spec.name" ng-if="pod.status.phase == 'Running' && container.status.state.running">
        </kubernetes-container-terminal>
    </div>
</div>

<div class="listing-ct-inline" ng-if="!container">
    <h3 translate>The container '{{ target }}' does not exist.</h3>
</div>
