<div class="panel panel-default panel-tabbed"
    ng-class="{ pinned: pinned }">
    <div class="panel-heading">
        <div class="listing-icons">
            <i class="fa fa-cube"></i>
        </div>
        <div class="listing-status">
            {{item.status.phase}}
        </div>
    </div>
    <h3 class="listing-title" ng-click="select(id)">{{container.spec.name}}</h3>
    <tabset class="">
        <tab heading="Container">
            <kube-container-body></kube-container-body>
        </tab>
        <tab heading="Logs" select="connect('console')">
            <div class="panel-body">
                <kube-console namespace="{{item.metadata.namespace}}"
                    pod="{{item.metadata.name}}"
                    container="{{container.spec.name}}">
                </kube-console>
            </div>
        </tab>
        <tab heading="Shell" select="connect('shell')">
            <div class="panel-body">
                <kube-shell namespace="{{item.metadata.namespace}}"
                    pod="{{item.metadata.name}}"
                    container="{{container.spec.name}}">
                </kube-shell>
            </div>
        </tab>
    </tabset>
</div>
