<div cockpit-listing>
    <table class="listing containers-listing">
        <thead>
            <tr class="listing-title">
                <td colspan="5" translatable="yes">Containers</td>
            </tr>
            <tr>
                <th translatable="yes">Name</th>
                <th translatable="yes">Pod</th>
                <th translatable="yes" ng-if="client.flavor == 'openshift'">Project</th>
                <th translatable="yes" ng-if="client.flavor != 'openshift'">Namespace</th>
                <th translatable="yes">Node</th>
                <th translatable="yes">Status</th>
            </tr>
        </thead>
        <tbody ng-repeat="item in pods | orderObjectBy:['metedata.namespace', 'metadata.name']">
            <tr ng-repeat-start="(id, container) in containers(item)"
                ng-click="select(id)" ng-if="!selected(id)">
                <th>{{container.spec.name}}</th>
                <td>{{item.metadata.name}}</td>
                <td>{{item.metadata.namespace}}</td>
                <td>{{item.spec.nodeName}}</td>
                <td><span ng-repeat="(name, value) in container.status.state">{{name}}</span></td>
            </tr>
            <tr ng-repeat-end class="listing-panel" ng-if="selected(id)">
                <td cockpit-listing-panel kind="Container" colspan="5">
                </td>
            </tr>
        </tbody>
    </table>
</div>
