<table listing-table class="listing-ct containers-listing">
    <thead>
        <tr ng-if="!listing.inline">
            <td colspan="6">
                <h3 translate>Containers</h3>
            </td>
        </tr>
        <tr>
            <tr>
                <th></th>
                <th translate>Name</th>
                <th translate>Pod</th>
                <th translate ng-if="settings.flavor == 'openshift'">Project</th>
                <th translate ng-if="settings.flavor != 'openshift'">Namespace</th>
                <th translate>Node</th>
                <th translate>Status</th>
            </tr>
        </tr>
    </thead>

    <tbody data-ng-rubbish="" ng-if="0"
        ng-repeat-start="item in pods | orderObjectBy:['metadata.namespace', 'metadata.name'] track by item.metadata.uid">
    </tbody>
    <tbody ng-repeat="container in containers(item) track by container.key"
        ng-class="{open: listing.expanded(container.key)}">
        <tr ng-click="listing.activate(container.key)" class="listing-ct-item">
            <td ng-click="listing.toggle(container.key, $event)"
                class="listing-ct-toggle">
                <i class="fa fa-fw"></i>
            </td>
            <th>{{container.spec.name}}</th>
            <td>{{item.metadata.name}}</td>
            <td>{{item.metadata.namespace}}</td>
            <td>{{item.spec.nodeName}}</td>
            <td><span ng-repeat="(name, value) in container.status.state">{{name}}</span></td>
        </tr>
        <tr class="listing-ct-panel" ng-if="listing.expanded(container.key)">
            <td listing-panel kind="Container" colspan="6" ng-init="id = container.key"></td>
        </tr>
    </tbody>
    <tbody data-ng-rubbish="" ng-if="0" ng-repeat-end>
    </tbody>
</table>
