<div class="content-filter">
    <div class="listing-ct-actions" ng-if="item">
        <button title="Delete" ng-click="deleteItem(item)"
            class="deployment-delete btn btn-danger btn-delete pficon pficon-delete delete-entity"></button>
    </div>
    <h3 ng-if="item"><i class="fa fa-gear"></i>{{ item.metadata.name }}</h3>
    <h3 ng-if="!item"><i class="fa fa-gear"></i>{{ target }}</h3>
    <a ng-click="navigate(type)" translate class="hidden-xs">Show all Deployment Configs</a>
</div>

<div class="listing-ct-inline" ng-if="item">
    <h3 translate>Deployment Config</h3>
    <div class="listing-ct-body container-fluid" deploymentconfig-body></div>

    <h3 translate>Template</h3>
    <div class="listing-ct-body container-fluid">
        <kube-pod-body ng-init="pod = item.spec.template">
        </kube-pod-body>
        <kube-container-body ng-repeat="container in containers(item.spec.template)">
        </kube-container-body>
    </div>
</div>

<div class="listing-ct-inline" ng-if="!item">
    <h3 translate>The deployment config '{{ target }}' does not exist.</h3>
</div>
