<div class="btn-group filter-menu pull-right" ng-if="listing" dropdown>
    <button class="btn btn-default fa fa-th-list"></button>
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li ng-if="!listing.forceInline" ng-class="{ checked: listing.expandable }">
            <a ng-click="listing.expandable = !listing.expandable" translatable="yes">Expand items inline</a>
        </li>
        <li ng-class="{ checked: listing.only, disabled: !listing.expanded() }">
            <a ng-click="listing.only = !listing.only" translatable="yes">Only expanded items</a>
        </li>
        <li>
            <a ng-click="listing.collapse()" translatable="yes">Collapse all</a>
        </li>
    </ul>
</div>

<filter-project>
</filter-project>
