<div class="btn-group bootstrap-select namespace-filter" dropdown>
    <button class="btn btn-default dropdown-toggle" type="button" dropdown-toggle>
        <span class="pull-left">
            <span ng-if="!filter.namespace()" translate>All Projects</span>
            <span ng-if="filter.namespace()"><span class="namespace-meta" translate>Project:</span>
                {{filter.namespace()}}</span>
        </span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li ng-class="{ checked: !filter.namespace() }">
            <a ng-click="filter.namespace(null)" value="">All Projects</a>
        </li>
        <li ng-repeat="name in filter.namespaces() track by name"
            ng-class="{ checked: name == filter.namespace() }">
            <a ng-click="filter.namespace(name)" value="{{name}}">{{name}}</a>
        </li>
    </ul>
</div>
