<div class="content-filter">
    <div class="listing-ct-actions" ng-if="group()">
        <button class="btn btn-danger btn-delete pficon pficon-delete"
            ng-click="removeGroup(projects(), group())"></button>
    </div>
    <h3 ng-if="group()">
        <i class="pficon pficon-users"></i>
        <span>{{ group().metadata.name }}</span>
    </h3>
    <h3 ng-if="!group()">
        <i class="pficon pficon-users"></i>
        <span>{{ groupName }}</span>
    </h3>
    <a ng-href="#/projects" translate>Show all Projects</a>
</div>
<div class="project-panel" ng-if="group()">
    <div>
        <table listing-table class="listing-ct project-body" >
            <thead>
                <tr>
                    <th translate>Group Members</th>
                    <th translate></th>
                </tr>
            </thead>
            <tbody colspan="3" ng-repeat="user in group().users" data-id="{{ user }}">
                <tr class="listing-ct-item inner-project-listing">
                    <td ng-click="listing.activate('/users/' + user)"><i class=" pficon-user"></i>  {{ user }}</span></td>
                    <td><a class="pull-right close-icon" ng-click="removeUserFromGroup(user, group())">
                        <i translate class="pficon-close"></i>
                    </a></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <td colspan="3">
                        <a class="pull-left" ng-click="addUserToGroup(group())">
                            <i translate class="pficon pficon-add-circle-o"></i>
                            <span translate>Add Member</span>
                        </a>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="listing-ct-inline" ng-if="!group()">
    <h3 translate>The group '{{ groupName }}' does not exist.</h3>
</div>
