<div class="listing-ct-head" ng-click="listing.collapse(id, $event)">
    <div class="listing-ct-actions">
        <button class="btn btn-danger btn-delete pficon pficon-delete" ng-click="removeGroup(projects(), group())"></button>
    </div>
    <h3><i class="pficon pficon-users"></i>{{ group().metadata.name }}</h3>
</div>
<div class="listing-ct-body project-panel" ng-show="tab('main')">
    <div>
        <table listing-table class="listing-ct project-body">
            <thead >
                <tr >
                    <th translate>Group Members</th>
                    <th translate></th>
                </tr>
            </thead>
            <tbody colspan="3" ng-repeat="user in group().users">
                <tr class="listing-ct-item inner-project-listing">
                    <td><i class=" pficon-user"></i>  {{ user }}</span></td>
                    <td><a class="pull-right close-icon">
                        <i translate class="pficon-close " ng-click="removeUserFromGroup(user, group())"></i>
                    </a></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <td colspan="3">
                        <a class="pull-left" disabled>
                            <i translate class="pficon pficon-add-circle-o"></i>
                            <span translate ng-click="addUserToGroup(group())">Add Member</span>
                        </a>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</div>
