<modal-dialog>
    <div class="modal-header">
        <h3 class="modal-title" translate>Delete image stream</h3>
    </div>
    <div class="modal-body" translate>Do you want to delete the '{{stream.metadata.namespace}}/{{stream.metadata.name}}' image stream?</div>
    <div class="modal-footer">
        <button class="btn btn-default btn-cancel" translate>Cancel</button>
        <button class="btn btn-danger" translate ng-click="complete(performDelete())">Delete</button>
    </div>
</modal-dialog>
