<div>
    <div class="listing-ct-head" ng-click="listing.collapse(id, $event)">
        <div class="listing-ct-actions">
            <button class="btn btn-danger btn-delete pficon pficon-delete"
                ng-click="deleteTag(stream, tag)"></button>
        </div>
        <ul class="nav nav-tabs nav-tabs-pf">
            <li ng-class="{active: tab('main')}">
                <a ng-click="tab('main', $event)" translate>Image</a>
            </li>
            <li ng-class="{active: tab('config')}">
                <a ng-click="tab('config', $event)" translate>Container</a>
            </li>
            <li ng-class="{active: tab('meta')}">
                <a ng-click="tab('meta', $event)" translate>Metadata</a>
            </li>
        </ul>
    </div>

    <div class="listing-ct-body" ng-show="tab('main')">
        <registry-image-body image="image" names="names">
        </registry-image-body>
        <registry-image-pull settings="settings" names="names">
        </registry-image-pull>
    </div>

    <div class="listing-ct-body" ng-show="tab('config')">
        <registry-image-config image="image">
        </registry-image-config>
    </div>

    <div class="listing-ct-body" ng-if="tab('meta')">
        <registry-image-meta image="image">
        </registry-image-meta>
        <registry-image-layers image="image" layers="layers">
        </registry-image-layers>
    </div>
</div>
