<div cockpit-listing ng-if="state">
    <table class="listing images-listing">
        <thead ng-class="{selected: selected()}" ng-if="!quiet">
            <tr class="listing-title">
                <td colspan="4" translatable="yes">Image Repositories</td>
            </tr>
            <tr>
                <th translatable="yes">Image Repository</th>
                <th translatable="yes">Images</th>
                <th translatable="yes">Last Updated</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="(id, item) in items"
                ng-init="latest = item.latest()"
                ng-click="select(item.repo)"
                ng-if="!quiet && !selected(item.repo) && is_visible(item)"
                data-id="{{ id }}">
                <th>{{item.name}}</th>
                <td>{{item.tags() | imagesTags }}</td>
                <td title="{{ latest }}">{{latest | timeAgo }}</td>
            </tr>
            <tr class="listing-panel" ng-repeat-end ng-if="selected(item.repo)" data-id="{{ id }}">
                <td cockpit-listing-panel kind="ImageRepository" colspan="3">
                </td>
            </tr>
            <tr class="listing-empty" ng-if="!quiet">
                <td colspan="3" ng-if="!failure" translatable="yes">No image repositories are present.</td>
                <td colspan="3" ng-if="failure" translatable="yes">{{failure}}</td>
            </tr>
        </tbody>
    </table>
</div>
