<div>
    <div class="listing-ct-head" ng-click="listing.collapse(id, $event)">
        <div class="listing-ct-actions">
            <button class="btn btn-danger btn-delete pficon pficon-delete"
                ng-click="deleteImageStream(stream)"></button>
            <button class="btn btn-default pficon pficon-edit"
                ng-click="modifyImageStream(stream)"></button>
        </div>
        <ul class="nav nav-tabs nav-tabs-pf">
            <li ng-class="{active: tab('main')}"><a ng-click="tab('main', $event)">Image stream</a></li>
            <li ng-class="{active: tab('meta')}" ng-if="stream.metadata.annotations">
                <a ng-click="tab('meta', $event)">Metadata</a></li>
        </ul>
    </div>
    <div class="listing-ct-body" ng-show="tab('main')">
        <registry-imagestream-body imagestream="stream" imagestream-modify="modifyImageStream"
            project-modify="modifyProject" project-sharing="sharedImages">
        </registry-imagestream-body>
        <registry-imagestream-push imagestream="stream" settings="settings">
        </registry-imagestream-push>
    </div>
    <div class="listing-ct-body" ng-if="tab('meta')" ng-if="stream.metadata.annotations">
        <registry-imagestream-meta imagestream="stream">
        </registry-imagestream-meta>
    </div>
</div>
