<table class="listing">
    <thead>
        <tr>
            <th translatable="yes">Image Repository</th>
            <th translatable="yes">Images</th>
            <th translatable="yes">Last Updated</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="repository in repositories"
            ng-click="console.log(repository)"
            ng-init="latest = repository.latest()">
            <th>{{repository.name}}</th>
            <td>{{repository.tags() | imagesTags }}</td>
            <td title="{{ latest }}">{{latest | timeAgo }}</td>
        </tr>
        <tr class="listing-empty">
            <td colspan="3" translatable="yes">No image repositories are present.</td>
        </tr>
    </tbody>
</table>
