<div class="content-filter">
    <div class="listing-actions">
        <button class="btn btn-danger btn-delete pficon pficon-delete"
            ng-click="deleteTag(stream, tag)"></button>
    </div>
    <h3>
        <i class="pficon pficon-image"></i>
        <span ng-if="labels.name">{{ labels.name }}</span>
        <span ng-if="!labels.name">{{ names[0] }}</span>
    </h3>
    <a ng-href="#/images/{{ stream.metadata.namespace }}/{{ stream.metadata.name }}"
        translatable="yes" class="hidden-xs">Show all images</a>
</div>

<div class="listing-inline">
    <h3 translatable="yes">Image</h3>
    <div class="listing-body container-fluid" image-body></div>

    <h3 translatable="yes">Container</h3>
    <div class="listing-body container-fluid" image-config></div>

    <h3 translatable="yes">Metadata</h3>
    <div class="listing-body container-fluid" image-meta></div>
</div>
