<div ng-repeat="statustags in stream.status.tags">
  <div ng-repeat="condition in statustags.conditions"
      ng-if="condition.type == 'ImportSuccess' && condition.status == 'False'"
      class="alert alert-danger">
    <span class="pficon pficon-error-circle-o"></span>
    {{ condition.message }}. Timestamp: {{ condition.lastTransitionTime }} Error count: {{ condition.generation }}
    <a translate ng-click="modifyImageStream(stream)" class="alert-link">Edit imagestream</a>
  </div>
</div>
<dl>
    <dt translate>Access Policy</dt>
    <dd>
      <div ng-if="sharedImages(stream.metadata.namespace) == 'anonymous'" >
        <a translate ng-href="#/projects/{{ stream.metadata.namespace }}">
          Images may be pulled by anonymous users
        </a>
        <i title="Images accessible to anonymous users" class="fa fa-unlock imagestream-lock"></i>
      </div>
      <div ng-if="sharedImages(stream.metadata.namespace) == 'shared'" >
        <a translate ng-href="#/projects/{{ stream.metadata.namespace }}">
          Images may be pulled by any authenticated user or group
        </a>
        <i title="Images accessible to authenticated users" class="fa fa-lock imagestream-lock"></i>
      </div>
      <div ng-if="!sharedImages(stream.metadata.namespace) == 'private'">
        <a translate ng-href="#/projects/{{ stream.metadata.namespace }}">
          Images may only be pulled by specific users or groups
        </a>
        <i title="Images only accessible to members" class="fa fa-lock imagestream-lock"></i>
      </div>
    <dt translate>Pull repository</dt>
    <dd ng-if="stream.spec.dockerImageRepository"><tt>{{stream.spec.dockerImageRepository}}</tt></dd>
    <dd ng-if="!stream.spec.dockerImageRepository"><em translate>None</em></dd>
    <dt translate>Image count</dt>
    <dd translate>{{stream.status.tags.length}}</dd>
</dl>
<p>
    <i class="fa fa-info-circle"></i>
    <span translate>To push to an image to this image stream:</span>
</p>
<code>$ sudo docker tag <em>myimage</em> <span ng-class="{ placeholder: !settings.registry.host_explicit }">{{settings.registry.host}}</span>/{{ stream.metadata.namespace }}/{{ stream.metadata.name}}:<em>tag</em>
$ sudo docker push <span ng-class="{ placeholder: !settings.registry.host_explicit }">{{settings.registry.host}}</span>/{{ stream.metadata.namespace }}/{{ stream.metadata.name}}</code>
