<div class="content-filter">
    <div class="listing-ct-actions">
        <button class="btn btn-danger btn-delete pficon pficon-delete"
            ng-click="deleteImageStream(stream)"></button>
        <button class="btn btn-default pficon pficon-edit"
            ng-click="modifyImageStream(stream)"></button>
    </div>
    <h3>
        <i class="fa fa-folder"></i>
        {{ stream.metadata.namespace }}/{{ stream.metadata.name}}
    </h3>
    <a ng-href="#{{ viewUrl('images') }}" translate>Show all image streams</a>
</div>

<div class="listing-ct-inline">
    <h3 translate>Image Stream</h3>
    <div class="listing-ct-body">
        <registry-imagestream-body imagestream="stream" imagestream-modify="modifyImageStream"
            project-modify="modifyProject" project-sharing="sharedImages">
        </registry-imagestream-body>
        <registry-imagestream-push settings="settings" imagestream="stream">
        </registry-imagestream-push>
    </div>
    <h3 translate>Images</h3>
    <div image-listing>
    </div>
    <h3 translate ng-if="stream.metadata.annotations">Metadata</h3>
    <div class="listing-ct-body" ng-if="stream.metadata.annotations">
        <registry-imagestream-meta imagestream="stream">
        </registry-imagestream-meta>
    </div>
</div>
