<div class="content-filter">
    <div class="listing-ct-actions">
        <button class="btn btn-danger btn-delete pficon pficon-delete"
            ng-click="deleteTag(stream, tag)"></button>
    </div>
    <h3>
        <i class="pficon pficon-image"></i>
        <span ng-if="labels.name">{{ labels.name }}</span>
        <span ng-if="!labels.name">{{ names[0] }}</span>
    </h3>
    <a ng-href="#/images/{{ stream.metadata.namespace }}/{{ stream.metadata.name }}"
        translate class="hidden-xs">Show all images</a>
</div>

<div class="listing-ct-inline">
    <h3 translate>Image</h3>
    <div class="listing-ct-body">
        <registry-image-body image="image" names="names">
        </registry-image-body>
        <registry-image-pull settings="settings" names="names">
        </registry-image-pull>
    </div>

    <h3 translate>Container</h3>
    <div class="listing-ct-body">
        <registry-image-config image="image">
        </registry-image-config>
    </div>

    <h3 translate>Metadata</h3>
    <div class="listing-ct-body">
        <registry-image-meta image="image">
        </registry-image-meta>
        <registry-image-layers image="image" layers="layers">
        </registry-image-layers>
    </div>
</div>
