<div class="listing-head" ng-click="listing.toggle(id)">
    <div class="listing-actions">
        <button class="btn btn-danger btn-delete pficon pficon-delete" disabled></button>
    </div>
    <h3><i class="pficon pficon-image"></i>{{ item.name }}</h3>
    <dl><dt translatable="yes">From:</dt><dd>{{ item.source }}</dd></dl>
    <dl><dt translatable="yes">Projects:</dt><dd>{{ item.imagestreams | imagesNamespaces }}</dd></dl>
</div>
<div class="listing-body">
    <table>
        <thead>
            <th translatable="yes">Tags</th>
            <th translatable="yes">Author</th>
            <th translatable="yes">Docker</th>
            <th translatable="yes">Architecture</th>
            <th translatable="yes">Size</th>
            <th translatable="yes">Last Updated</th>
        </thead>
        <tbody>
            <tr ng-repeat-start="image in item.images" class="images-docker-reference">
                <td colspan="6">{{image.dockerImageReference}}</td>
            </tr>
            <tr ng-repeat-end>
                <td>{{item.tags(image) | imagesTags:true}}</td>
                <td>{{image.dockerImageMetadata.Author}}</td>
                <td>{{image.dockerImageMetadata.DockerVersion}}</td>
                <td>{{image.dockerImageMetadata.Architecture}}</td>
                <td>{{image.dockerImageMetadata.Size | formatBytes}}</td>
                <td title="image.dockerImageMetadata.Created">{{image.dockerImageMetadata.Created | dateRelative}}</td>
            </tr>
        </tbody>
    </table>
</div>
