<div class="listing-ct-head">
    <div class="listing-ct-actions">
        <button title="Delete" class="delete-pod btn btn-danger btn-delete pficon pficon-delete"
            ng-click="deleteNode(item)"></button>
    </div>
    <ul class="nav nav-tabs nav-tabs-pf">
        <li ng-class="{active: tab('main')}"><a ng-click="tab('main', $event)" translate>Node</a></li>
        <li ng-class="{active: tab('capacity')}"><a ng-click="tab('capacity', $event)">Capacity</a></li>
    </ul>
</div>

<div node-alerts></div>

<div class="listing-ct-body" ng-show="tab('main')">
    <div class="row" node-body></div>

</div>
<div class="listing-ct-body" ng-show="tab('capacity')">
    <div class="row" node-capacity></div>
    <div class="row" node-stats></div>
</div>
