<modal-dialog>
    <div class="modal-header">
        <h3 class="modal-title" translate>Add Cluster Node</h3>
    </div>
    <div class="modal-body">
        <table class="form-table-ct">
            <tr>
                <td class="top"><label class="control-label" for="node-name" translate
                        placeholder="eg: 198.51.10.25">Address</label></td>
                <td class="top">
                    <input id="node-address" type="text" class="form-control"
                        ng-keyup="addressKeyUp($event)" ng-model="fields.address">
                </td>
            </tr>
            <tr>
                <td class="top"><label class="control-label" for="node-name" translate
                        placeholder="eg: node-1">Name</label></td>
                <td class="top">
                    <input id="node-name" type="text" class="form-control"
                        ng-keyup="nameKeyUp($event)" ng-model="fields.name">
                </td>
            </tr>
          <tr class="node-configure-header">
                <td colspan="2" class="header" translate>Configuration</td>
            </tr>
          <tr class="configure-option">
                <td></td>
                <td>
                    <label>
                        <!-- We don't support configuration for now -->
                        <input type="checkbox" ng-model="fields.proxy" disabled>
                        <span translate>Configure Kubelet and Proxy</span>
                    </label>
                </td>
            </tr>
          <tr class="configure-option">
            <td></td>
                <td>
                    <label>
                        <!-- We don't support configuration for now -->
                        <input type="checkbox" ng-model="fields.networking" disabled>
                        <span translate>Configure Flannel networking</span>
                    </label>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-cancel" translate>Cancel</button>
        <button class="btn btn-primary" translate ng-click="complete(performAdd())">Add</button>
    </div>
</modal-dialog>
