<div class="content-filter">
    <div class="listing-ct-actions" ng-if="item">
        <button title="Delete" class="delete-pod btn btn-danger btn-delete pficon pficon-delete"
            ng-click="deleteNode(item)"></button>
    </div>
    <h3 ng-if="item"><i class="pficon pficon-container-node"></i>{{ item.metadata.name }}</h3>
    <h3 ng-if="!item"><i class="pficon pficon-container-node"></i>{{ target }}</h3>
    <a ng-href="#/nodes" translate class="hidden-xs">Show all Nodes</a>
</div>

<div node-alerts></div>

<div class="listing-ct-inline" ng-if="item">
    <h3 translate>Node</h3>
    <div class="listing-ct-body container-fluid" node-body></div>

    <h3 translate>Capacity</h3>
    <div class="listing-ct-body container-fluid" node-capacity></div>
    <div class="listing-ct-body container-fluid" node-stats></div>
</div>

<div class="listing-ct-inline" ng-if="!item">
    <h3 translate>The node '{{ target }}' does not exist.</h3>
</div>
