<modal-dialog>
    <div class="modal-header">
        <h3 class="modal-title" ng-if="nodes.length > 1" translate>Delete Nodes</h3>
        <h3 class="modal-title" ng-if="nodes.length == 1" translate>Delete Node</h3>
    </div>
    <div class="modal-body nodes-delete">
        <p translate ng-if="nodes.length == 1">Do you want to delete this Node?</p>
        <p translate ng-if="nodes.length > 1">Do you want to delete the following Nodes?</p>
        <ul ng-class="{'dialog-list-ct': nodes.length > 1}">
            <li ng-repeat="node in nodes">{{ node.metadata.name }}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-cancel" translate>Cancel</button>
        <button class="btn btn-danger" translate ng-click="complete(performDelete())">Delete</button>
    </div>
</modal-dialog>
