<div class="row">
    <div class="col-sm-6">
        <dl>
            <dt ng-if="item === pod && settings.flavor == 'openshift'" translate>Project</dt>
            <dt ng-if="item === pod && settings.flavor != 'openshift'" translate>Namespace</dt>
            <dd ng-if="item === pod">{{ pod.metadata.namespace }}</dd>
            <dt ng-if="pod.metadata.creationTimestamp" translate>Created</dt>
            <dd ng-if="pod.metadata.creationTimestamp"
                title="{{ pod.metadata.creationTimestamp }}">{{ pod.metadata.creationTimestamp | dateRelative }}</dd>
            <dt translate>Restart Policy</dt>
            <dd>{{ pod.spec.restartPolicy }}</dd>
            <dt translate>Service Account</dt>
            <dd>{{ pod.spec.serviceAccountName }}</dd>
            <dt translate>DNS Policy</dt>
            <dd>{{ pod.spec.dnsPolicy }}</dd>
            <dt ng-if="pod.status" translate>Phase</dt>
            <dd ng-if="pod.status">{{pod.status.phase}}</dd>
            <dt ng-if="pod.spec.host" translate>Node</dt>
            <dd ng-if="pod.spec.host">{{pod.spec.host}}</dd>
            <dt ng-if="pod.status" translate>Pod Address</dt>
            <dd ng-if="pod.status">{{pod.status.podIP}}</dd>
        </dl>
    </div>
    <div class="col-sm-6">
        <dl class="full-width">
            <dt translate>Labels</dt>
            <dd ng-repeat="(key, value) in pod.metadata.labels">{{key}}={{value}}</dd>
        </dl>
    </div>
</div>
