<div>
    <div class="listing-head" ng-click="listing.toggle(id)">
        <div class="listing-actions">
            <button title="Delete" class="delete-pod btn btn-danger btn-delete pficon pficon-delete"
                ng-click="deleteItem(item)"></button>
        </div>
        <h3><i class="fa fa-cubes"></i>{{ item.metadata.name }}</h3>
        <div class="listing-status">
            <span>{{ podStatus(item) }}</span>
        </div>
        <ul class="nav nav-tabs nav-tabs-pf">
            <li ng-class="{active: tab('main')}"><a ng-click="tab('main', $event)">Pod</a></li>
            <li ng-class="{active: tab('containers')}"><a ng-click="tab('containers', $event)">Containers</a></li>
            <li ng-class="{active: tab('logs')}">
                <a ng-click="tab('logs', $event); tabbed = true">Logs</a></li>
            <li ng-class="{active: tab('shell')}">
                <a ng-click="tab('shell', $event); tabbed = true">Shell</a></li>
        </ul>
    </div>
    <div class="listing-body" ng-show="tab('main')">
        <kube-pod-body ng-init="pod = item">
        </kube-pod-body>
    </div>
    <div class="listing-body" ng-show="tab('containers')">
        <kube-container-body ng-repeat="container in containers(item)">
        </kube-container-body>
    </div>
    <div class="listing-body" ng-show="tab('logs')">
        <div class="container-fluid" ng-repeat="container in containers(item)"
            ng-class="{'container-more': !$first}">
            <p ng-if="!($first && $last)">{{ container.spec.name }}</p>
            <kube-console pod="item" container="container.spec.name" prevent="!tabbed">
            </kube-console>
        </div>
    </div>
    <div class="listing-body" ng-show="tab('shell')">
        <div class="container-fluid" ng-repeat="container in containers(item)"
            ng-if="item.status.phase == 'Running' && container.status.state.running"
            ng-class="{'container-more': !$first}">
            <p ng-if="!($first && $last)">{{ container.spec.name }}</p>
            <kubernetes-container-terminal pod="item" container="container.spec.name" prevent="!tabbed">
            </kubernetes-container-terminal>
        </div>
    </div>
</div>
