<div class="content-filter">
    <div class="listing-actions">
        <button class="btn btn-danger btn-delete pficon pficon-delete"
            disabled></button>
        <button class="btn btn-default pficon pficon-edit"
            ng-click="modifyProject(project())"></button>
    </div>
    <h3>
        <i class="pficon pficon-project"></i>
        <span ng-if="project().metadata.annotations['openshift.io/display-name']">
            {{ project().metadata.annotations['openshift.io/display-name'] }} ({{ project().metadata.name }})
        </span>
        <span ng-if="!project().metadata.annotations['openshift.io/display-name']">
            {{ project().metadata.name }}
        </span>
    </h3>
    <a ng-href="#/projects" translatable="yes">Show all projects</a>
</div>
<div class="listing-inline">
    <p class="project-description" ng-if="project().metadata.annotations['openshift.io/description']">
        {{ project().metadata.annotations['openshift.io/description'] }}
    </p>
    <h3 translatable="yes">Membership</h3>
    <div project-body class="listing-body">
    </div>
</div>
