<div class="listing-head" ng-click="listing.collapse(id, $event)">
    <div class="listing-actions">
        <button class="btn btn-danger btn-delete pficon pficon-delete" disabled></button>
        <button class="btn btn-default pficon pficon-edit"
            ng-click="modifyProject(project())"></button>
    </div>
    <h3><i class="pficon pficon-project"></i>
        <span ng-if="project().metadata.annotations['openshift.io/description']">
            {{ project().metadata.annotations['openshift.io/display-name'] }} ({{ project().metadata.name }})
        </span>
        <span ng-if="!project().metadata.annotations['openshift.io/description']">
            {{ project().metadata.name }}
        </span>
        <span class="project-description" ng-if="project().metadata.annotations['openshift.io/description']">
            <br>{{ project().metadata.annotations['openshift.io/description'] }}
        </span>
    </h3>
</div>
<div class="listing-body project-panel" ng-show="tab('main')">
    <div>
        <table listing-table class="listing project-body">
            <thead >
                <tr >
                    <th translatable="yes">Project Members</th>
                    <th translatable="yes">Roles</th>
                    <th translatable="yes"></th>
                </tr>
            </thead>
            <tbody colspan="3" ng-repeat="user in users()" ng-if="subjectIsMember(user, project().metadata.name)">
                <tr class="listing-item inner-project-listing">
                    <td>{{ user.metadata.name }}</td>
                    <td>
                        <span ng-repeat="role in subjectRoleBindings(user, project().metadata.name)">{{ role.metadata.name }} </span>
                    </td>
                    <td></td>
                </tr>
            </tbody>
            <tbody colspan="3" ng-repeat="group in groups()" ng-if="subjectIsMember(group, project().metadata.name)">
                <tr class="listing-item inner-project-listing">
                    <td>{{ group.metadata.name }}</td>
                    <td>
                        <span ng-repeat="role in subjectRoleBindings(group, project().metadata.name)">{{ role.metadata.name }} </span>
                    </td>
                    <td></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <td colspan="3">
                        <a class="pull-left" disabled>
                            <i translatable="yes" class="pficon pficon-add-circle-o"></i>
                            <span translatable="yes">Add Member</span>
                        </a>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</div>
