<div class="content-filter">
    <div class="listing-actions">
        <button class="btn btn-danger btn-delete pficon pficon-delete"
            disabled></button>
        <button class="btn btn-default pficon pficon-edit"
            ng-click="modifyProject(project())"></button>
    </div>
    <h3>
        <i class="pficon pficon-project"></i>
        <span ng-if="project().metadata.annotations['openshift.io/display-name']">
            {{ project().metadata.annotations['openshift.io/display-name'] }} ({{ project().metadata.name }})
        </span>
        <span ng-if="!project().metadata.annotations['openshift.io/display-name']">
            {{ project().metadata.name }}
        </span>
    </h3>
    <a ng-href="#/projects" translatable="yes">Show all projects</a>
</div>
<div class="listing-inline">
    <p class="project-description" ng-if="project().metadata.annotations['openshift.io/description']">
        {{ project().metadata.annotations['openshift.io/description'] }}
    </p>
    <h3 translatable="yes">Membership</h3>
    <table listing-table class="listing projects-listing">
        <thead>
            <tr>
                <th translatable="yes">Project Members</th>
                <th translatable="yes">Roles</th>
                <th translatable="yes"></th>
            </tr>
        </thead>
        <tbody ng-repeat="user in users()" ng-if="subjectIsMember(user, project().metadata.name)">
            <tr class="listing-item">
                <td>{{ user.metadata.name }}</td>
                <td>
                    <span ng-repeat="role in subjectRoleBindings(user, project().metadata.name)">{{ role.metadata.name }} </span>
                </td>
                <td></td>
            </tr>
        </tbody>
        <tbody ng-repeat="group in groups()" ng-if="subjectIsMember(group, project().metadata.name)">
            <tr class="listing-item">
                <td>{{ group.metadata.name }}</td>
                <td>
                    <span ng-repeat="role in subjectRoleBindings(group, project().metadata.name)">{{ role.metadata.name }} </span>
                </td>
                <td></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <td colspan="3">
                    <a class="pull-left" disabled>
                        <i translatable="yes" class="pficon pficon-add-circle-o"></i>
                        <span translatable="yes">Add Member</span>
                    </a>
                </td>
            </tr>
        </thead>
    </table>
</div>
