<div class="listing-actions project-panel-actions">
    <button class="btn btn-danger btn-delete pficon pficon-delete" disabled></button>
    <button class="btn btn-default pficon pficon-edit"
        ng-click="modifyProject(project())"></button>
</div>
<div class="listing-body project-panel">
    <p class="project-description" ng-if="project().metadata.annotations['openshift.io/description']">
        {{ project().metadata.annotations['openshift.io/description'] }}
    </p>
    <div project-body>
    </div>
</div>
