<table listing-table class="listing project-body">
    <thead >
        <tr >
            <th translatable="yes">Project Members</th>
            <th translatable="yes">Roles</th>
            <th translatable="yes"></th>
        </tr>
    </thead>
    <tbody colspan="3" ng-repeat="user in users()" ng-if="subjectIsMember(user, project().metadata.name)">
        <tr class="listing-item inner-project-listing">
            <td>{{ user.metadata.name }}</td>
            <td>
                <span ng-repeat="role in subjectRoleBindings(user, project().metadata.name)">{{ role.metadata.name }} </span>
            </td>
            <td></td>
        </tr>
    </tbody>
    <tbody colspan="3" ng-repeat="group in groups()" ng-if="subjectIsMember(group, project().metadata.name)">
        <tr class="listing-item inner-project-listing">
            <td>{{ group.metadata.name }}</td>
            <td>
                <span ng-repeat="role in subjectRoleBindings(group, project().metadata.name)">{{ role.metadata.name }} </span>
            </td>
            <td></td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <td colspan="3">
                <a class="pull-left" disabled>
                    <i translatable="yes" class="pficon pficon-add-circle-o"></i>
                    <span translatable="yes">Add Member</span>
                </a>
            </td>
        </tr>
    </thead>
</table>
