<modal-dialog>
    <div class="modal-header">
        <h4 class="modal-title" ng-if="!project" translatable="yes">New project</h4>
        <h3 class="modal-title" ng-if="project" translatable="yes">Change project</h3>
    </div>
    <div class="modal-body">
        <table class="cockpit-form-table">
            <tr>
                <td class="top">
                    <label class="control-label" for="project-new-name" translatable="yes">Name</label>
                </td>
                <td>
                    <input id="project-new-name" class="form-control" type="text"
                        ng-if="!project" ng-model="fields.name" autofocus>
                    <span id="project-new-name" ng-if="project">{{ fields.name }}</span>
                </td>
            </tr>
            <tr>
                <td class="top">
                    <label class="control-label" for="project-new-display" translatable="yes">Display name</label>
                </td>
                <td>
                    <input id="project-new-display" class="form-control" type="text"
                        ng-model="fields.display">
                </td>
            </tr>
            <tr>
                <td class="top">
                    <label class="control-label" for="project-new-description" translatable="yes">Description</label>
                </td>
                <td>
                    <input id="project-new-description" class="form-control" type="text"
                        ng-model="fields.description">
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-cancel" translatable="yes">Cancel</button>
        <button class="btn btn-primary" ng-if="!project" ng-click="complete(performCreate())"
            translatable="yes">Create</button>
        <button class="btn btn-primary" ng-if="project" ng-click="complete(performModify())"
            translatable="yes">Change</button>
    </div>
</modal-dialog>
