<div class="row">
    <div class="col-sm-6">
        <dl volume-body volume="item.spec">
        </dl>
        <dl>
            <dt ng-if="item.spec.persistentVolumeReclaimPolicy" translate>Reclaim Policy</dt>
            <dd ng-if="item.spec.persistentVolumeReclaimPolicy">{{ item.spec.persistentVolumeReclaimPolicy | reclaimLabel }}</dd>

            <dt ng-if="item.spec.accessModes" translate>Access Modes</dt>
            <dd ng-if="item.spec.accessModes">
                <span ng-repeat="mode in item.spec.accessModes">{{ mode |  accessModeLabel }}<span ng-if="!$last">, </span></span>
            </dd>
            <dt translate>Capacity</dt>
            <dd>
                <dl>
                    <dt ng-repeat-start="(key, value) in item.spec.capacity">{{ key | formatCapacityName }}</dt>
                    <dd ng-repeat-end>{{ value | formatCapacityValue:key  }}</dd>
                </dl>
            </dd>
        </dl>
    </div>
    <div class="col-sm-6">
        <dl class="full-width">
            <dt ng-if="target" translate>Status</dt>
            <dd ng-if="target && item.status.phase">{{ item.status.phase }}</dd>
            <dd ng-if="target && !item.status.phase" translate>Unknown</dd>
            <dt ng-if="item.status.message" translate>Message</dt>
            <dd ng-if="item.status.message">{{ item.status.message }}</dd>
        </dl>
    </div>
</div>
