<modal-dialog>
    <div class="modal-header">
        <h3 class="modal-title" translate>Remove Role</h3>
    </div>
    <div class="modal-body" translate>Do you want to remove the role '{{ fields.displayRole }}' from member {{ fields.member.metadata.name }}?</div>
    <div class="modal-footer">
        <button class="btn btn-default btn-cancel" translate>Cancel</button>
        <button class="btn btn-danger" translate ng-click="complete(performRemove())">Remove</button>
    </div>
</modal-dialog>
