<div class="panel panel-default panel-tabbed"
    ng-class="{ pinned: pinned }">
    <div class="panel-heading">
        <div class="listing-icons">
            <i class="fa pficon-replicator"></i>
        </div>
        <div class="listing-actions">
            <button title="Delete" class="btn btn-danger btn-delete pficon pficon-delete" disabled></button>
            <button title="Adjust" class="btn btn-default pficon pficon-edit" disabled></button>
        </div>
        <div class="listing-status">
            <span ng-if="item.spec.replicas === item.status.replicas">{{ item.spec.replicas }}</span>
            <span ng-if="item.spec.replicas !== item.status.replicas">{{ item.status.replicas }} of {{ item.spec.replicas }}</span>
        </div>
        <h3 class="listing-title" ng-click="select(id)">{{ item.metadata.name }}</h3>
    </div>
    <tabset class="">
        <tab heading="Replication Controller">
            <div class="panel-body row">
                <div class="col-sm-6">
                    <dl>
                        <dt ng-if="client.flavor == 'openshift'" translatable="yes">Project</dt>
                        <dt ng-if="client.flavor != 'openshift'" translatable="yes">Namespace</dt>
                        <dd>{{ item.metadata.namespace }}</dd>
                        <dt translatable="yes">Created</dt>
                        <dd title="{{ item.metadata.creationTimestamp }}">{{ item.metadata.creationTimestamp | timeAgo }}</dd>
                        <dt translatable="yes">Replicas</dt>
                        <dd>{{ item.spec.replicas }}</dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl>
                        <dt class="header full" translatable="yes">Labels</dt>
                        <dd class="full" ng-repeat="(key, value) in item.metadata.labels">{{key}}={{value}}</dd>
                    </dl>
                </div>
            </div>
        </tab>
        <tab heading="Pods">
            <div class="panel-body row">
                <div class="col-sm-6">
                    <dl ng-init="pods = replicationcontrollerPods(item)">
                        <dt class="header full" translatable="yes">Pod Replicated</dt>
                        <dd class="full" ng-repeat="pod in pods">
                            {{ pod.metadata.name }}</dd>
                        <dd ng-if="!pods.count" translatable="yes">No pods replicated</dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl>
                        <dt class="header full" translatable="yes">Pod Selector</dt>
                        <dd class="full" ng-repeat="(key, value) in item.spec.selector">{{key}}={{value}}</dd>
                    </dl>
                </div>
            </div>
        </tab>
        <tab heading="Template" ng-if="item.spec.template">
            <kube-pod-body ng-init="pod = item.spec.template">
            </kube-pod-body>
            <kube-container-body ng-repeat="container in client.containers(item.spec.template)">
            </kube-container-body>
        </tab>
      </tabset>
</div>
