<div class="row">
    <div class="col-sm-6">
        <dl>
            <dt ng-if="settings.flavor == 'openshift'" translate>Project</dt>
            <dt ng-if="settings.flavor != 'openshift'" translate>Namespace</dt>
            <dd>{{ item.metadata.namespace }}</dd>
            <dt translate>Created</dt>
            <dd title="{{ item.metadata.creationTimestamp }}">{{ item.metadata.creationTimestamp | dateRelative }}</dd>
            <dt translate>Replicas</dt>
            <dd ng-if="item.spec.replicas === item.status.replicas">{{ item.spec.replicas }}</dd>
            <dd ng-if="item.spec.replicas !== item.status.replicas">{{ item.status.replicas }}
                of {{ item.spec.replicas }}</dd>
        </dl>
    </div>
    <div class="col-sm-6">
        <dl class="full-width">
            <dt translate>Labels</dt>
            <dd ng-repeat="(key, value) in item.metadata.labels">{{key}}={{value}}</dd>
        </dl>
    </div>
</div>
