<div class="listing-ct-head">
    <div class="listing-ct-actions">
        <button title="Delete" class="delete-entity btn btn-danger btn-delete pficon pficon-delete"
            ng-click="deleteItem(item)"></button>
        <button title="Adjust" class="adjust-entity btn btn-default pficon pficon-edit"
            ng-click="modifyRC(item)"></button>
    </div>
    <ul class="nav nav-tabs nav-tabs-pf">
        <li ng-class="{active: tab('main')}">
            <a ng-click="tab('main', $event)" translate>Replication Controller</a></li>
        <li ng-class="{active: tab('pods')}">
            <a ng-click="tab('pods', $event)" translate>Pods</a></li>
        <li ng-class="{active: tab('template')}">
            <a ng-click="tab('template', $event)" translate>Template</a></li>
    </ul>
</div>
<div class="listing-ct-body" replicationcontroller-body ng-show="tab('main')">

</div>
<div class="listing-ct-body" replicationcontroller-pods ng-show="tab('pods')">

</div>
<div class="listing-ct-body" ng-show="tab('template')">
    <kube-pod-body ng-init="pod = item.spec.template">
    </kube-pod-body>
    <kube-container-body ng-repeat="container in containers(item.spec.template)">
    </kube-container-body>
</div>
