<modal-dialog>
    <div class="modal-header">
        <h3 class="modal-title" translate>Adjust Route</h3>
    </div>
    <div class="modal-body">
        <table class="form-table-ct">
            <tr class="adjust-host-header">
                <td class="top"><label class="control-label" translate>Host</label></td>
                <td>
                    <input class="form-control adjust-host" type="text" id="host-value" ng-model="fields.host">
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-cancel" translate>Cancel</button>
        <button class="btn btn-primary" translate ng-click="complete(performModify())">Change</button>
    </div>
</modal-dialog>
