<div class="listing-head" ng-click="select(id, $event)">
    <div class="listing-actions">
        <button title="Adjust"  class="btn btn-default pficon pficon-edit"  data-toggle="modal" 
            data-target="#adjust-route-dialog"  data-key="{{item.key}}"></button>
        <button title="Delete" class="route-delete btn btn-danger btn-delete pficon pficon-delete " 
            data-toggle="modal" data-target="#delete-entity-dialog" data-key="{{item.key}}">
        </button>
    </div>
    <h3><i class="pficon pficon-route"></i>{{ item.metadata.name }}</h3>
    <ul class="nav nav-tabs nav-tabs-pf">
        <li ng-class="{active: tab('main')}"><a ng-click="tab('main', $event)">Route</a></li>
    </ul>
</div>
<div class="listing-body" ng-show="tab('main')">
    <div class="row">
        <div class="col-sm-6">
            <dl>
                <dt ng-if="client.flavor == 'openshift'" translatable="yes">Project</dt>
                <dt ng-if="client.flavor != 'openshift'" translatable="yes">Namespace</dt>
                <dd>{{ item.metadata.namespace }}</dd>
                <dt translatable="yes">Created</dt>
                <dd title="{{ item.metadata.creationTimestamp }}">{{ item.metadata.creationTimestamp | timeAgo }}</dd>
                <dt translatable="yes">Host</dt>
                <dd>{{ item.spec.host }}</dd>

                <dt translatable="yes">TLS Termination</dt>
                <dd ng-if="item.spec.tls.termination" translatable="yes">yes</dd>
                <dd ng-if="!item.spec.tls.termination" translatable="yes">no</dd>

                <dt ng-if="item.spec.to">{{ item.spec.to.kind }}</dd>
                <dd ng-if="item.spec.to">{{item.spec.to.name}}</dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <dl class="full">
                <dt translatable="yes">Labels</dt>
                <dd ng-repeat="(key, value) in item.metadata.labels">{{key}}={{value}}</dd>
                <dd ng-if="!item.metadata.labels" translatable="yes">none</dd>
            </dl>
            <dl class="full">
                <dt translatable="yes">Annotations</dt>
                <dd class="full" ng-repeat="(key, value) in item.metadata.annotations">{{key}}={{value}}</dd>
                <dd class="full" ng-if="!item.metadata.annotations" translatable="yes">none</dd>
            </dl>
        </div>
    </div>
</div>
