<div class="listing-head" ng-click="listing.toggle(id)">
    <div class="listing-actions">
        <button title="Adjust"  class="btn btn-default pficon pficon-edit" ng-click="modifyRoute(item)"></button>
        <button title="Delete" class="route-delete btn btn-danger btn-delete pficon pficon-delete "
            ng-click="deleteItem(item)">
        </button>
    </div>
    <h3><i class="pficon pficon-route"></i>{{ item.metadata.name }}</h3>
    <ul class="nav nav-tabs nav-tabs-pf">
        <li ng-class="{active: tab('main')}"><a ng-click="tab('main', $event)">Route</a></li>
    </ul>
</div>
<div class="listing-body" ng-show="tab('main')">
    <div class="row">
        <div class="col-sm-6">
            <dl>
                <dt ng-if="settings.flavor == 'openshift'" translatable="yes">Project</dt>
                <dt ng-if="settings.flavor != 'openshift'" translatable="yes">Namespace</dt>
                <dd>{{ item.metadata.namespace }}</dd>
                <dt translatable="yes">Created</dt>
                <dd title="{{ item.metadata.creationTimestamp }}">{{ item.metadata.creationTimestamp | dateRelative }}</dd>
                <dt translatable="yes">Host</dt>
                <dd>{{ item.spec.host }}</dd>

                <dt translatable="yes">TLS Termination</dt>
                <dd ng-if="item.spec.tls.termination" translatable="yes">yes</dd>
                <dd ng-if="!item.spec.tls.termination" translatable="yes">no</dd>

                <dt ng-if="item.spec.to">{{ item.spec.to.kind }}</dd>
                <dd ng-if="item.spec.to">{{item.spec.to.name}}</dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <dl class="full-width">
                <dt translatable="yes">Labels</dt>
                <dd ng-repeat="(key, value) in item.metadata.labels">{{key}}={{value}}</dd>
                <dd ng-if="!item.metadata.labels" translatable="yes">none</dd>
            </dl>
            <dl class="full-width">
                <dt translatable="yes">Annotations</dt>
                <dd ng-repeat="(key, value) in item.metadata.annotations">{{key}}={{value}}</dd>
                <dd ng-if="!item.metadata.annotations" translatable="yes">none</dd>
            </dl>
        </div>
    </div>
</div>
