<div class="content-filter">
    <div class="listing-ct-actions">
        <button title="Adjust"  class="btn btn-default pficon pficon-edit" ng-click="modifyRoute(item)"></button>
        <button title="Delete" class="route-delete btn btn-danger btn-delete pficon pficon-delete "
            ng-click="deleteItem(item)">
        </button>
    </div>
    <h3 ng-if="item"><i class="pficon pficon-route"></i>{{ item.metadata.name }}</h3>
    <h3 ng-if="!item"><i class="pficon pficon-route"></i>{{ target }}</h3>
    <a ng-click="navigate(type)" translate class="hidden-xs">Show all Routes</a>
</div>

<div class="listing-ct-inline" ng-if="item">
    <h3 translate>Route</h3>
    <div class="listing-ct-body container-fluid" route-body></div>
</div>

<div class="listing-ct-inline" ng-if="!item">
    <h3 translate>The route '{{ target }}' does not exist.</h3>
</div>
