<div class="listing-ct-head">
    <div class="listing-ct-actions">
        <button title="Adjust"  class="btn btn-default pficon pficon-edit" ng-click="modifyRoute(item)"></button>
        <button title="Delete" class="route-delete btn btn-danger btn-delete pficon pficon-delete "
            ng-click="deleteItem(item)">
        </button>
    </div>
    <ul class="nav nav-tabs nav-tabs-pf">
        <li ng-class="{active: tab('main')}"><a ng-click="tab('main', $event)" translate>Route</a></li>
    </ul>
</div>
<div class="listing-ct-body" route-body ng-show="tab('main')">
</div>
