<div class="row">
    <div class="col-sm-6">
        <dl class="full-width" ng-repeat="subset in serviceEndpoint(item).subsets">
            <dt translate>Pod Endpoints</dt>
            <dd ng-repeat="address in subset.addresses">
                {{ address.ip }} &#8594; {{ address.targetRef.name }}</dd>
        </dl>
        <dl ng-if="!serviceEndpoint(item).subsets.length">
            <dt translate>Pod Endpoints</dt>
            <dd translate>No pods selected</dd>
        </dl>
    </div>
    <div class="col-sm-6">
        <dl class="full-width">
            <dt translate>Pod Selector</dt>
            <dd ng-repeat="(key, value) in item.spec.selector">{{key}}={{value}}</dd>
        </dl>
    </div>
</div>
