<div class="content-filter">
    <div class="listing-ct-actions">
        <button title="Delete" class="btn btn-danger btn-delete pficon pficon-delete delete-entity"
            ng-click="deleteItem(item)"></button>
    </div>
    <h3 ng-if="item"><i class="fa pficon-service"></i>{{ item.metadata.name }}</h3>
    <h3 ng-if="!item"><i class="fa pficon-service"></i>{{ target }}</h3>
    <a ng-click="navigate(type)" translate class="hidden-xs">Show all Services</a>
</div>

<div class="listing-ct-inline" ng-if="item">
    <h3 translate>Service</h3>
    <div class="listing-ct-body container-fluid" service-body></div>
    <h3 translate>Endpoints</h3>
    <div class="listing-ct-body container-fluid" service-endpoint></div>
</div>

<div class="listing-ct-inline" ng-if="!item">
    <h3 translate>The service '{{ target }}' does not exist.</h3>
</div>
