<div>
    <div class="listing-ct-head">
        <div class="listing-ct-actions">
            <button title="Delete" class="btn btn-danger btn-delete pficon pficon-delete delete-entity"
                ng-click="deleteItem(item)"></button>
        </div>
        <ul class="nav nav-tabs nav-tabs-pf">
            <li ng-class="{active: tab('main')}"><a ng-click="tab('main', $event)" translate>Service</a></li>
            <li ng-class="{active: tab('endpoints')}"><a ng-click="tab('endpoints', $event)" translate>Endpoints</a></li>
        </ul>
    </div>
    <div class="listing-ct-body" service-body ng-show="tab('main')">
    </div>
    <div class="listing-ct-body" service-endpoint ng-show="tab('endpoints')">
    </div>
</div>
