<modal-dialog>
    <div class="modal-header">
        <h4 class="modal-title" translatable="yes" >Remove User</h4>
    </div>
    <div class="modal-body">
        <div ng-if="fields.members.length != 0"> 
            <p>The user '{{ fields.user.metadata.name }}' will be removed from the following: </p>
            <div class="user-membership-body">
            <table listing-table class="listing projects-listing">
            <thead>
                    <tr><th></th></tr>
            </thead>
                <tbody ng-repeat="member in getProjectsWithMember(fields.projects, fields.user.metadata.name) track by member.metadata.name">
                    <tr><td class="user-membership-body-item">
                        {{ member.metadata.name }}
                    </td></tr>
                </tbody>
                <tbody ng-repeat="member in getGroupsWithMember(fields.groups, fields.user.metadata.name) track by member.metadata.name">
                    <tr><td class="user-membership-body-item">
                        {{ member.metadata.name }}
                    </td></tr>
                </tbody>
            </table>
            </div>
        </div>
        <div ng-if="fields.members.length == 0">
            <p>The user '{{ fields.user.metadata.name }}' will be removed.</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-cancel" translatable="yes">Cancel</button>
        <button class="btn btn-primary" ng-click="complete(performDelete(fields.user))" translatable="yes">Remove</button>
    </div>
</modal-dialog>
