<div class="content-filter">
    <div class="listing-ct-actions" ng-if="user()">
        <button class="btn btn-danger btn-delete pficon pficon-delete"
            ng-click="removeUser(projects(), groups(), user())"></button>
        <button class="btn btn-default pficon pficon-edit"
            ng-click="modifyUser(user())"></button>
    </div>
    <h3 ng-if="user()">
        <i class="pficon pficon-user"></i>
        <span>{{ user().metadata.name }}</span>
    </h3>
    <h3 ng-if="!user()">
        <i class="pficon pficon-user"></i>
        <span>{{ userName }}</span>
    </h3>
    <a ng-href="#/projects"
        translate class="hidden-xs">Show all Projects</a>
</div>
<div class="listing-ct-body user-body" ng-if="user()">
    <p>
    </p>
    <dl>
        <dt translate>Identities</dt>
        <dd>{{ user().identities }}</dd>
    </dl>
    <div user-body></div>
</div>
<div class="listing-ct-inline" ng-if="!user()">
    <h3 translate>The user '{{ userName }}' does not exist.</h3>
</div>
