<modal-dialog>
    <div class="modal-header">
        <h4 class="modal-title" translatable="yes">Remove membership</h4>
    </div>
    <div class="modal-body">
        <p> Do you want to remove '{{ fields.memberObj.metadata.name }}' from  '{{ fields.parentObj.metadata.name }}'</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-cancel" translatable="yes">Cancel</button>
        <button class="btn btn-primary" ng-click="complete(removeMemberFromParent())" translatable="yes">Delete</button>
    </div>
</modal-dialog>
