<dt translate>Volume Type</dt>
<dd>{{ volume | formatVolumeType }}</dd>

<dt ng-if="volume.gcePersistentDisk.pdName" translate>PD Name</dt>
<dd ng-if="volume.gcePersistentDisk.pdName">{{ volume.gcePersistentDisk.pdName }}</dd>
<dt ng-if="volume.gcePersistentDisk.fsType" translate>Filesystem Type</dt>
<dd ng-if="volume.gcePersistentDisk.fsType">{{ volume.gcePersistentDisk.fsType }}</dd>
<dt ng-if="volume.gcePersistentDisk"translate>Partition</dt>
<dd ng-if="volume.gcePersistentDisk">{{ volume.gcePersistentDisk.partition | formatPartitionNumber }}</dd>
<dt ng-if="volume.gcePersistentDisk" translate>Read Only</dt>
<dd ng-if="volume.gcePersistentDisk">{{ volume.gcePersistentDisk.readOnly | formatReadOnly }}</dd>


<dt ng-if="volume.awsElasticBlockStore.volumeID" translate>Volume ID</dt>
<dd ng-if="volume.awsElasticBlockStore.volumeID">{{ volume.awsElasticBlockStore.volumeID }}</dd>
<dt ng-if="volume.awsElasticBlockStore.fsType" translate>Filesystem Type</dt>
<dd ng-if="volume.awsElasticBlockStore.fsType">{{ volume.awsElasticBlockStore.fsType }}</dd>
<dt ng-if="volume.awsElasticBlockStore"translate>Partition</dt>
<dd ng-if="volume.awsElasticBlockStore">{{ volume.awsElasticBlockStore.partition | formatPartitionNumber }}</dd>
<dt ng-if="volume.awsElasticBlockStore" translate>Read Only</dt>
<dd ng-if="volume.awsElasticBlockStore">{{ volume.awsElasticBlockStore.readOnly | formatReadOnly }}</dd>


<dt ng-if="volume.gitRepo.repository" translate>Repository URL</dt>
<dd ng-if="volume.gitRepo.repository">{{ volume.gitRepo.repository }}</dd>
<dt ng-if="volume.gitRepo.revision" translate>Revision</dt>
<dd ng-if="volume.gitRepo.revision">{{ volume.gitRepo.revision }}</dd>
<dt ng-if="volume.gitRepo.directory" translate>Directory</dt>
<dd ng-if="volume.gitRepo.directory">{{ volume.gitRepo.directory }}</dd>

<dt ng-if="volume.secret.secretName" translate>Name</dt>
<dd ng-if="volume.secret.secretName">{{ volume.secret.secretName }}</dd>

<dt ng-if="volume.emptyDir.medium" translate>Medium</dt>
<dd ng-if="volume.emptyDir.medium">{{ volume.emptyDir.medium }}</dd>

<dt ng-if="volume.hostPath.path" translate>Path</dt>
<dd ng-if="volume.hostPath.path">{{ volume.hostPath.path }}</dd>

<dt ng-if="volume.glusterfs.endpoints" translate>Endpoint Name</dt>
<dd ng-if="volume.glusterfs.endpoints">{{ volume.glusterfs.endpoints }}</dd>
<dt ng-if="volume.glusterfs.path" translate>Volume Name</dt>
<dd ng-if="volume.glusterfs.path">{{ volume.glusterfs.path }}</dd>
<dt ng-if="volume.glusterfs" translate>Read Only</dt>
<dd ng-if="volume.glusterfs">{{ volume.glusterfs.readOnly | formatReadOnly }}</dd>

<dt ng-if="volume.nfs.server" translate>Server</dt>
<dd ng-if="volume.nfs.server">{{ volume.nfs.server }}</dd>
<dt ng-if="volume.nfs.path" translate>Path</dt>
<dd ng-if="volume.nfs.path">{{ volume.nfs.path }}</dd>
<dt ng-if="volume.nfs" translate>Read Only</dt>
<dd ng-if="volume.nfs">{{ volume.nfs.readOnly | formatReadOnly }}</dd>

<dt ng-if="volume.rbd.monitors" translate>Monitors</dt>
<dd ng-if="volume.rbd.monitors">
    <span ng-repeat="monitor in volume.rbd.monitors">{{ monitor }}<span ng-if="!$last">,</span></span>
</dd>
<dt ng-if="volume.rbd.image" translate>Image Name</dt>
<dd ng-if="volume.rbd.image">{{ volume.rbd.image }}</dd>
<dt ng-if="volume.rbd.pool" translate>Pool Name</dt>
<dd ng-if="volume.rbd.pool">{{ volume.rbd.pool }}</dd>
<dt ng-if="volume.rbd.fsType" translate>Filesystem Type</dt>
<dd ng-if="volume.rbd.fsType">{{ volume.rbd.fsType }}</dd>
<dt ng-if="volume.rbd" translate>User</dt>
<dd ng-if="volume.rbd.user">volume.rbd.user</dd>
<dd ng-if="volume.rbd && !volume.rbd.user">admin</dd>
<dt ng-if="volume.rbd.keyring && !volume.rbd.secretRef" translate>Key Ring Path</dt>
<dd ng-if="volume.rbd.keyring && !volume.rbd.secretRef">{{ volume.rbd.keyring }}</dd>
<dt ng-if="volume.rbd.secretRef" translate>Secret Volume</dt>
<dd ng-if="volume.rbd.secretRef">{{ volume.rbd.secretRef.name }}</dd>
<dt ng-if="volume.rbd" translate>Read Only</dt>
<dd ng-if="volume.rbd">{{ volume.rbd.readOnly | formatReadOnly }}</dd>
</dl>

<dt ng-if="volume.iscsi.targetPortal" translate>Target Portal</dt>
<dd ng-if="volume.iscsi.targetPortal">{{ volume.iscsi.targetPortal }}</dd>
<dt ng-if="volume.iscsi.iqn" translate>Qualified Name</dt>
<dd ng-if="volume.iscsi.iqn">{{ volume.iscsi.iqn }}</dd>
<dt ng-if="volume.iscsi.lun" translate>Logical Unit Number</dt>
<dd ng-if="volume.iscsi.lun">{{ volume.iscsi.lun }}</dd>
<dt ng-if="volume.iscsi.iscsiInterface" translate>Interface</dt>
<dd ng-if="volume.iscsi.iscsiInterface">{{ volume.iscsi.iscsiInterface }}</dd>
<dt ng-if="volume.iscsi.fsType" translate>Filesystem Type</dt>
<dd ng-if="volume.iscsi.fsType">{{ volume.iscsi.fsType }}</dd>
<dt ng-if="volume.iscsi" translate>Read Only</dt>
<dd ng-if="volume.iscsi">{{ volume.iscsi.readOnly | formatReadOnly }}</dd>
</dl>

<dt ng-if="volume.cinder.volumeID" translate>Volume ID</dt>
<dd ng-if="volume.cinder.volumeID">{{ volume.cinder.volumeID }}</dd>
<dt ng-if="volume.cinder.fsType" translate>Filesystem Type</dt>
<dd ng-if="volume.cinder.fsType">{{ volume.cinder.fsType }}</dd>
<dt ng-if="volume.cinder" translate>Read Only</dt>
<dd ng-if="volume.cinder">{{ volume.cinder.readOnly | formatReadOnly }}</dd>
</dl>

<dt ng-if="volume.cephfs.monitors" translate>Ceph Monitors</dt>
<dd ng-if="volume.cephfs.monitors">
    <span ng-repeat="monitor in volume.cephfs.monitors">{{ monitor }}<span ng-if="!$last">,</span></span>
</dd>
<dt ng-if="volume.cephfs.path" translate>Path</dt>
<dd ng-if="volume.cephfs.path">{{ volume.cephfs.path }}</dd>
<dt ng-if="volume.cephfs" translate>User</dt>
<dd ng-if="volume.cephfs.user">volume.cephfs.user</dd>
<dd ng-if="volume.cephfs && !volume.cephfs.user">admin</dd>
<dt ng-if="volume.cephfs.secretFile" translate>Secret File</dt>
<dd ng-if="volume.cephfs.secretFile">{{ volume.cephfs.secretFile }}</dd>
<dt ng-if="volume.cephfs.secretRef" translate>Secret Volume</dt>
<dd ng-if="volume.cephfs.secretRef">{{ volume.cephfs.secretRef.name }}</dd>
<dt ng-if="volume.cephfs" translate>Read Only</dt>
<dd ng-if="volume.cephfs">{{ volume.cephfs.readOnly | formatReadOnly }}</dd>


<dt ng-if="volume.fc.targetWWNs" translate>Target World Wide Names</dt>
<dd ng-if="volume.fc.targetWWNs">
    <span ng-repeat="wwn in volume.fc.targetWWNs">{{ wwn }}<span ng-if="!$last">,</span></span>
</dd>
<dt ng-if="volume.fc.lun" translate>Logical Unit Number</dt>
<dd ng-if="volume.fc.lun">{{ volume.fc.lun }}</dd>
<dt ng-if="volume.fc.fsType" translate>Filesystem Type</dt>
<dd ng-if="volume.fc.fsType">{{ volume.fc.fsType }}</dd>
<dt ng-if="volume.fc" translate>Read Only</dt>
<dd ng-if="volume.fc">{{ volume.fc.readOnly | formatReadOnly }}</dd>

<dt ng-if="volume.flocker.datasetName" translate>Flocker Dataset Name</dt>
<dd ng-if="volume.flocker.datasetName" >{{ volume.flocker.datasetName }}</dd>

<dt ng-if="volume.flexVolume.driver" translate>Driver</dt>
<dd ng-if="volume.flexVolume.driver">{{ volume.flexVolume.driver }}</dd>
<dt ng-if="volume.flexVolume.options" translate>Options</dt>
<dd ng-if="volume.flexVolume.options">{{ volume.flexVolume.options }}</dd>
<dt ng-if="volume.flexVolume.fsType" translate>Filesystem Type</dt>
<dd ng-if="volume.flexVolume.fsType">{{ volume.flexVolume.fsType }}</dd>
<dt ng-if="volume.flexVolume.secretRef" translate>Secret Volume</dt>
<dd ng-if="volume.flexVolume.secretRef">{{ volume.flexVolume.secretRef.name }}</dd>
<dt ng-if="volume.flexVolume" translate>Read Only</dt>
<dd ng-if="volume.flexVolume">{{ volume.flexVolume.readOnly | formatReadOnly }}</dd>

<dt ng-if="volume.azureFile.shareName" translate>Share Name</dt>
<dd ng-if="volume.azureFile.shareName">{{ volume.azureFile.shareName }}</dd>
<dt ng-if="volume.azureFile.secretName" translate>Secret Name</dt>
<dd ng-if="volume.azureFile.secretName">{{ volume.azureFile.secretName }}</dd>
<dt ng-if="volume.azureFile" translate>Read Only</dt>
<dd ng-if="volume.azureFile">{{ volume.azureFile.readOnly | formatReadOnly }}</dd>
