<dt translatable="yes">Volume Type</dt>
<dd translatable="yes">{{ volume | formatVolumeType }}</dd>

<dt ng-if="volume.gcePersistentDisk.pdName" translatable="yes">PD Name</dt>
<dd ng-if="volume.gcePersistentDisk.pdName">{{ volume.gcePersistentDisk.pdName }}</dd>
<dt ng-if="volume.gcePersistentDisk.fsType" translatable="yes">Filesystem Type</dt>
<dd ng-if="volume.gcePersistentDisk.fsType">{{ volume.gcePersistentDisk.fsType }}</dd>
<dt ng-if="volume.gcePersistentDisk"translatable="yes">Partition</dt>
<dd ng-if="volume.gcePersistentDisk">{{ volume.gcePersistentDisk.partition | formatPartitionNumber }}</dd>
<dt ng-if="volume.gcePersistentDisk" translatable="yes">Read Only</dt>
<dd ng-if="volume.gcePersistentDisk">{{ volume.gcePersistentDisk.readOnly | formatReadOnly }}</dd>


<dt ng-if="volume.awsElasticBlockStore.volumeID" translatable="yes">Volume ID</dt>
<dd ng-if="volume.awsElasticBlockStore.volumeID">{{ volume.awsElasticBlockStore.volumeID }}</dd>
<dt ng-if="volume.awsElasticBlockStore.fsType" translatable="yes">Filesystem Type</dt>
<dd ng-if="volume.awsElasticBlockStore.fsType">{{ volume.awsElasticBlockStore.fsType }}</dd>
<dt ng-if="volume.awsElasticBlockStore"translatable="yes">Partition</dt>
<dd ng-if="volume.awsElasticBlockStore">{{ volume.awsElasticBlockStore.partition | formatPartitionNumber }}</dd>
<dt ng-if="volume.awsElasticBlockStore" translatable="yes">Read Only</dt>
<dd ng-if="volume.awsElasticBlockStore">{{ volume.awsElasticBlockStore.readOnly | formatReadOnly }}</dd>


<dt ng-if="volume.gitRepo.repository" translatable="yes">Repository URL</dt>
<dd ng-if="volume.gitRepo.repository">{{ volume.gitRepo.repository }}</dd>
<dt ng-if="volume.gitRepo.revision" translatable="yes">Revision</dt>
<dd ng-if="volume.gitRepo.revision">{{ volume.gitRepo.revision }}</dd>
<dt ng-if="volume.gitRepo.directory" translatable="yes">Directory</dt>
<dd ng-if="volume.gitRepo.directory">{{ volume.gitRepo.directory }}</dd>

<dt ng-if="volume.secret.secretName" translatable="yes">Name</dt>
<dd ng-if="volume.secret.secretName">{{ volume.secret.secretName }}</dd>

<dt ng-if="volume.emptyDir.medium" translatable="yes">Medium</dt>
<dd ng-if="volume.emptyDir.medium">{{ volume.emptyDir.medium }}</dd>

<dt ng-if="volume.hostPath.path" translatable="yes">Path</dt>
<dd ng-if="volume.hostPath.path">{{ volume.hostPath.path }}</dd>

<dt ng-if="volume.glusterfs.endpoints" translatable="yes">Endpoint Name</dt>
<dd ng-if="volume.glusterfs.endpoints">{{ volume.glusterfs.endpoints }}</dd>
<dt ng-if="volume.glusterfs.path" translatable="yes">Volume Name</dt>
<dd ng-if="volume.glusterfs.path">{{ volume.glusterfs.path }}</dd>
<dt ng-if="volume.glusterfs" translatable="yes">Read Only</dt>
<dd ng-if="volume.glusterfs">{{ volume.glusterfs.readOnly | formatReadOnly }}</dd>

<dt ng-if="volume.nfs.server" translatable="yes">Server</dt>
<dd ng-if="volume.nfs.server">{{ volume.nfs.server }}</dd>
<dt ng-if="volume.nfs.path" translatable="yes">Path</dt>
<dd ng-if="volume.nfs.path">{{ volume.nfs.path }}</dd>
<dt ng-if="volume.nfs" translatable="yes">Read Only</dt>
<dd ng-if="volume.nfs">{{ volume.nfs.readOnly | formatReadOnly }}</dd>

<dt ng-if="volume.rbd.monitors" translatable="yes">Monitors</dt>
<dd ng-if="volume.rbd.monitors">
    <span ng-repeat="monitor in volume.rbd.monitors">{{ monitor }}<span ng-if="!$last">,</span></span>
</dd>
<dt ng-if="volume.rbd.image" translatable="yes">Image Name</dt>
<dd ng-if="volume.rbd.image">{{ volume.rbd.image }}</dd>
<dt ng-if="volume.rbd.pool" translatable="yes">Pool Name</dt>
<dd ng-if="volume.rbd.pool">{{ volume.rbd.pool }}</dd>
<dt ng-if="volume.rbd.fsType" translatable="yes">Filesystem Type</dt>
<dd ng-if="volume.rbd.fsType">{{ volume.rbd.fsType }}</dd>
<dt ng-if="volume.rbd" translatable="yes">User</dt>
<dd ng-if="volume.rbd.user">volume.rbd.user</dd>
<dd ng-if="volume.rbd && !volume.rbd.user">admin</dd>
<dt ng-if="volume.rbd.keyring && !volume.rbd.secretRef" translatable="yes">Key Ring Path</dt>
<dd ng-if="volume.rbd.keyring && !volume.rbd.secretRef">{{ volume.rbd.keyring }}</dd>
<dt ng-if="volume.rbd.secretRef" translatable="yes">Secret Volume</dt>
<dd ng-if="volume.rbd.secretRef">{{ volume.rbd.secretRef.name }}</dd>
<dt ng-if="volume.rbd" translatable="yes">Read Only</dt>
<dd ng-if="volume.rbd">{{ volume.rbd.readOnly | formatReadOnly }}</dd>
</dl>

<dt ng-if="volume.iscsi.targetPortal" translatable="yes">Target Portal</dt>
<dd ng-if="volume.iscsi.targetPortal">{{ volume.iscsi.targetPortal }}</dd>
<dt ng-if="volume.iscsi.iqn" translatable="yes">Qualified Name</dt>
<dd ng-if="volume.iscsi.iqn">{{ volume.iscsi.iqn }}</dd>
<dt ng-if="volume.iscsi.lun" translatable="yes">Logical Unit Number</dt>
<dd ng-if="volume.iscsi.lun">{{ volume.iscsi.lun }}</dd>
<dt ng-if="volume.iscsi.iscsiInterface" translatable="yes">Interface</dt>
<dd ng-if="volume.iscsi.iscsiInterface">{{ volume.iscsi.iscsiInterface }}</dd>
<dt ng-if="volume.iscsi.fsType" translatable="yes">Filesystem Type</dt>
<dd ng-if="volume.iscsi.fsType">{{ volume.iscsi.fsType }}</dd>
<dt ng-if="volume.iscsi" translatable="yes">Read Only</dt>
<dd ng-if="volume.iscsi">{{ volume.iscsi.readOnly | formatReadOnly }}</dd>
</dl>

<dt ng-if="volume.cinder.volumeID" translatable="yes">Volume ID</dt>
<dd ng-if="volume.cinder.volumeID">{{ volume.cinder.volumeID }}</dd>
<dt ng-if="volume.cinder.fsType" translatable="yes">Filesystem Type</dt>
<dd ng-if="volume.cinder.fsType">{{ volume.cinder.fsType }}</dd>
<dt ng-if="volume.cinder" translatable="yes">Read Only</dt>
<dd ng-if="volume.cinder">{{ volume.cinder.readOnly | formatReadOnly }}</dd>
</dl>

<dt ng-if="volume.cephfs.monitors" translatable="yes">Ceph Monitors</dt>
<dd ng-if="volume.cephfs.monitors">
    <span ng-repeat="monitor in volume.cephfs.monitors">{{ monitor }}<span ng-if="!$last">,</span></span>
</dd>
<dt ng-if="volume.cephfs.path" translatable="yes">Path</dt>
<dd ng-if="volume.cephfs.path">{{ volume.cephfs.path }}</dd>
<dt ng-if="volume.cephfs" translatable="yes">User</dt>
<dd ng-if="volume.cephfs.user">volume.cephfs.user</dd>
<dd ng-if="volume.cephfs && !volume.cephfs.user">admin</dd>
<dt ng-if="volume.cephfs.secretFile" translatable="yes">Secret File</dt>
<dd ng-if="volume.cephfs.secretFile">{{ volume.cephfs.secretFile }}</dd>
<dt ng-if="volume.cephfs.secretRef" translatable="yes">Secret Volume</dt>
<dd ng-if="volume.cephfs.secretRef">{{ volume.cephfs.secretRef.name }}</dd>
<dt ng-if="volume.cephfs" translatable="yes">Read Only</dt>
<dd ng-if="volume.cephfs">{{ volume.cephfs.readOnly | formatReadOnly }}</dd>


<dt ng-if="volume.fc.targetWWNs" translatable="yes">Target World Wide Names</dt>
<dd ng-if="volume.fc.targetWWNs">
    <span ng-repeat="wwn in volume.fc.targetWWNs">{{ wwn }}<span ng-if="!$last">,</span></span>
</dd>
<dt ng-if="volume.fc.lun" translatable="yes">Logical Unit Number</dt>
<dd ng-if="volume.fc.lun">{{ volume.fc.lun }}</dd>
<dt ng-if="volume.fc.fsType" translatable="yes">Filesystem Type</dt>
<dd ng-if="volume.fc.fsType">{{ volume.fc.fsType }}</dd>
<dt ng-if="volume.fc" translatable="yes">Read Only</dt>
<dd ng-if="volume.fc">{{ volume.fc.readOnly | formatReadOnly }}</dd>

<dt ng-if="volume.flocker.datasetName" translatable="yes">Flocker Dataset Name</dt>
<dd ng-if="volume.flocker.datasetName" >{{ volume.flocker.datasetName }}</dd>

<dt ng-if="volume.flexVolume.driver" translatable="yes">Driver</dt>
<dd ng-if="volume.flexVolume.driver">{{ volume.flexVolume.driver }}</dd>
<dt ng-if="volume.flexVolume.options" translatable="yes">Options</dt>
<dd ng-if="volume.flexVolume.options">{{ volume.flexVolume.options }}</dd>
<dt ng-if="volume.flexVolume.fsType" translatable="yes">Filesystem Type</dt>
<dd ng-if="volume.flexVolume.fsType">{{ volume.flexVolume.fsType }}</dd>
<dt ng-if="volume.flexVolume.secretRef" translatable="yes">Secret Volume</dt>
<dd ng-if="volume.flexVolume.secretRef">{{ volume.flexVolume.secretRef.name }}</dd>
<dt ng-if="volume.flexVolume" translatable="yes">Read Only</dt>
<dd ng-if="volume.flexVolume">{{ volume.flexVolume.readOnly | formatReadOnly }}</dd>

<dt ng-if="volume.azureFile.shareName" translatable="yes">Share Name</dt>
<dd ng-if="volume.azureFile.shareName">{{ volume.azureFile.shareName }}</dd>
<dt ng-if="volume.azureFile.secretName" translatable="yes">Secret Name</dt>
<dd ng-if="volume.azureFile.secretName">{{ volume.azureFile.secretName }}</dd>
<dt ng-if="volume.azureFile" translatable="yes">Read Only</dt>
<dd ng-if="volume.azureFile">{{ volume.azureFile.readOnly | formatReadOnly }}</dd>
