name: build-dist
on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Build jumpstart tarball
        run: pkg/build -j$(nproc) webpack-jumpstart.tar

      - name: Create dist artifact
        uses: actions/upload-artifact@v2
        with:
          name: webpack-jumpstart
          path: webpack-jumpstart.tar
          retention-days: 1
