name: release
on:
  push:
    tags:
      # this is a glob, not a regexp
      - '[0-9]*'


jobs:
  source:
    runs-on: ubuntu-latest
    outputs:
      checksum: ${{ steps.publish.outputs.checksum }}
    permissions:
      # create GitHub release
      contents: write
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Workaround for https://github.com/actions/checkout/pull/697
        run: git fetch --force origin $(git describe --tags):refs/tags/$(git describe --tags)

      - name: Build release
        run: tools/release '${{ github.server_url }}/${{ github.repository }}' '${{ github.ref_name }}'

      - id: publish
        name: Create a release
        run: |
          set -x

          TAG_VERSION="$(git describe --tags)"
          git tag -l --format='%(contents:body)' ${TAG_VERSION} > release-note.txt

          REPO_NAME="${GITHUB_REPOSITORY#*/}"
          gh release create --title ${TAG_VERSION} --notes-file release-note.txt  \
            ${TAG_VERSION} \
            ${REPO_NAME}-${TAG_VERSION}.tar.xz \
            ${REPO_NAME}-node-${TAG_VERSION}.tar.xz

          # Set outputs for downstream jobs if they can use it
          {
            echo "filename=${REPO_NAME}-${TAG_VERSION}.tar.xz"
            echo "download=${{ github.server_url }}/${{ github.repository }}/releases/download/${TAG_VERSION}/${REPO_NAME}-${TAG_VERSION}.tar.xz"
            echo "checksum=$(sha256sum ${REPO_NAME}-${TAG_VERSION}.tar.xz | cut -d ' ' -f 1)"
            echo "body<<EOF"
            cat release-note.txt
            echo "EOF"
          } >> "$GITHUB_OUTPUT"

  guide:
    needs: source
    uses: ./.github/workflows/update-guide.yml
    with:
      release_tag: ${{ github.ref_name }}
      checksum: ${{ needs.source.outputs.checksum }}

  flathub:
    needs: source
    uses: ./.github/workflows/release-flathub.yml
    with:
      release_tag: ${{ github.ref_name }}
      checksum: ${{ needs.source.outputs.checksum }}

  node-cache:
    # doesn't depend on it, but let's make sure the build passes before we do this
    needs: [source]
    runs-on: ubuntu-latest
    environment: node-cache
    # done via deploy key, token needs no write permissions at all
    permissions: {}
    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Set up git
        run: |
            git config user.name "GitHub Workflow"
            git config user.email "cockpituous@cockpit-project.org"

      - name: Tag node-cache
        run: |
          set -eux
          # this is a shared repo, prefix with project name
          TAG="${GITHUB_REPOSITORY#*/}-$(basename $GITHUB_REF)"
          tools/node-modules checkout
          cd node_modules
          git tag "$TAG"
          git remote add cache "ssh://git@github.com/${GITHUB_REPOSITORY%/*}/node-cache"
          eval $(ssh-agent)
          ssh-add - <<< '${{ secrets.DEPLOY_KEY }}'
          # make this idempotent: delete an existing tag
          git push cache :"$TAG" || true
          git push cache tag "$TAG"
          ssh-add -D
          ssh-add -D
