#resource-text{
    resize: none;
    height: 50vh;
    font-family: monospace;
}

.description{
    padding: 0.5em 0 0.5em;
}

#resource-text-error {
    padding-top: 1em;
}

.hide {
    display: none;
}

.drop-area {
    z-index: 11;
    border: #0088ce dashed;
}

.drop-area-over {
    z-index: 10;
    background-color: #0088ce;
    opacity: 0.25;
}

.drop-overlay {
    height: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    text-align: center;
    align-content: center;
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}

.disable-events {
    pointer-events: none;
}

.drop-container {
    position: relative;
}

.text-area-opacity {
    opacity: 0.25;
}

.unstyled-label {
    font-weight: normal;
}
