.centered {
    display: inline-block;
    vertical-align: middle;
}

.container {
    text-align: center;
    align-content: center;
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    width: initial;
}

.metric {
    height: 150px;
}

.small-text-layout {
    height: 12px;
}

.small-text {
    position: absolute;
    margin-top: -8px;
}

span.block {
    display:block;
}

.fa-arrow-up {
    color: #4d5258; /* pf-black-700 */
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.fa-arrow-down {
    color: #4d5258; /* pf-black-700 */
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.no-padding-left {
    padding-left: 0;
}

.inline-block {
    display: inline-block;
}
