.no-snapshots {
    text-align: center;
    line-height: 3.0rem
}

.snap-greyed-out {
    color: var(--pf-global--palette--black-600);
}

.tooltip-circle {
    padding: .5rem
}

.snap-creation-time {
    display: flex;
}
